@import "../../../../styles/base/_component-manifest.scss";
//qm-flow-sub-header

:host(.qm-service-page) {
  .qm-flow-sub-header__right {
    align-items: flex-end;
    margin-left: 16px;
  }

  .qm-checkbox__selector-icon-text {
    margin-left: 0.5rem;
    font-size: 18px;
    color:rgba(0,0,0,0.82);
  }

  .qm-checkbox-label {
    padding-right: 1rem;
    z-index: 400;
  }

  .qm-list{
    padding: 24px;
  }
  .qm-list__item {
    position: relative;
  }

  .qm-flow-sub-header {
    display: block;
  }

  .qm-service-search-area {
    display: flex;
  }
}

 .qm-list-item--frequent {
     @at-root [dir='rtl'] & {
         text-align: right;
     }
}

.qm-service- {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 134px);
  overflow: auto;
}

.qm-service-list__container-ext {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100vh - 100px);
  overflow: auto;
}

.qm-service-list {
  &__item-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
  }

  &__header {
    margin-top: 2rem;
  }
  &__item {
    &--text {
      white-space: nowrap;
      // width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  &__no-service{
    margin-top: 10px;
    font-size: 14px;
    color: #000000;
    @at-root [dir='rtl'] & {
      text-align: right;
  }
  }
}

.quick-serve-tooltip{
  width: 350px;
    z-index: 30;
    position: absolute;
    margin-left: 12px;
    // margin-top: -87px;
    margin-bottom: 10px;


    @at-root [dir="rtl"] & {
        margin-right: 12px;
        text-align: right;
    }

    &__rec{
      background: $dark-transparent82;
      color: $white;
      font-size: 16px;
      padding: 10px;
      line-height: 24px;
      text-align: center;
      border-radius: 5px;
      margin-top: -22px;

    }
}

.tool-tip-back-drop{
  width: 100vw;
  height: 100vh;  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  // background: rgba(0, 0, 0, 0.5);
} 


.triangle {
  width: 43px;
  height: 77px;
  position: relative;
  overflow: hidden;
  margin: auto;
  top:-22px;
 
//   @at-root [dir='ltr'] & {
//     left: 11%;
//   }
//   @at-root [dir='rtl'] & {
//     right: 11%;
// }
}
.triangle:after {
  content: "";
  position: absolute;
  width: 55px;
  height: 50px;
  background: $dark-transparent82;
  transform: rotate(45deg); /* Prefixes... */
  top: 75px;
  
  // box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}


.qm-select-service {
  &__search-heading {
    font-size: 1.125rem;
    padding-top: 1rem;
    padding-bottom: 1.5rem;
    mark {
      font-weight: bold;
      background: transparent;
    }
    &-your-search {
      color: $dark-transparent82;
    }
    padding-top: 1rem;
    @at-root [dir="rtl"] & {
      text-align: right;
    }
  }

  &__foundbox {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.42);
  }
}


@include qm-lg{

    @at-root [dir='ltr'] {
      .triangle{
      left: 11%;
      }}
  @at-root [dir='rtl']  {
    .triangle{
    right: 11%;
      }
    }
}

@include qm-md{ 
  @at-root [dir='ltr'] {
    .triangle{
    left: 11%;
    }}
@at-root [dir='rtl']  {
  .triangle{
  right: 11%;
    }
  }
  }

@include qm-sm{
  @at-root [dir='ltr']  {
  .quick-serve-tooltip{
    margin-left: -27px;
  }
  .triangle{
    left: 22%;
  }
  }
  @at-root [dir='rtl']  {
    .quick-serve-tooltip{
      margin-right: -27px;
    }
    .triangle{
      right: 22%;
    }
    }
}

@include qm-xs{
  @at-root [dir='ltr']  {
  .quick-serve-tooltip{
    margin-left: -97px;
  }
  .triangle{
    left: 42%;
  }
  }
  @at-root [dir='rtl']  {
    .quick-serve-tooltip{
      margin-right: -97px;
    }
    .triangle{
      right: 42%;
    }
    }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  @include qm-lg{
  .quick-serve-tooltip{
    @at-root [dir="ltr"] & {

    margin-left:-234px;
    }
    @at-root [dir="rtl"] & {
      margin-right:-234px;
    }
  }
  }
  @include qm-md{
    .quick-serve-tooltip{
      @at-root [dir="ltr"] & {
  
      margin-left:-234px;
      }
      @at-root [dir="rtl"] & {
        margin-right:-234px;
      }
    }
    }
    @include qm-sm{
      .quick-serve-tooltip{
        @at-root [dir="ltr"] & {
    
        margin-left:-274px;
        }
        @at-root [dir="rtl"] & {
          margin-right:-274px;
        }
      }
      }
    @include qm-xs{
        .quick-serve-tooltip{
          @at-root [dir="ltr"] & {
      
          margin-left:-341px;
          }
          @at-root [dir="rtl"] & {
            margin-right:-341px;
          }
        }
        }
}



.qm-service-list__item--text:focus{
  border:  solid #007bff 1px;
}
.qm-checkbox-focused{
  border:  solid #007bff 1px;
}

///Tempory: this can be removed after replacing the qm_list.scss file
.icon-info , .icon-info-solid{
    position: relative;
    right: 0; 
    transform: translateY(0%);
    top: 0%;    
    @at-root [dir='rtl'] & {
      left: 0;
    }
}
.qm-list__item{
display: flex;
}

.qm-service-list__item--text{
  background-color: white;
}
.qm-list__item{
 background: transparent; 
}

.qm-service-list-serached{
  height: calc(100vh - 295px);
  overflow: auto;
}

.qm-service-not-found-container{
  background:$white; 
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
  width:120%;
  font-size: 18px;
  padding: 1rem;
  color: $dark-transparent82;
}


.qm-white-container{
  background: #ffffff;
}

.qm-crossline-header-text{
  background: #fafafa;
}
.qm-flow-list-container{
  background: none;
}
.qm-pannel-inner-container{
  background: #fafafa;
  min-height: calc(100vh - 162px);
  padding: 30px 24px;
}

@include qm-lg{
  .qm-pannel-inner-container{
    margin: 0 126px;
  }

}
@include qm-md{
  .qm-pannel-inner-container{
    margin: 0 126px;
  }
}
@include qm-sm{
  .qm-pannel-inner-container{
    margin: 0 64px;
  }
}
@include qm-xs{
  .qm-pannel-inner-container{
    margin: 0;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .qm-checkbox__border{
    margin-top: -16px;
  }
}
.qm-check-box-background {
  top: -8px;
  left: 8px;
  @at-root [dir="rtl"] & {
    left: auto;
    right: 17px;
  }
}
[tabindex="-1"]:focus {
  outline: solid #72a2f7 1px !important;
}
.qm-transparent-btn{
  text-align: left;
  @at-root [dir='rtl'] & {
    text-align: right;
  }
}