@import '../../../../styles/base/_component-manifest.scss';
//qm-flow-sub-header

:host(.qm-service-page) {
    .qm-flow-sub-header__right {
        align-items: flex-end;
        margin-left: 16px;
    }

    .qm-checkbox__selector-icon-text {
        margin-left: 0.5rem;
    }
    
    .qm-checkbox-label {
        padding-right: 1rem;
    }

    .qm-list__item {
        position: relative;
    }

    .qm-flow-sub-header {
        display: block;
    }

    .qm-service-search-area {
        display: flex;
    }
}

.qm-service- {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 134px);
    overflow: auto;
}

.qm-service-list__container-ext {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: calc(100vh - 100px);
    overflow: auto;
}

.qm-service-list {
    &__item-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
    }

    &__header {
        margin-top: 2rem;
    }
}

/* .qm-service-list {

    &__item-container {
        width: 100%;
        align-items: center;
        margin-top: 20px;
    }

    &__selected-item-container {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
    }

    &__index-item {
        color: #FFFFFF;
        width: 25%;
        text-align: center;
    }

    &__header {
        text-align: left;
        width: 50%;
        margin-left: auto;
        margin-right: auto;
        color: black;

        @at-root [dir='rtl'] & {
            text-align: right;
        }
    }
    
    &__item {
        color: #000;
        background: #FFFFFF;
        text-align: center;
        height: 3.5em;
        line-height: 3em;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        max-width: 50%;
        font-size: 0.8em;
        font-weight: 500;
        margin: rem(4px);
        font-family: $primary-font-family;
        width: 50%;
        cursor: pointer;
        position: relative;
        letter-spacing: $extended-letter-spacing-2;
        margin-left: auto;
        margin-right: auto;

        &--selected {
            background-color: var(--app-theme);
            color: $primary-text-color;
            margin-left: 0;
            margin-right: 0;    

            &__btn {
                color: white;
                .qm-action-btn__icon {
                    font-size: rem(15px);
                  }
            }
        }


        &--text{
            text-overflow: ellipsis;
        }

        i {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            @at-root [dir='rtl'] & {
                left: 5%;   
            }
            @at-root [dir='ltr'] & {
                right: 5%;   
            }
        }
    }
} */

.qm-select-service {

    &__search-heading  {
        font-size: 1.125rem;
        padding-top: 1rem;
        mark {
            font-weight: bold;
            background: transparent;
        }
        padding-top: 1rem;
        @at-root [dir='rtl'] & {
            text-align: right;
          }
    }

    &__foundbox {
        font-size: 16px;
        color: rgba(0, 0, 0, 0.42);
    }

}