<div class="qm-flow-sub-header">
  <!--   <div class="qm-flow-sub-header__left"> -->
  <h1>{{ 'label.service.heading' | translate}}</h1>
  <div class="qm-selected-box" *ngIf="selectedServiceList && selectedServiceList.length > 0">
    <div class="qm-selected-box__heading">{{ 'label.selected.service' | translate }}</div>

    <div class="qm-flex-wrapper">
      <ng-container *ngFor="let service of selectedServiceList; let rowId = index">
        <div class="qm-selected-box__content-parent">
          <span class="qm-selected-box__bubble">{{rowId + 1}}</span>
          <div class="qm-selected-box__content">
            <div class="qm-select-box__text">
              {{ service.name && service.name.length > 0 ? service.name : service.internalName }}
            </div>
            <i aria-hidden="true" class="icon-delete" (click)="onServiceRemove(service)"></i>
          </div>
        </div>
      </ng-container>
    </div>

  </div>

  <div class="qm-service-search-area">
    <div class="qm-flow-sub-header__left">
      <div class="qm-search qm-search--large" *ngIf="serviceList && serviceList.length >= searchFieldServiceCount">
        <label class="sr-only" for="serviceSearchInput">{{'branch_search_placeholder' | translate}}</label>
        <input [(ngModel)]="searchText" qmClearInput (input)="handleInput($event)" class="qm-search__input ng-pristine ng-valid ng-touched"
          id="serviceSearchInput" name="serviceSearchInput" type="search" placeholder="{{'label.service.search' | translate}}">

        <button *ngIf="(searchText || '').trim().length === 0" class="qm-action-btn qm-action-btn--only-icon qm-search__btn">
          <i aria-hidden="true" class="qm-action-btn__icon icon-search qm-search__icon"></i>
          <span class="sr-only">Search</span>
        </button>
      </div>
    </div>
    <div class="qm-flow-sub-header__right">
      <div class="qm-checkbox__container">
        <label for="qm-checkbox" class="qm-checkbox-label">
          <input id="qm-checkbox" class="qm-checkbox" type="checkbox" (change)="onSwitchChange()" [(ngModel)]="isMultiServiceOn">
          <div class="qm-checkbox__selector">
            <i aria-hidden="true" class="qm-checkbox__selector-icon"></i>
            <div class="qm-checkbox__selector-icon-text">{{ 'multi_service' | translate }}</div>
          </div>
        </label>
        <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-option__help-btn qm-tooltip-btn">
          <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
          <span class="qm-tooltip"> {{ 'tooltip.multiservice' | translate}}</span>
        </button>
      </div>
    </div>
  </div>

</div>

<div [ngClass]="flowType === 'CREATE_APPOINTMENT' ? 'qm-service-list__container' : 'qm-service-list__container-ext'" dir="{{ userDirection$ | async }}">

  <div class="qm-service-list__item-container" *ngIf="mostFrequentServiceList && mostFrequentServiceList.length > 0 && (mostFrequentServiceList | filterService: [filterText, flowType]).length > 0">
    <div class="qm-crossline-header-container">
      <div class="qm-crossline-header"></div>
      <h2 class="qm-crossline-header-text">{{ 'most_freq_services' | translate }}</h2>
    </div>

    <div class="qm-list">
      <div *ngFor="let service of mostFrequentServiceList | filterService : [filterText, flowType]" class="qm-service-list__item qm-list__item"
        (click)="onServiceSelect(service, true)" [ngClass]="{'qm-service-list__item--selected, qm-list__item--selected': false}">
        <div class="qm-service-list__item--text qm-list__item--text">
          {{ service.name && service.name.length > 0 ? service.name : service.internalName }}</div>
        <i class="qm-action-btn__icon icon-info" aria-hidden="true"></i>
      </div>
    </div>

  </div>
  <div class="qm-service-list__item-container">

    <div class="qm-crossline-header-container">
      <div class="qm-crossline-header"></div>
      <h2 class="qm-crossline-header-text">{{ 'label.service.allservices' | translate }}</h2>
    </div>

    <div class="qm-service-list__header" *ngIf="selectedBranch && filteredServiceList.length === 0 && flowType === 'CREATE_APPOINTMENT'">{{ ('no_bookable_service' | translate) }}</div>

    <div class="qm-list">
      <ng-container *ngFor="let service of filteredServiceList | filterService : [filterText, flowType]">
        <div class="qm-service-list__item qm-list__item" (click)="onServiceSelect(service, true)" [ngClass]="{'qm-service-list__item--selected, qm-list__item--selected': false}">

          <div class="qm-service-list__item--text qm-list__item--text">
            {{ service.name && service.name.length > 0 ? service.name : service.internalName }}</div>
          <i class="qm-action-btn__icon icon-info" aria-hidden="true"></i>
        </div>
      </ng-container>
    </div>
  </div>
</div>
<div class="qm-flow-done-bar" *ngIf="selectedServiceList && selectedServiceList.length > 0">
  <div class="qm-flow-done-bar__done-button" (click)="doneButtonClick()"> {{'banner_done_label' | translate }}</div>
</div>
