@import "../../../../styles/base/_component-manifest.scss";
.time-category-container {
  display: flex;
}

.qm-time-category {
  flex: 1;
  display: flex;
  justify-content: center;
  background-color: $white;
  height: 2.5rem;
  cursor: pointer;
  letter-spacing: $extended-letter-spacing-2;
  color: $black;
  &--active {
    color: $primary-text-color;
  }
}

.qm-timeslots-hidden-message {
  font-size: 24px;
  font-weight: 300;
  color: $dark-transparent82;
  text-align: center;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}

.qm-time-select-slot {
    color: $dark-transparent82;
  background-color: $primary-text-color;
  display: flex;
  font-weight: 300;
  font-size: 18px;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0,0,0,0.12);
  height: 55px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0,0,0,0.04);
  .qm-time-select-slot--meridian {
      color: rgba(0,0,0,0.62);
      font-weight: 500;
    }

}
  &--active {
    background-color: $secondary-color;
    color: $primary-text-color;
    font-weight: 500;
    .qm-time-select-slot--meridian {
      color: $white;
    }
    &:hover {
        background-color: $secondary-color;
        .qm-time-select-slot--meridian {
            color: $white;
          }
    }
  }
  margin: 0.25rem;
  box-shadow: 2px 4px 4px 0 rgba(0,0,0,0.04);
  width: calc(25% - 10px);
  box-sizing: border-box;
  &:last-child {
      margin-bottom: 24px;
  }


}

.qm-time-slot-list__category-parent {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 0px;
bottom: 0;
top: 88px;
  width: 55px;
  padding-top: 3rem;
  background-color: $white;

  @at-root [dir='rtl'] & {
    right: 0;
    left: auto;
  }
}

.qm-time-slot-list {
  overflow-y: auto;
  font-family: $primary-font-family;
  display: flex;
  position: absolute;
  top: 90px;
  right: 0;
  left: 55px;
  bottom: 0;
  .qm-time-slot-list__scrollable {
    flex: 10;
    .qm-time-split {
      flex-wrap: wrap;
      background-color: $timeslot-background;
      justify-content: left;
      align-content: flex-start;
    }
  }

  @at-root [dir='rtl'] & {
    right: 55px;
    left: 0;
  }
}

.qm-time-slot-list[dir='rtl'] { 
    right: 55px;
    left: 0;
}

.qm-loading-timeslots {
  text-align: center;
  color: rgba(0, 0, 0, 0.82);
  font-weight: 300;
  font-size: 18px;

  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 2rem;

  &__content {
    line-height: 50px;
  }
}

.qm-available-slots-heading {
  font-size: 14px;
  font-weight: 500;
  color: $dark-transparent62;
  padding: 0.5rem;
  background: $white;
  width: 100%;
  margin-bottom: 0;
  padding-left: 55px;
  max-width: 100%;
  @at-root [dir='rtl'] & {
    text-align: right;
    padding-left: 0;
    padding-right: 55px;
  }
}

.qm-time-select-slot--meridian {
  color: rgba(0, 0, 0, 0.42);
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-left: 0.20rem;

  @at-root [dir='rtl'] & {
    margin-right: 0.2rem;
    margin-left: initial;
  }
}

.qm-time-slot-category--title {
  border: none;
  cursor: pointer;
  background: $white;
  height: 2rem;
  color: $dark-transparent62;
}
.qm-time-slot-category--title:hover{
  font-weight: 500;
  color: $dark-transparent82;
}


.qm-time-split {
  display: flex;
}

.qm-time-split__empty {
  min-height: 56px;
  color: $dark-transparent82;
  font-size: 18px;
  font-weight: 300;
  padding-left: 25px;
  display: flex;
  justify-content: flex-start;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;

  &--text {
    padding-right: 1rem;
    @at-root [dir='rtl'] & {
      padding-left: 1rem;
      text-align: right;
    }
  }

  &--time { 
    width: 200px;
    @at-root [dir='rtl'] & {
      text-align: right;
    }
  }
}

.qm-time-select-slot:focus{
  border:  solid #007bff 1px;
}
button[tabindex="-1"]:focus {
  border:  solid #007bff 1px !important;  
}