<div class="qm-pannel-container" [ngStyle]="{'height':  (selectedTime)?.length > 0  ? 'calc(100% - 80px)' : '100%'}">
    <div class="qm-pannel-full-inner-container" dir="{{ userDirection$ | async}}"> 
        <div>     
            <h1 class="qm-flow-header" id="panel-title" tabindex="-1">{{ 'label.select.datetime' | translate}}</h1>
          </div>
  <div class="qm-pannel-inner-container"> 
<div class="qm-flow-sub-header" >
  <!-- <i class="icon-caret-left qm-appointment-time-select__back-icon" [ngClass]="{'icon-caret-right': ( userDirection$ | async) === 'rtl'}"></i>
  <h1 class="qm-text-overflow-fix">{{ 'label.select.datetime' | translate}}</h1> -->
</div>
<div class="qm-appointment-time-select__content" id="main-container" dir="{{ userDirection$ | async }}">
  <div class="qm-number-of-customers">
    <div class="qm-number-of-customers__text qm-text-overflow-fix">{{ 'label.no_of_customers' | translate }}</div>
    <div class="qm-number-of-customers__numeric">
      <button class="qm-transparent-btn qm-number-of-customers__numeric-button" (click)="changeCustomerCount(-1)">
        <i class="icon-subtract"></i>
        <span class="sr-only">{{ 'button.decrease' | translate }}</span>
      </button>
      <div aria-live="polite" class="qm-number-of-customers__numeric-value">{{noOfCustomers}}</div>
      <button class="qm-transparent-btn qm-number-of-customers__numeric-button" (click)="changeCustomerCount(1)">
        <i class="icon-add"></i>
        <span class="sr-only">{{ 'button.increase' | translate }}</span>
      </button>
    </div>
  </div>

  <div class="qm-time-container" dir="{{ userDirection$ | async }}">
    <div class="qm-date-time-container">
   
    <div class="qm-calendar-container">      
        <div class="qm-branch-header qm-text-overflow-fix" *ngIf="selectedBranch">{{selectedBranch.name}}</div>
      <div class="qm-calendar-placeholder">
        <qm-calendar [enabledDates]="reservableDates" [selectedDates]="selectedDates" (onSelectDate)="onSelectDate($event)"></qm-calendar>
      </div>
    </div>
    <div class="qm-appointment-time-select-slots" #timeSlotContainer>
      <div class="qm-time-slot-header qm-time-header qm-text-overflow-fix">{{ selectedTimeHeading.length > 0 ? selectedTimeHeading :  ('time_slots' | translate)}}</div>
      <div class="qm-time-slot-placeholder">
        <qm-time-slots [preselectedTimeSlot]="preselectedTimeSlot" 
        (onTimeSlotSelect)="onTimeSlotSelect($event)"></qm-time-slots>
      </div>
    </div>
  </div>
  </div>
  </div></div>
  <!--ngb-datepicker #dp [(ngModel)]="model" [outsideDays]="'hidden'" firstDayOfWeek="7" [displayMonths]="displayMonths" [navigation]="'arrows'"  (navigate)="date = $event.next"></ngb-datepicker-->
</div>
</div>
<div class="qm-flow-done-bar" *ngIf="(selectedTime)?.length > 0">
  <div class="qm-flow-done-bar__done-button" (click)="doneButtonClick()"> {{'label.banner_done' | translate }}</div>
</div>
