@import "../../../../styles/base/_component-manifest.scss";

.qm-number-of-customers {
    display: flex;
    width: 100%;
    height: 3rem;
    align-items: center;
    &__text {
        color: $dark-transparent82;
        font-size: 18px;
        margin-right: 30px;
        max-width: 50%;
        @at-root [dir="rtl"] & {
            margin-left: 30px;
            margin-right: 0;
        }        
    }
    &__numeric {
        display: flex;
        margin-left: 1rem;
        align-items: center;
        &-button {
            width: 33px;
            height: 33px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 4px;
            border: 1px solid $primary-pink;
            color:  $primary-pink;
            background-color: $white;
        }

        &-value {
            width: 45px;
            height: 45px;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid $dark-transparent22;
            background-color: $primary-text-color;
            box-shadow: 0 0 4px 0 $dark-transparent04;
            margin-left: 1rem;
            margin-right: 1rem;
        }
    }
}

.qm-appointment-time-select {
    &__content {
  
    }

    &-slots {
        flex: 1;
    }


}

.qm-time-header {
    background: $secondary-color;
    color: $white;
    height: 3.25rem;
    font-size: 21px;
    font-weight: 500;
    text-align: center;
    line-height: 3.25rem; 
}

.qm-branch-header {
    color: $dark-transparent42;
    font-size: 18px;
    font-weight: 500;
    max-width: 90%;
    text-align: left;
    background-color: $background-default;
    position: absolute;
    left: 0;
    top: 20px;
    @at-root [dir='rtl'] & {
        right: 0;
        left: auto;
    }
}

.qm-calendar-container {
    flex: 1;
    margin: 48px 1.5rem 0rem 0rem;
    background-color: $white;
    border: 1px solid rgba(0, 0, 0, 0.12);
    @at-root [dir="rtl"] & {
        margin-right: 0;
        margin-left: 1.5rem;
    }  
}

.qm-calendar-placeholder {
    background-color: $calendar-background;
    // height: calc(100vh - 388px);
    @at-root [dir="rtl"] & {
        margin-left: 2rem;
        margin-right: 0;
    }   
}

[dir="rtl"] .qm-calendar-placeholder {
    
}

.qm-appointment-time-select-slots {
    margin: 47px 0rem 0rem 0rem;
    border: 1px solid rgba(0, 0, 0, 0.12);
    position: relative;

    ::ng-deep .qm-time-slot-list {
        @include qm-xs {
            position: static;
            height: 25rem; 
        }

        &__scrollable {
            @include qm-xs {
               margin-left: 56px; 
            }
        }
    }


}

::ng-deep .qm-calendar-placeholder {
    width: 478px;
}

::ng-deep .qm-calendar-container {
    width: 480px;
}


.qm-time-container {
    display: flex;
    overflow: hidden;
    // height: calc(100vh - 330px);
    position: relative;

    @include qm-xs {
        flex-direction: column;
    }
}

.qm-pannel-inner-container {
    background-color: $background-default;
    @include qm-xs {
        width: 480px;
    }

    @include qm-sm {
        width: 976px;
        height: 100%;
    }

    @include qm-md {
        width: 1288px;
        height: 100%;
        padding-left: 150px;
        padding-right: 150px;
    }

    @include qm-lg {
        height: 100%;
        padding-left: 150px;
        padding-right: 150px;
    }
}

.qm-pannel-container {
    @include qm-md {
        background-image: $workflow-blue-background;
    }

    @include qm-lg {
        background-image: $workflow-blue-background;
    }
}

