.qm-checkbox__container {
  position: relative;
  display: flex;
}

.qm-option__checkbox:checked~.qm-option__checkbox-icon:before {
  content: "\e95e";
}

.qm-checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;


  &-label {
    margin-bottom: 0rem;
    display: flex;
  }

  &:input {
    display: none;
  }

  &:checked {
    color: $primary-text-color;
    &~.qm-checkbox__selector {
      .qm-checkbox__selector-icon {
        color: $checkbox-color;
        &:before {
          content: "\e95e";
        }
      }
    }
  }

  &__selector {
    display: inline-flex;
    align-items: center;
  }

  &__selector-icon {
    font-size: 2.2rem;
    color: $dark-transparent12;
    &:before {
      content: "\e961";
      font-family: icomoon !important;
      speak: none;
      font-style: normal;
      font-weight: 400;
      font-variant: normal;
      text-transform: none;
      line-height: 1;
      -webkit-font-smoothing: antialiased;
    }

    &-text {
        color: $primary-label-color;
        line-height: 24px;
        font-size: rem(18px);
        margin-bottom: 5px;
    }
  }
}

.qm-checkbox__border{
    border: 1px solid rgba(0,0,0,0.62);
    border-radius: 7px;
    width: 27px;
    height: 27px;
    position: absolute;
    margin-left: 4px;
    margin-top: -3.5px;
    @at-root [dir="rtl"] & {
      margin-right: 4px;
    }
}