input::-ms-clear {
  display: none;
}

.qm-input-box {  

  display: block;
  border-radius: 5px;
  margin: auto; 
  position: relative;
  // overflow: auto;




  input {
    padding: rem(13px);
    float: left;
    padding-right: rem(30px);
    padding-left: rem(25px);
    width: 100%;
    border: 1px solid $dark-transparent20;
    font-weight: 300;
    font-size: 1.2em;
  }

  input.ng-invalid.ng-touched {
    background-color: #ffaab7;
  }

  input.ng-submitted {
    background-color: #ffaab7;
  }

  input:focus{
    background-color: white!important;
    border: 1px solid $dark-transparent42;
  }


  &__header {
    padding: rem(40px 20px 5px 20px );
    text-align: center;
  }

  &__headline {
    color: $black;
    font-size: rem(15px);
    text-align: center;
  }

  &__inputbox-name {
    display: block;
    color: $dark-transparent62;
    font-size: rem(15px);
    margin-right: rem(8px);
    @at-root [dir="rtl"] & {
      text-align: left;
    }
    white-space: nowrap; text-overflow:ellipsis; overflow: hidden; 
    
  }
  &__row{
    margin-top: 20px;
  }
  &__row:after {
    content: "";
    display: table;
    clear: both;
  
}

  &__col-1{
    float: left;
    width: 40%;
    margin-top: rem(10px);
    color: $black;
    @at-root [dir="rtl"] & {
      float: right;
    } 
  }

  
  &__col-50{
    float: left;
    width: 50%;
    margin-top: rem(10px);
    color: $black;
    @at-root [dir="rtl"] & {
      float: right;
    } 
  }
  &__left-side{
    padding-right: 10px;
  }


  &__col-2{
    display: flex;
   
    width: 60%;
    padding: rem(2px);
 
  }

  &__label-first-name{
    float:left;
  }
  &__inputbox-month{
    width: 90% !important
  }
  &__label-required{
    float: right;
    color: $pale-aquamarine;
  }
  
  &__button-container {
    display: flex;
    flex-direction: row;
    margin: rem(0px 0px 20px 0px);
  }

  &__primary-button  {
    background-color:$modal-secondary-button-background;
    color: $white;
    font-family: Montserrat-Light;
    font-size: rem(12px);
    border: none;
    padding: 15px;
    width: 105px;
    margin-left: rem(15px);
    float: left;
    white-space: nowrap; text-overflow:ellipsis; overflow: hidden; 
  }
  :focus{
    outline: none; 
  }

  &__valid-button {
    background-color:var(--app-theme);
  }

  &__secondary-button {
  
    background: $modal-secondary-button-background;
    color: $white;
    font-size: rem(12px);
    border: none;
    font-family: Montserrat-Light;
    margin-right: rem(15px);
    padding: 15px;
    width: 105px;
    float: right;
    white-space: nowrap; text-overflow:ellipsis; overflow: hidden; 
    @at-root [dir="rtl"] & {
      margin-left: rem(5px);
    }
  }
  

  
}

.invalid{
  background-color: #ffaab7;
}

.qm-clear-search{   
  // display: inline-block;
  // vertical-align: middle;
  margin:10px 10px -10px -25px;
  z-index: 2;
  color: black;
  cursor: pointer;
  @at-root [dir="rtl"] & {
     margin:10px -25px 10px 10px;
    }
}


