input::-ms-clear {
  display: none;
}

.qm-input-box {  
  background-color: $light-gray2;
  display: block;
  border-radius: 5px;
  margin: auto; 
  position: relative;
  // overflow: auto;
  width: 450px;
  margin-left:-100px;

  input {
    padding: rem(12px);
    outline: none;
    border: 0;
    float: left;
    // width: 100%;
  }
  input.ng-invalid.ng-touched {
    background-color: #ffaab7;
  }

  .submitted .ng-invalid{
    background-color: #ffaab7;
  }

  &__header {
    padding: rem(40px 20px 5px 20px );
    text-align: center;
  }

  &__headline {
    color: $black;
    font-size: rem(15px);
    text-align: center;
  }

  &__inputbox-name {
    display: block;
    color: $black;
    font-size: rem(12px);
    text-align: right;
    font-weight: bold;
    margin-right: rem(8px);
    @at-root [dir="rtl"] & {
      text-align: left;
    }
    
  }

  &__row:after {
    content: "";
    display: table;
    clear: both;
}

  &__col-1{
    float: left;
    width: 40%;
    margin-top: rem(12px);
    color: $black;
    @at-root [dir="rtl"] & {
      float: right;
    }
  }

  &__col-2{
    float: left;
    width: 60%;
    padding: rem(2px);
    @at-root [dir="rtl"] & {
      float: right;
    }
  }
  
  &__button-container {
    display: flex;
    flex-direction: row;
    margin: rem(0px 40px 20px 5px);
    // min-height: rem(50px);
  }

  &__primary-button  {
    background-color:$modal-secondary-button-background;
    flex: 1;
    color: $white;
    font-family: Montserrat-Light;
    font-size: rem(12px);
    border: none;
    padding: 15px;
    margin-left: rem(15px);
  }

  &__valid-button {
    background-color:var(--app-theme);
  }

  &__secondary-button {
    flex: 1;
    background: $modal-secondary-button-background;
    color: $white;
    font-size: rem(12px);
    border: none;
    font-family: Montserrat-Light;
    margin-right: rem(15px);
    padding: 15px;
    @at-root [dir="rtl"] & {
      margin-left: rem(5px);
    }
  }

  
}

