.qm-input-box {  
  background-color: $light-gray2;
  display: block;
  border-radius: 5px;
  margin: auto; 
  position: relative;
  // overflow: auto;
  width: 500px;
  right: 0px;
  &__header {
    padding: rem(25px 20px );
    text-align: center;
  }

  &__headline {
    color: $black;
    font-size: rem(15px);
    text-align: center;
    @at-root [dir="rtl"] & {

    }
  }

  &__inputboxes {
    padding: rem(10px);
    overflow: auto;
    
  }

  input {
    padding: rem(8px);
    outline: none;
    border: 0;
    float: left;
    // width: 100%;
  }
  
  &__inputbox-name {
    color: $black;
    font-size: rem(12px);
    text-align: right;
    margin-right: 10px;
  }

  &__row{
    display: flex;
    flex-direction: row;
    margin: 5px
  }


  &__col-1{
    float: left;
    width: 30%;
    // padding: rem(8px);
  }

  &__col-2{
    float: left;
    width: 60%;
    // padding: rem(8px);
  }
  
  &__button-container {
    display: flex;
    flex-direction: row;
    padding: rem(10px);
    min-height: rem(65px);
  }

  &__primary-button {
    background-color:var(--app-theme);
    flex: 1;
    color: $white;
    font-family: Montserrat-Light;
    font-size: rem(12px);
    border: none;
  }

  &__secondary-button {
    flex: 1;
    background: $modal-secondary-button-background;
    color: $white;
    font-size: rem(12px);
    border: none;
    font-family: Montserrat-Light;
    margin-right: rem(5px);
    @at-root [dir="rtl"] & {
      margin-left: rem(5px);
    }
  }
}

