// Toast containers
.qm-messages {
    position: fixed;
    top: 0;
    z-index: map-get($z-index, 'toastContainer');
    width: 100%;
    max-width: 602px;
    left: 50%;
    top: 50%;
    transform: translateX(-50%);
  }
  