.qm-modal {

  &__box-container {
    padding: rem(34px $standard-padding);
    margin: rem(0 $standard-margin);
    background: $white;
  }

  &__header {
    display: flex;
    align-items: center;
    margin-bottom: rem(40px);
  }

  &__header-full {
    flex: 0 0 100%;
  }

  &__headline {
    font-size: rem(28px);
    line-height: rem(32px);
    font-weight: $font-weight-light;
    color: $dark-transparent82;

    @at-root [dir='rtl'] & {
      margin-left: 0;
      margin-right: rem($standard-margin / 2);
    }
  }

  &__close-btn {
    .qm-action-btn__icon {
      font-size: rem(24px);
      color: $dark-transparent82;
    }
  }

  &__body {
    // display: flex;
    // flex-wrap: nowrap;

    // &--wrap {
    //   flex-wrap: wrap;
    // }
  }

  &__body-full {
    flex: 0 0 100%;
  }

  &__body-left {
    flex: 0 1 510px;

    @at-root [dir='rtl'] & {
      margin-left: rem(60px);
    }
  }

  &__body-right {
    flex: 0 1 510px;
    margin-left: rem(60px);

    @at-root [dir='rtl'] & {
      margin-left: 0;
    }
  }

  &__sub-header {
    display: block;
    color: $dark-transparent42;
    font-weight: $font-weight-medium;
    margin-bottom: rem($standard-margin / 2);

    @at-root [dir='rtl'] & {
      text-align: right;
    }
  }

  &__date-header {
    display: block;
    font-size: rem(21px);
    color: $dark-transparent82;
    font-weight: $font-weight-medium;
    margin-top: rem($standard-margin / 2);
    margin-bottom: rem($standard-margin * 1.5);

    @at-root [dir='rtl'] & {
      text-align: right;
    }
  }

  &__paragraph {
    color: $dark-transparent82;
    font-weight: $font-weight-light;

    &--large {
      font-size: rem(24px);
      line-height: rem(32px);
    }

    &--centered {
      text-align: center;
    }
  }

  &__footer {
    margin-top: rem(60px);
  }

  &--sm {
    max-width: rem(420px + $standard-margin * 2);
    width: 100%;
  }

  &--md {
    max-width: rem(510px + $standard-margin * 2);
    width: 100%;
  }

  &--lg {
    max-width: rem(824px + $standard-margin * 2);
    width: 100%;
  }

  &--xl {
    max-width: rem(1060px + $standard-margin * 2);
    width: 100%;
  }

  &--narrow {
    max-width: rem(540px + $standard-margin * 2);
    width: 100%;
  }

  .qm-headline {
    font-size: rem(28px);

    &--md {
      font-size: rem(24px);
      margin-bottom: rem($standard-margin);
    }
  }

  &--prompt {
    max-width: rem(480px + $standard-margin * 2);
    width: 100%;

    .qm-headline {
      margin-bottom: 0;
    }

    .qm-modal__header {
      margin-bottom: rem($standard-margin * 1.5);
    }

    .qm-modal__footer {
      margin-top: rem($standard-margin * 2);
    }
  }
}
