.qm-crossline-header {
  height: 2px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;

  &-text {
    font-size: rem(18px);
    line-height: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.42);
    position: absolute;
    z-index: 1;
    top: -13px;
    transform: translateX(-50%);
    left: 50%;
    text-transform: uppercase;
    background:$white;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
    max-width: 50%;  
    @include qm-xs-lower{
      max-width: 70%;
    }
  }
}

.qm-crossline-header-container {
    position: relative;
    width: 100%;
}

.qm-text-overflow-fix {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.qm-appointment-time-select__content[dir="rtl"] .qm-calendar-header {
  text-align: right;
}

[dir='rtl'] .qm-reservation-expiry-timer {
  left: 0.5rem;
  right: auto !important;
}

.qm-checkout-view-flowpanel {
  .qm-flow-pane__content {
    padding-top: 0;
    background: linear-gradient(254.96deg, #32405C 0%, #40526E 34.9%, #374561 62.87%, #394561 77.12%, #484766 100%);
  }
}