@import '../base/colors';


.qm-flow-component-root {
    background-color: $flow-background;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    @include vendorPrefix(animation-duration, 0.5s, webkit moz ms);
    z-index: 50;
    display: flex;
}