.qm-table {
    &__row {
        display: flex;
        width: 100%;
    }

    @for $i from 1 through 20 {
      $attr-value: 5 * $i;

      &__cell-#{$attr-value} {
         width: $attr-value * 1% ;
         padding-left: 1rem;
         padding-right: 1rem;
      }
    }
}
