.qm-crossline-header {
  height: 2px;
  width: 800px;
  background-color: rgba(0, 0, 0, 0.12);
  width: 100%;

  &-text {
    font-size: rem(18px);
    line-height: 24px;
    font-weight: 500;
    color: rgba(0, 0, 0, 0.42);
    position: absolute;
    z-index: 1;
    top: -13px;
    transform: translateX(-50%);
    left: 50%;
    text-transform: uppercase;
    background-color: $light-gray10;
    padding-right: 2rem;
    padding-left: 2rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;  
    max-width: 50%;  
  }
}

.qm-crossline-header-container {
    position: relative;
    width: 100%;
}

.qm-text-overflow-fix {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.qm-appointment-time-select__content[dir="rtl"] .qm-calendar-header {
  text-align: right;
}

[dir='rtl'] .qm-reservation-expiry-timer {
  left: 0.5rem;
}

.qm-checkout-view-flowpanel {
  .qm-flow-pane__content {
    padding-top: 0;
    background: linear-gradient(to bottom, #202c44 1%, #27364e 18%, #27364e 46%, #6d6981 93%, #6d6981 93%, #6d6981 93%, #6d6981 100%, #6d6981 100%);
  }
}