@import '../base/colors';


.qm-flow-component-root {
    background-color: $flow-background;
    height: 100%;
    width: 100%;
    position: absolute;
    top:0;
    left: 0;
    @include vendorPrefix(animation-duration, 0.5s, webkit moz ms);
    z-index: 50;
    display: flex;
}

.qm-flow-done-bar{
    z-index: 10000;
    background-color: $white;
    height: 80px;
    width: 100%;
    left:0;
    bottom: 0;
    position: fixed;
    display: flex;
    
    box-shadow: 1px -1px 14px 0px #888888;

    &__done-button{
      border: 0;
      font-family: $font-family !important;
      background-color: $primary-pink;
      border-radius: 4px;
      color: $white;
      min-width:150px;
      text-align: center;
      position: absolute;
      bottom: 2vh;
      padding: 9px 40px;
      height: 44px;
      font-weight: normal;
      font-size: 18px;
      cursor: pointer;
      @at-root [dir="ltr"] & {
        right: 4vw;
       }
       @at-root [dir="rtl"] & {
        left: 4vw;
       }
    }
    &__done-button:active{
      background-color: black;
    }

    &__done-button:hover{
      font-weight: 500;
      cursor: pointer;
    }
    
  }

.qm-pannel-container{
    margin: auto;
    overflow: auto;
    background-image: $workflow-blue-background;
  }
.qm-pannel-inner-container{
  max-width: 1288px;
  margin: auto;

  background: #ffffff;
  @include qm-xs-lower{
    padding: 30px 24px;
  }
  @include qm-xs{
    padding: 30px 24px;
  }
  @include qm-sm{
    padding: 30px 88px;
  }
  @include qm-md{
    padding: 30px 150px;
  }
  @include qm-lg{
    padding: 30px 150px;
  }
  // height: 100%;
  // padding: au 150px;
}
.qm-pannel-full-inner-container{
  height: 100%;
  background: #ffffff;
  max-width: 1288px;
  margin: auto;
}

.qm-flow-header{
  margin-top: 0;
  font-size: 28px;
  color: $dark-transparent82;
  padding: 40px 42px 0 42px;
  font-weight: 300;
  @include qm-sm{
    padding: 40px 24px 0 24px;
  }
  @include qm-xs{
    padding: 40px 24px 0 24px;
  }
  @include qm-xs-lower{
    padding: 40px 24px 0 24px;
  }
  @at-root [dir="rtl"] & {
    text-align: right;
   }
}
.qm-flow-list-container{
  background: $light-gray10;
  width: calc( 100% + 48px);
}