.qm-tooltip-btn {
    color: $tooltip-color;
    display: flex;
    align-items: center;
    z-index: 400;
    .icon-help {
        font-size: 2rem;
    }

    &:hover {
        .qm-tooltip {
            display: inline-block;
            position: absolute;
            left: 0;
            top: 0;
        }
    }   
}


.icon-help:focus{
    color:  $dark-transparent62 !important;
}

qm-tooltip-btn:active{
    .icon-help{
        color:  $dark-transparent82 !important;
}
}

.qm-tooltip {
    display: none;
}