.qm-time-filter {
  &__backdrop {
    background: transparent;
  }
}

@media (min-width: 576px) {
  .qm-time-filter__modal {
    .modal-dialog {
      max-width: 546px;
    }

    .modal-content {
      border: none;
      box-shadow: 0 1px 8px 0 $dark-transparent42;
    }
  }
}
