.qm-table {
    &__row {
        display: flex;
        min-height: $sm-xs-row-height;
        @include qm-lg {
            min-height: $lg-md-row-height;
            margin-bottom: 4px;
        }

        @include qm-md {
            min-height: $lg-md-row-height;
            margin-bottom: 4px;
        }

        @include qm-xs {
            margin-bottom: 8px;
            width: 100%;
        }

        @include qm-sm {
            margin-bottom: 8px;
        }
    }

    &__cell--align-right {
        justify-content: flex-end;
        text-align: right;

        @at-root [dir='rtl'] & {
            text-align: left;
        }
    }

    @for $i from 1 through 20 {
      $attr-value: 5 * $i;

      &__cell-#{$attr-value} {
         width: $attr-value * 1% ;
         padding-left: 1rem;
         padding-right: 1rem;
         text-align: left;
         display: flex;
         align-items: center;
         word-break: break-word;
         @at-root [dir='rtl'] & {
              text-align: right;            
          }
      }

      @include qm-xs { 
        @at-root &__cell-xs-#{$attr-value} {
            width: $attr-value * 1% ;
            padding-left: 1rem;
            padding-right: 1rem;
            display: flex;
            align-items: center;
            word-break: break-word;
            @at-root [dir='rtl'] & {
                text-align: right;            
            }
         }
      }
    }
}
