.qm-selected-box {
  display: flex;
  align-items: baseline;
  padding-bottom: 1rem;
  justify-content: flex-start;
  flex-wrap: wrap;

  &__text {
    white-space: nowrap;
    overflow: hidden;
    max-width: 94%;
    text-overflow: ellipsis;
  }

  .qm-flex-wrapper {
    flex-wrap: wrap;
    display: flex;
    width: calc(100% - 120px);
    @at-root [dir='rtl'] & {
     flex: 5;
    }
  }

  &__bubble {	
    height: 32px;	
    width: 32px;	
    background-color: #4D6599;
    border-radius: 16px;
    display: inline-block;
    text-align: center;
    line-height: 32px;
    color: $white;
    margin-left: 1rem;
  }

  &__heading {
    @at-root [dir='rtl'] & {
      margin-left: 1rem;
      flex: 1;
      text-align: right;
    }
  }

  &__content {
    box-sizing: border-box;
    height: rem(57px);
    border: 1px solid $dark-transparent12;
    background-color: $white;
    box-shadow: 2px 4px 4px 0 $dark-transparent04;
    margin-left: 1rem;
    align-items: baseline;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: flex;
    &-parent {
      display: flex;
      align-items: center;
      margin-bottom: 0.6rem;
    }

    &:hover {
      background-color: $hover-background-main;
    }

    .icon-delete {
      font-size: $standard-icon-size;
      color: $primary-pink;
      transform: translateY(25%);
      cursor: pointer;
    }
  }
}
