.qm-search {
  position: relative;
  &__input {
    width: 100%;
    border: 1px solid $standard-border-color;
    box-shadow: 0 0 4px 0 $dark-transparent04;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-appearance: none;
    padding: rem(10px 48px 10px 12px);
    color: $dark-transparent82;
    font-size: 18px;
    line-height: rem(24px);
    font-weight: $font-weight-light;
    height: 48px;
    @at-root [dir='rtl'] & {
      padding: rem(10px 12px 10px 48px);
    }
  }
  
  &--large {
    .qm-search {
      &__input {
        height: 48px;
      }
    }
  }

  &__btn {
    position: absolute;
    right: rem($base-unit / 2);
    top: 50%;
    transform: translateY(-50%);
    color: $dark-transparent42;
    @at-root [dir='rtl'] & {
      right: auto;
      left: rem($base-unit * 1.5);
    }
  }
}
