//qm-flow-sub-header
.qm-flow-sub-header {
  display: flex;

  h1 {
    height: 32px;
    width: 480px;
    color: rgba(0, 0, 0, 0.82);
    font-size: 24px;
    letter-spacing: -0.17px;
    font-weight: 300;
    line-height: 32px;
    @at-root [dir="rtl"] & { 
      text-align: right;
    }
  } 

  &__search {
    height: rem(34px);
    color: #111;
    vertical-align: middle;
    font-size: rem(14px);
    line-height: rem(16px);
    flex: 2;
    width: 100%;
    padding: 0.4rem 1rem;
  }
  
  &__left {
    flex: 1;
  }
  &__center {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}
