.qm-list {
  width: 100%;
  margin-top: 1rem;
  

  &__item {
    cursor: pointer;
    background-color: $white;
    margin-top: 0.5rem;

    &--info {
      font-size: 18px;
      color: $dark-transparent42;
      @at-root [dir='rtl'] & {
        text-align: right;
      }
    }

    &--info-active {
      .qm-list__item--label {
        color: $dark-transparent82;
        font-weight: 300;
      }
    }

    &--label {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      @at-root [dir='rtl'] & {
        text-align: right;
      }
    }

    &--text {
      box-shadow: 2px 4px 4px 0 rgba(0, 0, 0, 0.04);
      border: 1px solid rgba(0, 0, 0, 0.12);
      width: 100%;
      min-height: $standard-item-height;
      font-size: rem(20px);
      color: rgba(0, 0, 0, 0.82);
      font-weight: 300;
      padding: 1rem;
   
      // display: flex;
      flex-wrap: wrap;
      // align-items: center; 
      mark {
        font-weight: bold;
        background-color: transparent;
      }
      &:hover {
        background-color: $dark-transparent04;
      }

    }
    &--selected{
      background-color: $dark-transparent04;
    }

    .icon-info {
      color: $icon-color-default;
      position: absolute;
      right: -45px;
      transform: translateY(-50%);
      top: 50%;

      @at-root [dir='rtl'] & {
        left: -45px;
        right: auto;
      }

      &--active {
        color:	$dark-transparent82;
      }
    }
  }
}

