.toast-container {
  margin: 0 auto;
  width: 800px;
  font-size: 18px;
  @include qm-xs {
    width: 600px;
  }
  @include qm-sm {
    width: 600px;
  }
}



.toast-close-button {
  margin: auto;
  height: 100%;
  // padding: 0px 4px;
  display: flex;
  align-items: center;
  color: $toast-text-color;
  border: 0;
  background: transparent;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  order: 1;
  padding: 0;
  font-size: 24px;

  span {
    @include sr-only();
  }

  // &:before {
  //   content: "\00d7"; /* This will render the 'X' */
  //   font-size: rem(50px);
  // }

  &:hover,
  &:focus,
  &:active {
    outline: none;
    font-weight: $font-weight-medium;
    &:before {
      color: $toast-text-color;
    }
  }
}

// Block
.qm-toast {
  display: flex;
  align-items: center;
  padding: 10px 30px;
  color: $toast-text-color;
  background: $tertiary-color;
  width: 100%;
  z-index: 3;
  margin: 0 auto;

  @include qm-xs {
    padding: 10px 18px;
    max-width: none;
  }

  @include qm-sm {
    padding: 10px 18px;
    max-width: none;
  };

  
  & + & {
    border-top: 1px solid $light-transparent42;
  }

  &-inner-container {
      display: flex;
  }

  // Elements
  &__layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }

  &__icon {
    font-size: rem(28px);
    margin-right: rem($standard-margin / 2);

    @at-root [dir='rtl'] & {
      margin-right: 0;
      margin-left: rem($standard-margin / 2);
    }
  }

  &__message {
   
    flex: 3 1 auto;
    // padding-right: 2rem;
        
    @at-root [dir="rtl"]  & {
      text-align: right;
      // padding-left: 2rem;
      padding-right: 0;      
    }
  }

  // Modifiers
  &--success {
    background: $toast-success-background-color;
    .qm-toast-inner-container{
      .qm-toast-icon{
        i:before{
          content: "\e950";
        }
      }
      @at-root [dir="rtl"] {  
        .qm-toast-icon{
          i:before{
            content: "\e944" !important;
          }
      }
    }
    }    
  }

  &--danger {
    background: $toast-error-background-color;
    .qm-toast-inner-container{
      .qm-toast-icon{
        i:before{
          content: "\e913" !important;
        }
      }
      
    }   
  }

  &--info {
    background: $toast-success-background-color;
    .qm-toast-inner-container{
      .qm-toast-icon{
        i:before{
          content: "\e950";
        }
      }
      @at-root [dir="rtl"] {  
        .qm-toast-icon{
          i:before{
            content: "\e944" !important;
          }
      }
    }
    }   
  }

  // @include qm-xs{
  //   .toast-container {
  //     max-width: 90%;
  //   }
  // }
}



#close-toast-btn:focus{
  border:  solid #007bff 1px;
}

.toast{
  display: flex !important;
}