.qm-switch__container {
    position: relative;
    display: flex;
  }
  
  .qm-switch {
    position: relative;
    display: inline-block;
    width: 75px;
    height: 34px;

  
    &-label {
      margin-bottom: 0rem;
    }

    &:input {
        display: none;
    }
  
    &:checked {
      &~.qm-switch__slider {
        background-color: #3bcc76;
        -webkit-box-shadow: inset 0 0 8px #474747;
        box-shadow: inset 0 0 8px #474747;

        &:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
            left: 13px;
        }
      }
    }

    &:focus {
        &~.qm-switch__slider {
            -webkit-box-shadow: inset 0 0 8px #474747;
            -moz-box-shadow: inset 0 0 8px #474747;
            -ms-box-shadow: inset 0 0 8px #474747;
            box-shadow: inset 0 0 8px #474747;
        }
    }
  
    &__slider {
        width: 75px;
        position: absolute;
        cursor: pointer;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: #ccc;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 34px;
        -webkit-box-shadow: inset 0 0 8px #474747;
        -moz-box-shadow: inset 0 0 8px #474747;
        -ms-box-shadow: inset 0 0 8px #474747;
        box-shadow: inset 0 0 8px #474747;

        &:before {
            position: absolute;
            content: "";
            height: 32px;
            width: 32px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
            border-radius: 50%;
            -webkit-box-shadow: 0 2px 7px rgba(0,0,0,.35), 0 1px 1px rgba(0,0,0,.15);
            -moz-box-shadow: 0 2px 7px rgba(0,0,0,.35), 0 1px 1px rgba(0,0,0,.15);
            -ms-shadow: 0 2px 7px rgba(0,0,0,.35), 0 1px 1px rgba(0,0,0,.15);
            box-shadow: 0 2px 7px rgba(0,0,0,.35), 0 1px 1px rgba(0,0,0,.15);
        }

        &-text {
            font-family: sans-serif;
            color: $primary-text-color;
            letter-spacing: 2px;
            font-size: 0.8rem;
            margin-bottom: 5px;
            margin-top: 10px;
            margin-left: 6px;
        }
    }
  }
  