@import '../../../styles/base/_component-manifest.scss';

.qm-clear-input-button {
  position: absolute;
  color: $dark-transparent42;
  background: transparent;
  border: none;
  top: 50%;
  right: 1rem;
  transform: translateY(-50%);
  cursor: pointer;

  &:hover {
    color: $dark-transparent62;
  }

  &:focus {
    color: $dark-transparent82;
  }

  @at-root [dir='rtl'] & {
      right: auto;
      left: 1rem;
  }

  .qm-action-btn__icon {
    font-size: 1.2rem;
  }
}
