@import '../../../../styles/base/_component-manifest.scss';


.customer-search-list-container{
    width: 100;
    margin: 10px 0px 0px 0px;
}
.qm-flow-selected-customer{
    background:var(--app-theme);
    color: $white;
    display: flex;
    padding: 0.5rem 0rem;
   width: 100%;
//    display: table-cell;
//    margin: auto

}
.icon-info{
    @at-root [dir="ltr"] & {
        margin-right: 5px;
    }
    @at-root [dir="rtl"] & {
        margin-left: 5px;
    }
}

.qm-clear{   
  display: flex;
  display: inline-block;
  vertical-align: middle;
  margin:10px 10px 0px -25px;
  z-index: 2;
  color: white;
  cursor: pointer;
  
  @at-root [dir="rtl"] & {
     margin:10px -25px 10px 10px;

    }
  
}

.qm-identify__customer-select-container{
    margin-top:10px;
    display: flex;
    
}

.qm-selected-customer-container{
    margin: auto;width: 40%;display: flex;
    @at-root [dir="rtl"] & {
        text-align: right;
       }
}

.qm-customer-padding-class-1{
    padding-left: 37px;
    display: table-cell
}
.qm-customer-padding-class-2{
    padding-left: 115px;
    @at-root [dir="rtl"] & {
        padding-left: 144px;
       }
}
.qm-current-customer{
    margin-left: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
    @at-root [dir="rtl"] & {
        margin-right: 10px;
       }
}
.qm-info-text{
    text-align: left;
    color: $dark-transparent42;
    font-size: 1em;
    margin-top: 0.8em;
    display: flex;
}

.qm-details-icon{
    font-size: 1.5em;
    vertical-align: middle;
    color: $black
}

