<div class="qm-pannel-container" [ngStyle]="{'height':  currentCustomer && !editMode  ? 'calc(100% - 12vh)' : '100%'}">
    <div class="qm-pannel-inner-container"> 
<div class="qm-flow-sub-header">
    <div class="qm-flow-sub-header__left">
        <h1 *ngIf="!currentCustomer">{{ 'select_customer_header' | translate}}</h1>
        <h1 *ngIf="currentCustomer">{{ 'edit_customer' | translate}}</h1>

        <div class="qm-selected-box" *ngIf="currentCustomer && !editMode">
          <div class="qm-selected-box__heading">{{ 'label.selected.customer' | translate }}</div>
          
          <div class="qm-selected-box__content">
              <div class="qm-selected-box__text">{{currentCustomer.firstName + ' ' +currentCustomer.lastName }}</div>
              <i aria-hidden="true" class="icon-delete" (click)="clearCustomer()"></i>
          </div>
        </div>
    
    </div>
     <!-- <div class="qm-checkbox__container">
          <label for="qm-checkbox" class="qm-checkbox-label">
            <input id="qm-checkbox"class="qm-checkbox" type="checkbox" (change)="onSwitchChange()" [(ngModel)]="isFlowSkip">
            <div class="qm-checkbox__selector">
                <i aria-hidden="true" class="qm-checkbox__selector-icon"></i>
                <div class="qm-checkbox__selector-icon-text">{{ 'skip_branch_label' | translate }}</div>
            </div>
          </label>
        </div> -->
</div>

<div>
  <!-- <div class="qm-flow-sub-header__right">
      <div class="qm-done-button" (click)="doneButtonClick()" *ngIf="(flowType === 'CREATE_APPOINTMENT' && currentCustomer) || flowType !== 'CREATE_APPOINTMENT'">
              {{'banner_done_label' | translate }}
      </div>
  </div> -->
</div>


<div class="qm-crossline-header-container" *ngIf="!editMode">
    <div class="qm-crossline-header"></div>
    <h2 class="qm-crossline-header-text">{{ 'label.link_customer' | translate }}</h2>
    <br>
</div>

<div class="qm-customer-search-component" *ngIf="!editMode">
  <!-- customer Serach bar -->
  <qm-customer-search-bar ></qm-customer-search-bar>
  <!-- customer search results -->
  <qm-customer-search></qm-customer-search>
  <div class="qm-info-text" *ngIf="customers.length==0" > <i class="icon-info qm-details-icon"></i> Search customer by phone number, mail, first or last name
  </div>
</div>
<br>

<div class="qm-crossline-header-container" *ngIf="customers.length==0" >
    <div class="qm-crossline-header" ></div>
    <h2 class="qm-crossline-header-text" *ngIf="!editMode">{{ 'label.add_customer' | translate }}</h2>
    <h2 class="qm-crossline-header-text" *ngIf="editMode">{{ 'label.customer_details' | translate }}</h2>
</div>
<div class="qm-service-list__container" >
  <qm-inputbox></qm-inputbox>

  
  <!-- <div>
  <div>
  <div class="qm-identify__customer-select-container"  dir="{{ userDirection$ | async }}" >
      <div class="qm-selected-customer-container">
      <span class="qm-flow-selected-customer" *ngIf="currentCustomer"> <span class="qm-current-customer">
        {{currentCustomer.firstName + ' ' +currentCustomer.lastName }}</span></span>
      <i *ngIf="currentCustomer" (click)="clearCustomer()" class="icon-close qm-clear" aria-hidden="true"></i>
      <span class="qm-customer-padding-class-1"></span>  
    </div>
    <span class="qm-customer-padding-class-2"></span>  
  </div>  
  </div>

  </div>

  <div class="customer-search-list-container">
 
  </div> -->

</div>
</div>
</div>
<div class="qm-flow-done-bar" *ngIf="currentCustomer && !editMode">
    <div class="qm-flow-done-bar__done-button" (click)="doneButtonClick()" >   {{'banner_done_label' | translate }}</div>
</div>
