@import '../../../../styles/base/_component-manifest.scss';


.customer-search-list-container{
    width: 100;
    margin: 10px 0px 0px 0px;
}
.qm-flow-selected-customer{
    background:var(--app-theme);
    color: $white;
    display: flex;
    padding: 0.5rem 0rem;
   width: 100%;
//    display: table-cell;
//    margin: auto

}
.icon-info{
    @at-root [dir="ltr"] & {
        margin-right: 5px;
    }
    @at-root [dir="rtl"] & {
        margin-left: 5px;
    }
}

.qm-clear{   
  display: flex;
  display: inline-block;
  vertical-align: middle;
  margin:10px 10px 0px -25px;
  z-index: 2;
  color: white;
  cursor: pointer;
  
  @at-root [dir="rtl"] & {
     margin:10px -25px 10px 10px;

    }
  
}

.qm-identify__customer-select-container{
    margin-top:10px;
    display: flex;
    
}

.qm-selected-customer-container{
    margin: auto;width: 40%;display: flex;
    @at-root [dir="rtl"] & {
        text-align: right;
       }
}

.qm-customer-padding-class-1{
    padding-left: 37px;
    display: table-cell
}
.qm-customer-padding-class-2{
    padding-left: 115px;
    @at-root [dir="rtl"] & {
        padding-left: 144px;
       }
}
.qm-current-customer{
    margin-left: 10px;
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
    @at-root [dir="rtl"] & {
        margin-right: 10px;
       }
}
.qm-info-text{
    text-align: left;
    color: $dark-transparent42;
    font-size: 1em;
    margin-top: 0.8em;
    display: flex;
}

.qm-details-icon{
    font-size: 1.5em;
    vertical-align: middle;
    color: $black
}


.checkBoxFocused{
    border:  solid #007bff 1px;
}

.quick-serve-tooltip{
    width: 350px;
      z-index: 30;
      position: absolute;
      margin-left: -60px;
      margin-top: 6px;
      margin-bottom: 10px;
  
  
      @at-root [dir="rtl"] & {
          margin-right: -65px;
          text-align: right;
      }
  
      &__rec{
        background: $dark-transparent82;
        color: $white;
        font-size: 16px;
        padding: 10px;
        line-height: 24px;
        text-align: center;
        border-radius: 5px;
        margin-top: -22px;
  
      }
  }
  
  .tool-tip-back-drop{
    width: 100vw;
    height: 100vh;  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    // background: rgba(0, 0, 0, 0.5);
  } 
  
  
  .triangle {
    width: 43px;
    height: 77px;
    position: relative;
    overflow: hidden;
    margin: auto;
    top:-22px;
   
    @at-root [dir='ltr'] & {
      left: 11%;
    }
    @at-root [dir='rtl'] & {
      right: 11%;
  }
  }
  .triangle:after {
    content: "";
    position: absolute;
    width: 55px;
    height: 50px;
    background: $dark-transparent82;
    transform: rotate(45deg); /* Prefixes... */
    top: 75px;
    
    // box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  }


  @include qm-sm{
    .quick-serve-tooltip{
        @at-root [dir='ltr'] & {
            margin-left: -104px;
          }
          @at-root [dir='rtl'] & {
            margin-right: -104px;
        }
    }
    .triangle{
        @at-root [dir='ltr'] & {
            left: 24%;
          }
          @at-root [dir='rtl'] & {
            right: 24%;
        }
    }
  }

  @include qm-xs{
    .quick-serve-tooltip{
        @at-root [dir='ltr'] & {
            margin-left: -160px;
          }
          @at-root [dir='rtl'] & {
            margin-right: -160px;
        }
    }
    .triangle{
        @at-root [dir='ltr'] & {
            left: 40%;
          }
          @at-root [dir='rtl'] & {
            right: 40%;
        }
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .quick-serve-tooltip{
      @at-root [dir='ltr'] & {
        margin-left: -235px !important;
        @include qm-sm{
            margin-left: -280px !important;
        }
        @include qm-xs{
            margin-left: -335px !important;
        }
      }
      @at-root [dir='rtl'] & {
        margin-right: -235px !important;
        @include qm-sm{
            margin-right: -280px !important;
        }
        @include qm-xs{
            margin-right: -335px !important;
        }
    }
    }
  }

  .qm-checkbox-label{
      z-index: 400;
  }

  .remove-icon{
    margin-top: 2px;
  }
  .qm-flow-sub-header__right{
    flex: inherit;

  }