<div class="qm-flow-sub-header">
  <div class="customer-search-component">
    <qm-customer-search-bar></qm-customer-search-bar>
  </div>
  <div>
  <div class="qm-flow-sub-header__right">
      <div class="qm-done-button" (click)="doneButtonClick()" *ngIf="currentCustomer">
              {{'banner_done_label' | translate }}
      </div>
  </div>
</div>
</div>
<div class="qm-service-list__container">
  
  <div>
  <div>
  <div class="qm-identify__customer-select-container">
      <div class="qm-selected-customer-container">
      <span class="qm-flow-selected-customer" *ngIf="currentCustomer"> <span style="margin-left: 10px">{{currentCustomer.firstName + ' ' +currentCustomer.lastName }}</span></span>
      <i *ngIf="currentCustomer" (click)="clearCustomer()" class="icon-close qm-clear" aria-hidden="true"></i>
      <span class="qm-customer-padding-class-1"></span>  
    </div>
    <span class="qm-customer-padding-class-2"></span>  
  </div>  
  </div>

  </div>

  <div class="customer-search-list-container">
  <qm-customer-search></qm-customer-search>
  </div>

</div>