<div class="qm-flow-sub-header">
  <div class="qm-identify-visit-search" dir="{{ userDirection$ | async }}" *ngIf="(this.queueCollection && this.queueCollection.length !== 0)">
    <div class="qm-identify-visit-search__search-container">
      <input class="qm-identify-visit-search__input" type="search" placeholder="{{ 'search_queue' | translate }}" id="visitSearch"
        name="q" [ngModel]="searchText" (input)="handleInput($event)" #visitSearch autocomplete="off">
      <div class="qm-action-btn--only-icon">
        <i *ngIf="visitSearch.value.trim()" (click)="visitSearch.value = '';clearSearchText()" class=" qm-action-btn__icon icon-close qm-clear-search"
          aria-hidden="true"></i>
      </div>
      <div class="qm-action-btn--only-icon">
        <i *ngIf="!visitSearch.value.trim()" aria-hidden="true" class="qm-action-btn__icon icon-search qm-search__icon"></i>
      </div>
    </div>
  </div>
</div>


<div class="qm-queue-list__container" dir="{{ userDirection$ | async }}">
  <div class="qm-queue-list">

      <div style="padding-bottom:20px;text-align:center" *ngIf="(this.queueCollection && this.queueCollection.length === 0)">
          {{'empty_queues'|translate}} 
        </div>

    <div class="qm-queue-list__headers qm-flex-grid" *ngIf="(this.queueCollection && this.queueCollection.length !== 0)">

      <div class="qm-queue-list-header-item qm-col-45 qm-flex-grid" (click)="onSortClickbyQueue()">
        <div class="qm-queue-list-header-item">{{'queue_view_queue_label' | translate}}</div>
        <div><i *ngIf="sortedBy =='Queue' && queueCollection.length>1" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending !== true, 'icon-caret-down': sortAscending ===  true }"></i></div>
      </div>

      <div class="qm-queue-list-header-item qm-col-15 qm-flex-grid" *ngIf="btnTransferFirst">
        <div class="qm-queue-list-header-item-label">{{'transfer_first'|translate}}</div>
      </div>

      <div class="qm-queue-list-header-item qm-col-15 qm-flex-grid" *ngIf="btnTransferLast">
        <div class="qm-queue-list-header-item-label">{{'transfer_last'|translate}} </div>
      </div>

      <div class="qm-queue-list-header-item qm-col-15 qm-flex-grid" *ngIf="btnTransferSort">
        <div class="qm-queue-list-header-item-label"> {{'transfer_sort'|translate}} </div>
      </div>

    </div>
    <hr>

    <div class="qm-queue-list__body">
      <div *ngFor="let q of queueCollection | filterQueue : filterText:sortedBy:sortAscending">

        <div class="qm-flex-grid qm-queue-list-body-row" (click)="selectQueue(q)">
          <div class="qm-col-45 qm-queue-list-body-row-label">{{q.name}}</div>
          <div class="qm-col-15" *ngIf="btnTransferFirst">
            <i class="icon-queue-first" (click)="OnTransferButtonClick('FIRST')"></i>
          </div>
          <div class="qm-col-15" *ngIf="btnTransferLast">
            <i class="icon-queue-last" (click)="OnTransferButtonClick('LAST')"></i>

          </div>
          <div class="qm-col-15" *ngIf="btnTransferSort">
            <i class="icon-clock" (click)="OnTransferButtonClick('SORTED')"></i>
          </div>
        </div>
      </div>


    </div>

  </div>
  <div class="qm-no-results" *ngIf="(queueCollection | filterQueue : filterText).length===0  && filterText!=''"> {{'queue_not_found'
    |translate}} </div>
</div>