@import '../../../../styles/base/_component-manifest.scss';
.qm-identify-visit-search{
    width: 90%;
    margin: auto;

    &__input{
        // font-size: 18px;
       padding: 0 15px;
        height: 44px;
        width: 100%;
        font-weight: 100;
        margin: auto;
        font-size: 18px;
        border: 1px solid $dark-transparent12;
        margin-bottom: 5px;
        color: $dark-transparent82;
    }
    &__input:focus{
        border: 1px solid $dark-transparent42;
    }
    &__input::placeholder{
        font-size: 18px;
        font-weight: 200;
        color: $dark-transparent62;

    }
    &__search-container{
        display: flex;
    }
 
}

:host {
    font-size: rem(14px);
}

.qm-queue-list {
    margin: rem($standard-margin * 0.5) 0;
  
    hr{
        width: 90%;
        display: block;
        height: 1px;
        border: 0;
        border-top: 1px solid $dark-transparent12;
        padding: 0; 
    }

   .sort-icon {
        margin-left: 0.4rem;
        cursor: pointer;
   }

 

    &__headers {
        justify-content: left;
        text-align: left;
        // height: 3rem;
        margin-right: 2rem;
        margin-left: 2rem;
        i {
            font-size: 21px;
            padding-right: rem(8px);
            @at-root [dir="rtl"] & {
                margin-left: 0.2rem;
            }
        }
    }

    &-header-item {
        display: flex;
        align-items: center;
        text-align: left;
        min-width: 0;
       color:$dark-transparent62;
       font-weight: 500;
       width:inherit;
        &-label {
          font-size: 0.8em;
      }
      @at-root [dir="rtl"] & {
        text-align: right;
    }
    }



    &-body-row {
        background-color: white;
        color:black;
        // padding:0 5px;
        align-items: center;
        text-align: left;
        height: 56px;
        padding: 6px 8px;
        margin-right: 1.5rem;
        margin-left: 1.5rem;


        &-label {
          @include add-text-ellipsis;
          width:inherit;
          font-size: 18px;
          font-weight: normal;
          
      }
    }
    &-body-row:hover{
        background-color: rgba(0,0,0,0.04);
    }

}

[dir='rtl'] :host {
    .qm-queue-list {
        i {
            margin-left: 0.25rem;
        }
    }
}

.qm-clear-search{ 
    margin-left: -35px;
    margin-top: 14px;
    color: $dark-transparent42;
    @at-root [dir="rtl"] & {
      margin-right: -35px;
    }
    font-size: 1.4em;
    cursor: pointer;
 
}

.qm-no-results{
    color: black;
    margin: auto;
    position: unset;
    display: table;
    padding: 20px;
}

.qm-queue-list__body{

    max-height: 280px;
    overflow: auto;
    display: block;
}

.qm-queue-transfer-first{
 width: 48px;
 height: 48px;
}

.qm-search__icon{
    margin-left: -35px;
    margin-top: 10px;
    color: $dark-transparent42;
    @at-root [dir="rtl"] & {
      margin-right: -35px;
  }
  }

  .qm-col-45{
      flex:3;
       @at-root [dir="rtl"] & {
        text-align: right;
    }

  }

  .qm-col-15{
    flex:1;
    text-align: center
    }

    .icon-queue-first, .icon-queue-last, .icon-clock{
    font-size: 2.4em;
    color: $primary-pink;
    cursor: pointer;    
    }
    .icon-queue-first:hover, .icon-queue-last:hover, .icon-clock:hover{
        
        color: $dark-transparent82;
            
        }