<qm-auto-close data-keyboard="false" data-backdrop="static"  *ngIf="customers.length==0||editMode" >
  <div class="qm-input-box" dir="{{ userDirection$ | async }}" >
    <form class="qm-input-box__container"  [formGroup]="customerCreateForm" (keyup.enter)="Donothing($event)" autocomplete="off" >
      <div class="qm-input-box__input-section">  
        
        <!-- Name section -->
          <div class="qm-input-box__row">
              <div class="qm-input-box__col-50">
                <div class="qm-input-box__left-side">
                    <div>
                      <label for="firstName" id="firstName-label" class="qm-input-box__inputbox-name qm-input-box__label-first-label" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('firstName').touched && customerCreateForm.get('firstName').invalid}" >{{'label.first_name'|translate }}</label>
                      <label for="firstName" class="qm-input-box__inputbox-name qm-input-box__label-required" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('firstName').touched && customerCreateForm.get('firstName').invalid}">{{'required'|translate}}</label>
                    </div>
                     <br>
                     <div class="qm-input-box-group">
                      <input #firstName  class="qm-input-box__input"  
                      type="text" name='firstName' id="firstName" [attr.aria-invalid]="customerCreateForm.get('firstName').touched && customerCreateForm.get('firstName').invalid" formControlName = "firstName"
                      maxlength="50" required attr.aria-describedby="firstName-error" [ngClass]="{'invalid': customerCreateForm.get('firstName').touched && customerCreateForm.get('firstName').invalid}"> 
                     
                      <button type="button" *ngIf="firstName.value.trim()" class="qm-clear-btn" (click)="clearInputFeild('firstName')">
                          <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" ></i>
                          <span class="sr-only">{{ 'button.clear' | translate }}</span>
                      </button  >      
                    </div>
                      <div class="qm-form-error-message" id="firstName-error" role="alert" *ngIf="customerCreateForm.get('firstName').touched && customerCreateForm.get('firstName').invalid"> {{'error.form.firstName.required' | translate }}</div>
                  </div>
              </div>

              <div class="qm-input-box__col-50">
                    <div>
                      <label for="lastName" id="lastName-label" class="qm-input-box__inputbox-name qm-input-box__label-first-label" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('lastName').touched && customerCreateForm.get('lastName').invalid}" >{{'label.last_name'|translate }}</label>
                      <label for="lastName" class="qm-input-box__inputbox-name qm-input-box__label-required" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('lastName').touched && customerCreateForm.get('lastName').invalid}">{{'required'|translate}}</label>
                    </div> 
                    <div class="qm-input-box-group">
                      <input class="qm-input-box__input" type="text" id='lastName' name='lastName' [attr.aria-invalid]="customerCreateForm.get('lastName').touched && customerCreateForm.get('lastName').invalid" 
                      formControlName = "lastName" attr.aria-describedby="lastName-error"  #lastName  maxlength="50" required [ngClass]="{'invalid': customerCreateForm.get('lastName').touched && customerCreateForm.get('lastName').invalid}">
                      <button type="button" *ngIf="lastName.value.trim()" class="qm-clear-btn"  (click)="clearInputFeild('lastName')">
                          <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" ></i>
                          <span class="sr-only">{{ 'button.clear' | translate }}</span>
                      </button> 
                    </div>
                      <div class="qm-form-error-message" id="lastName-error" role="alert" *ngIf="customerCreateForm.get('lastName').touched && customerCreateForm.get('lastName').invalid"> {{'error.form.lastName.required' | translate }}</div>
              </div>
            </div>

            <!-- Email Section -->
            <div class="qm-input-box__row">
                  <label for="email" id="email-label" class="qm-input-box__inputbox-name qm-input-box__label-first-label" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('email').invalid }">{{'label.email'|translate }}</label>
                  <div class="qm-input-box-group">
                  <input class="qm-input-box__input" type="text" id="email" name='email' formControlName = "email" #email 
                  [attr.aria-invalid]="customerCreateForm.get('email').invalid" attr.aria-describedby="email-error">
                  <button type="button" *ngIf="email.value.trim()" class="qm-clear-btn" (click)="clearInputFeild('email')">
                      <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" ></i>
                      <span class="sr-only">{{ 'button.clear' | translate }}</span>
                  </button> 
                  </div>
                  <div class="qm-form-error-message" id="email-error" role="alert" *ngIf="customerCreateForm.get('email').invalid"> {{ 'error.form.email.invalid' | translate }}</div>

            </div>

            <!-- Phone Section -->
            <div class="qm-input-box__row">
                  <div class="qm-input-box__col-50">
                      <div class="qm-input-box__left-side">
                        <label for="phone" id="phone-label" class="qm-input-box__inputbox-name qm-input-box__label-first-label" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('phone').invalid }">{{'label.phone'|translate }}</label>
                        <div class="qm-input-box-group">
                        <input class="qm-input-box__input" type="tel" inputmode="numeric" id="phone" name='phone' formControlName = "phone" #phone 
                        [attr.aria-invalid]="customerCreateForm.get('phone').invalid" attr.aria-describedby="phone-error">
                        <button type="button" *ngIf="phone.value.trim()" class="qm-clear-btn" (click)="clearInputFeild('phone')">
                            <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon"  ></i>
                            <span class="sr-only">{{ 'button.clear' | translate }}</span>
                        </button> 
                      </div>
                        <div class="qm-form-error-message" id="phone-error" role="alert" *ngIf="customerCreateForm.get('phone').invalid"> {{'error.form.phone.invalid.des'|translate}}</div>
                      </div>
                </div>
            </div>

            <!-- DOB Section -->
            <div class="qm-input-box__row">
                    <div class="qm-input-box__left-side" role="group" aria-labelledby="date_of_birth" formGroupName="dateOfBirth">
                      <span id="date_of_birth" class="qm-input-box__inputbox-name qm-input-box__label-first-label qm-dob-label" >{{'date_of_birth'|translate }}</span>
                      <div class="qm-input-box__dob-container">
                        <!-- Month -->
                        <div> 
                           <div class="qm-dob-container">
                             <!-- #168261878 - labelForId not work in the project. We add tempry fix for this -->
                            <div aria-live="polite" aria-atomic="true" class="sr-only">
                                <span *ngIf="isMonthFocus">{{'months_dropdown'|translate }}</span>
                            </div>
                            <label for="month-selector" id="month-label" class="qm-input-box__inputbox-name qm-input-box__month-element-container" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('dateOfBirth')?.get('month')?.hasError('incorrect') }">{{'month'|translate }}</label>
                            <label for="day" id="day-label" class="qm-input-box__inputbox-name qm-input-box__day-element-container qm-input-box__dob-element-container" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('dateOfBirth').get('day')?.hasError('min') || customerCreateForm.get('dateOfBirth').get('day')?.hasError('pattern') || customerCreateForm.get('dateOfBirth').get('day')?.hasError('max') || customerCreateForm.get('dateOfBirth')?.errors?.invalidDay }">{{'day'|translate }}</label>
                            <label for="year" id="year-label" class="qm-input-box__inputbox-name qm-input-box__year-element-container qm-input-box__dob-element-container" [ngClass]="{ 'qm-invalid-field__label' : customerCreateForm.get('dateOfBirth').get('year')?.hasError('min') || customerCreateForm.get('dateOfBirth').get('day')?.hasError('pattern') || customerCreateForm.get('dateOfBirth').get('year')?.hasError('max') }">{{'year'|translate }}</label>
                            </div>
                            <div class="qm-dob-container">
                            <ng-select #month       (focus)="monthFiledSelection(true)"
                                                    (blur)="monthFiledSelection(false)"
                                                    labelForId="month-selector"
                                                    [items]="months"
                                                    [selectOnTab]="true"
                                                    [clearable]="false"
                                                    notFoundText="{{ 'label.no.items.found' | translate }}"
                                                    bindValue="value"
                                                    placeholder="{{ 'field.createCustomerForm.month' | translate }}"
                                                    formControlName="month"
                                                    dropdownPosition="bottom"
                                                    (click)="ScrollToBottom()"
                                                    id="birthday_select"
                                                    [attr.aria-expanded]="isExpanded"
                                                    attr.aria-describedby="month-error"
                                                    (open)="DropDownStatus(true)"
                                                    (close)="DropDownStatus(false)"
                                                    tabindex="0"
                                                    [attr.aria-invalid]="customerCreateForm.get('dateOfBirth')?.get('month')?.hasError('incorrect')"
                                                    class="qm-birthday-select qm-input-box__month-element-container">
                            </ng-select>
                            <input class="qm-input-box__input qm-input-box__day-element-container qm-input-box__dob-element-container" #day formControlName="day" attr.aria-describedby="day-error"
                            [attr.aria-invalid]="customerCreateForm.get('dateOfBirth').get('day')?.hasError('min') || customerCreateForm.get('dateOfBirth').get('day')?.hasError('pattern') || customerCreateForm.get('dateOfBirth').get('day')?.hasError('max') || customerCreateForm.get('dateOfBirth')?.errors?.invalidDay"
                            #day type="text" maxlength="2" name="day" id="day" (input)="autoCloseService.refreshAutoClose()"> 
                            <input class="qm-input-box__input qm-input-box__year-element-container qm-input-box__dob-element-container" #year formControlName="year" attr.aria-describedby="year-error"
                            [attr.aria-invalid]="customerCreateForm.get('dateOfBirth').get('year')?.hasError('min') || customerCreateForm.get('dateOfBirth').get('day')?.hasError('pattern') || customerCreateForm.get('dateOfBirth').get('year')?.hasError('max')"
                            type="text" maxlength="4" name="year" id="year" (input)="autoCloseService.refreshAutoClose()" />
                          </div>
                        </div>
                        
                        <button type="button" (click)="clearDob()" *ngIf="day.value || year.value || customerCreateForm.value.dateOfBirth.month" class="qm-transparent-btn qm-input-box__dob-element-container qm-clear-dob">
                          <i class="qm-action-btn__icon icon-close qm-close__icon qm-dob-close-icon qm-dob-close__icon"></i>
                          <span class="sr-only">{{ 'button.clear' | translate }}</span>
                        </button>
                        <br>
                      </div>
                     
                    </div>
              </div>
              <div>
                  <div class="qm-dob__error-message qm-form-error-message" id="year-error" role="alert" *ngIf="customerCreateForm.get('dateOfBirth').get('year')?.hasError('minlength') || customerCreateForm.get('dateOfBirth').get('year')?.hasError('pattern')">{{ 'error.form.dob.invalidYear' | translate }}</div>
                  <div class="qm-dob__error-message qm-form-error-message" id="year-error" role="alert" *ngIf="customerCreateForm.get('dateOfBirth').get('year')?.hasError('max')">{{ 'error.form.dob.incompleteYear' | translate }}</div>
                  <div class="qm-dob__error-message qm-form-error-message" id="day-error" role="alert" *ngIf="customerCreateForm.get('dateOfBirth')?.get('day')?.hasError('max') && customerCreateForm.get('dateOfBirth').get('month').value && customerCreateForm.get('dateOfBirth').get('year').value">{{ 'error.form.dob.incompleteDay' | translate : dateError }}</div>
                  <div class="qm-dob__error-message qm-form-error-message" id="day-error" role="alert" *ngIf="customerCreateForm.get('dateOfBirth').get('day')?.hasError('min') || customerCreateForm.get('dateOfBirth').get('day')?.hasError('pattern') || (customerCreateForm.get('dateOfBirth')?.get('day')?.hasError('max') && customerCreateForm.get('dateOfBirth')?.get('day').value && (!(customerCreateForm.get('dateOfBirth').get('month').value) || !(customerCreateForm.get('dateOfBirth').get('year').value)))">{{ 'error.form.dob.invalidDay' | translate }}</div>
                  <div class="qm-dob__error-message qm-form-error-message" id="month-error" role="alert" *ngIf="customerCreateForm.get('dateOfBirth').get('month').hasError('incorrect')">{{ 'error.form.dob.incompleteMonth' | translate }}</div>
                </div>
            </div>
      

      

        
           
      <div class="qm-input-box__row">
          
              <div class="qm-input-box__button-container">  

                <!-- Cancel Button -->
                <button type="button" class="qm-button qm-secondary-button-defult" (click)="cancel()" *ngIf="editMode">
                  {{'label.cancel'|translate}}
                </button> 
                <button type="button" class="qm-button qm-secondary-button-defult" (click)="discard()"  *ngIf="!editMode && currentCustomer">
                  {{'button.discard.changes'|translate}}
                </button> 
                <button type="button" class="qm-button qm-secondary-button-defult" (click)="clearCustomerForm()" *ngIf="(!editMode && !currentCustomer) && (customerCreateForm.dirty && (customerCreateForm.controls.dateOfBirth.pristine || customerCreateForm.controls.dateOfBirth.controls.day.value 
                || customerCreateForm.controls.dateOfBirth.controls.month.value || customerCreateForm.controls.dateOfBirth.controls.year.value))">
                  {{'label.cancel'|translate}}
                </button>

                <!-- Save Button -->

                <!-- To add new a customer -->
                <button  *ngIf="!currentCustomer" [disabled]="!customerCreateForm.valid" class="qm-button qm-primary-button-disabled" [ngClass]="{'qm-primary-button-default': customerCreateForm.valid}" (click)="accept()">
                  <span> {{'button_save_and_add'|translate}} </span>
                </button>

                <!-- To select a customer -->
                <button  [disabled]="!customerCreateForm.valid" *ngIf="editMode && currentCustomer && !((currentCustomer.firstName != firstName.value )||(currentCustomer.lastName != lastName.value )||(currentCustomer.properties.phoneNumber != phone.value )||(currentCustomer.properties.email != email.value )||(date.year &&(date.year != year.value))||(!date.year && year.value)||(date.day &&(date.day != day.value))||(!date.day && day.value))" class="qm-button qm-primary-button-disabled" [ngClass]="{'qm-primary-button-default': customerCreateForm.valid}" (click)="next()">
                  <span> {{'button_add'|translate}} </span>
                </button>
                <!-- To update a custoemr -->
                <button  [disabled]="!customerCreateForm.valid" *ngIf="editMode && currentCustomer && ((currentCustomer.firstName != firstName.value )||(currentCustomer.lastName != lastName.value )||(currentCustomer.properties.phoneNumber != phone.value )||(currentCustomer.properties.email != email.value )||(date.year &&(date.year != year.value))||(!date.year && year.value)||(date.day &&(date.day != day.value))||(!date.day && day.value))" class="qm-button qm-primary-button-disabled" [ngClass]="{'qm-primary-button-default': customerCreateForm.valid}" (click)="accept()">
                  <span > {{'button_save_and_add'|translate}} </span>
                </button> 

                <!-- from confirm view -->
                <button *ngIf="!editMode && currentCustomer" class="qm-button qm-primary-button-disabled" [attr.tabindex]="customerCreateForm.valid && customerCreateForm.dirty ? null : '-1'"  [ngClass]="{'qm-primary-button-default': customerCreateForm.valid && customerCreateForm.dirty }" (click)="update()" >
                  <span > {{'button.save.changes'|translate}} </span>
                </button> 
                </div>
        
    </div>
    </form>
  </div>
</qm-auto-close>
