<qm-auto-close data-keyboard="false" data-backdrop="static"  *ngIf="customers.length==0||editMode" >
  <div class="qm-input-box" dir="{{ userDirection$ | async }}" cdkTrapFocus>
    <form class="qm-input-box__container" [formGroup]="customerCreateForm" (keyup.enter)="accept()" autocomplete="off" >
      <div class="qm-input-box__input-section">  
        
        <!-- Name section -->
          <div class="qm-input-box__row">
              <div class="qm-input-box__col-50">
                <div class="qm-input-box__left-side">
                    <div>
                      <label for="firstName" class="qm-input-box__inputbox-name qm-input-box__label-first-label" >{{'first_name'|translate }}</label>
                      <label for="required" class="qm-input-box__inputbox-name qm-input-box__label-required">{{'required'|translate}}</label>
                    </div>
                     <br>
                      <input #firstName class="qm-input-box__input"  
                      type="text" name='firstName' formControlName = "firstName"
                      maxlength="50" required [ngClass]="{'invalid': (invalidFirstName && firstName.value=='')}"> 
                     
                      <div *ngIf="firstName.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                          <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" (click)="clearInputFeild('firstName')"></i>
                      </div>      
                      
                      <div class="qm-form-error-message" *ngIf="customerCreateForm.get('firstName').touched && firstName.value==''"> {{'error.form.firstName.required' | translate }}</div>
                  </div>
              </div>

              <div class="qm-input-box__col-50">
                    <div>
                      <label for="lastName" class="qm-input-box__inputbox-name qm-input-box__label-first-label" >{{'last_name'|translate }}</label>
                      <label for="required" class="qm-input-box__inputbox-name qm-input-box__label-required">{{'required'|translate}}</label>
                    </div> 
                      <input class="qm-input-box__input" type="text" name='lastName' formControlName = "lastName"  #lastName  maxlength="50" required [ngClass]="{'invalid': (invalidLastName && lastName.value=='')}">
                      <div *ngIf="lastName.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                          <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon"  (click)="clearInputFeild('lastName')"></i>
                      </div> 
                      <div class="qm-form-error-message" *ngIf="customerCreateForm.get('lastName').touched && lastName.value==''"> {{'error.form.lastName.required' | translate }}</div>
              </div>
            </div>

            <!-- Email Section -->
            <div class="qm-input-box__row">
                  <label for="email" class="qm-input-box__inputbox-name qm-input-box__label-first-label">{{'email'|translate }}</label>
                  <input class="qm-input-box__input" type="text" name='email' formControlName = "email" #email  >
                  <div *ngIf="email.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                      <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" (click)="clearInputFeild('email')"></i>
                  </div> 
                  <div class="qm-form-error-message" *ngIf="customerCreateForm.get('email').invalid"> {{'error.form.email.invalid'|translate}}</div>
            </div>

            <!-- Phone Section -->
            <div class="qm-input-box__row">
                  <div class="qm-input-box__col-50">
                      <div class="qm-input-box__left-side">
                        <label for="phone" class="qm-input-box__inputbox-name qm-input-box__label-first-label">{{'phone'|translate }}</label>
                        <input class="qm-input-box__input" type="tel" inputmode="numeric" name='phone' formControlName = "phone" #phone (keyup)="restrictNumbers($event)" (keypress)="restrictNumbers($event)">
                        <span *ngIf="phone.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                            <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon"  (click)="clearInputFeild('phone')"></i>
                        </span> 
                        <div class="qm-form-error-message" *ngIf="customerCreateForm.get('phone').invalid"> {{'error.form.phone.invalid'|translate}}</div>
                      </div>
                </div>
            </div>

            <!-- DOB Section -->
            <div class="qm-input-box__row">
                    <div class="qm-input-box__left-side" formGroupName="dateOfBirth">
                      <label for="date_of_birth" class="qm-input-box__inputbox-name qm-input-box__label-first-label qm-dob-label" >{{'date_of_birth'|translate }}</label>
                      <div class="qm-input-box__dob-container">
                        <!-- Month -->
                        <div class="qm-input-box__month-element-container"> 
                            <label for="month" class="qm-input-box__inputbox-name qm-input-box__label-first-label">{{'month'|translate }}</label>
                            <ng-select #month       [items]="months"
                                                    [selectOnTab]="true"
                                                    [clearable]="false"
                                                    notFoundText="{{ 'label.no.items.found' | translate }}"
                                                    bindValue="value"
                                                    placeholder="{{ 'field.createCustomerForm.month' | translate }}"
                                                    formControlName="month"
                                                    dropdownPosition="bottom">
                            </ng-select>
                        </div>
                        <!-- Day -->
                        <div class="qm-input-box__day-element-container qm-input-box__dob-element-container" > 
                            <label for="day" class="qm-input-box__inputbox-name qm-input-box__label-first-label">{{'day'|translate }}</label>
                            <input class="qm-input-box__input" #day formControlName="day" #day (keypress)="restrictNumbers($event)" type="text" maxlength="2" placeholder="DD" name="day" (input)="autoCloseService.refreshAutoClose()"> 
                        </div>
                        <!-- Year -->
                        <div class="qm-input-box__year-element-container qm-input-box__dob-element-container"> 
                            <label for="year" class="qm-input-box__inputbox-name qm-input-box__label-first-label">{{'year'|translate }}</label>
                            <input class="qm-input-box__input" #year formControlName="year" (keypress)="restrictNumbers($event)" type="text" maxlength="4" placeholder="YYYY" name="year" (input)="autoCloseService.refreshAutoClose()" />
                        </div>
                        <br>
                      </div>
                    
                    </div>
              </div>
              <div>
              
                  <div class="qm-dob__error-message qm-form-error-message" *ngIf="customerCreateForm.get('dateOfBirth')?.errors?.invalidDay || customerCreateForm.get('dateOfBirth').get('year')?.hasError('min')|| customerCreateForm.get('dateOfBirth').get('day')?.hasError('min')|| customerCreateForm.get('dateOfBirth').hasError('incompleteDob')">{{ 'error.form.dob.incompleteDob' | translate }}</div>
                  <!-- <div class="qm-dob__error-message qm-form-error-message" *ngIf="customerCreateForm.get('dateOfBirth').get('year')?.hasError('min')">{{ 'error.form.dob.invalidYear' | translate }}</div>
                  <div class="qm-dob__error-message qm-form-error-message" *ngIf="customerCreateForm.get('dateOfBirth').get('day')?.hasError('min')">{{ 'error.form.dob.invalidDay' | translate }}</div>
                  <div class="qm-dob__error-message qm-form-error-message" *ngIf="customerCreateForm.get('dateOfBirth').hasError('incompleteDob')">{{ 'error.form.dob.incompleteDob' | translate }}</div> -->
                </div>
            </div>
      

      

        
           
      <div class="qm-input-box__row">
          
              <div class="qm-input-box__button-container">

                <!-- Cancel Button -->
                <div class="qm-button qm-secondary-button-defult" (click)="cancel()" *ngIf="editMode">
                  {{'cancel'|translate}}
                </div> 
                <div class="qm-button qm-secondary-button-defult" (click)="discard()"  *ngIf="!editMode && currentCustomer">
                    {{'button.discard.changes'|translate}}
                  </div> 
                <div class="qm-button qm-secondary-button-defult" (click)="customerCreateForm.reset()" *ngIf="(!editMode && !currentCustomer)&& customerCreateForm.dirty">
                    {{'cancel'|translate}}
                </div>

                <!-- Save Button -->

                <!-- To add new a customer -->
                <div  *ngIf="!currentCustomer" class="qm-button qm-primary-button-disabled" [ngClass]="{'qm-primary-button-default': customerCreateForm.valid}" (click)="accept()">
                  <span> {{'button_save_and_add'|translate}} </span>
                </div>

                <!-- To select a customer -->
                <div *ngIf="editMode && currentCustomer && !((currentCustomer.firstName != firstName.value )||(currentCustomer.lastName != lastName.value )||(currentCustomer.properties.phoneNumber != phone.value )||(currentCustomer.properties.email != email.value )||(date.year &&(date.year != year.value))||(!date.year && year.value)||(date.day &&(date.day != day.value))||(!date.day && day.value))" class="qm-button qm-primary-button-disabled" [ngClass]="{'qm-primary-button-default': customerCreateForm.valid}" (click)="next()">
                  <span> {{'button_add'|translate}} </span>
                </div>
                <!-- To update a custoemr -->
                <div *ngIf="editMode && currentCustomer && ((currentCustomer.firstName != firstName.value )||(currentCustomer.lastName != lastName.value )||(currentCustomer.properties.phoneNumber != phone.value )||(currentCustomer.properties.email != email.value )||(date.year &&(date.year != year.value))||(!date.year && year.value)||(date.day &&(date.day != day.value))||(!date.day && day.value))" class="qm-button qm-primary-button-disabled" [ngClass]="{'qm-primary-button-default': customerCreateForm.valid}" (click)="accept()">
                  <span > {{'button_save_and_add'|translate}} </span>
                </div> 

                <!-- from confirm view -->
                <div *ngIf="!editMode && currentCustomer" class="qm-button qm-primary-button-disabled" [ngClass]="{'qm-primary-button-default': customerCreateForm.valid && customerCreateForm.dirty }" (click)="update()" >
                  <span > {{'button.save.changes'|translate}} </span>
                </div> 
                </div>
        
    </div>
    </form>
  </div>
</qm-auto-close>
