@import '../../../../styles/base/_component-manifest.scss';


// placeholder styles
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 1.1em;
        font-weight: 100;
        color: $dark-transparent62;
    }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 1.1em;
        font-weight: 100;
        color: $dark-transparent62;
    }
::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 1.1em;
        font-weight: 100;
        color: $dark-transparent62;
    }

.qm-search__icon{
    right: 1.2em;
    color:  $dark-transparent62;
    z-index: 1000;
    position: relative;
}
.qm-close__icon{
    
    color:  $dark-transparent42;
    z-index: 1000;
    position: relative;
    font-size: 1.5em;
  
}
.qm-close__icon:hover{
    color:  $dark-transparent62;
}

.qm-action-btn--only-icon{
    vertical-align: middle
}

.qm-input-box-group{
    position: relative;
}
.qm-clear-btn{
    position: absolute;
    font-weight: 300;
    font-size: 0.875rem;
    @at-root [dir="ltr"] & {
        right: 0;
    }
    @at-root [dir="rtl"] & {
        left: 0;
    }
    margin-top: 12px;
    background: transparent;
    border: none;
}


/* IE 11 */
@media all and (-ms-high-contrast:none) {
    :host {
        @at-root [dir="ltr"] & {
            text-align: right;
        }
        @at-root [dir="rtl"] & {
            text-align: left;
        }
        }

        
      
        .qm-action-btn--only-icon{
            
            margin-top: -5.2em;
        }
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.qm-dob-label{
    color: $dark-transparent62;
    font-weight: 500;
}
.qm-form-error-message{
    @at-root [dir="ltr"] & {
        text-align: left;
    }
    @at-root [dir="rtl"] & {
        text-align: right;
    }
}

.qm-dob-close__icon{
    margin: auto;
    height: 100%;
    padding-top: 45px;
    right: auto !important;
    left: auto !important;
    cursor: pointer;
}

.qm-dob-container{
    display: flex;
}

.qm-dob-error{
    outline: 2px solid $error-color;
}

.qm-clear-dob{
    height: 100px;
}

.ng-select:focus{
border: 1px solid#72a2f7;
}

.qm-invalid-field__label{
    color: $error-color;
}