@import "../../../../styles/base/_component-manifest.scss";

:host {
    color:black;
    @include vendorPrefix(animation-duration, 0.5s, webkit moz ms);
}

.qm-reservation-expiry-timer {
   position: fixed;
   bottom: 10px;
}