@import "../../../../styles/base/_component-manifest.scss";
:host {
  color: black;
  @include vendorPrefix(animation-duration, 0.5s, webkit moz ms);
}

.qm-reservation-expiry-timer {
  position: fixed;
  top: 58px;
  font-size: 2em;
  display: inline-block;
  background: #017c65;
  color: #ffffff;
  z-index: 99999;
  line-height: 0.8em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22);
  text-align: center;
  cursor: move;
  right: 0.5rem;
  border-radius: 4px;
  pointer-events: auto;
  @at-root [dir="rtl"] & {
    right: auto;
    left: 0.5rem;
  }
}

.qm-current-customer-text{
  white-space: nowrap; 
  text-overflow:ellipsis; 
  max-width:20vw;
  overflow: hidden;
  outline-style:none;
}
.qm-expiry-container{
  display: flex;
 
  &__icon-bar{
    display: flex;
    flex-direction: column;
    color: #ffffff;
    min-height: 115px;
  }
  &__timer{
    padding: 14px;
  }
}
.qm-transparent-btn{
  color: #ffffff;
  font-size: 20px;
  flex: 1;
}

.draggable-item-container {
  width: 100%;
  height: 100%;
  pointer-events: none;
  left: 0;
  position: absolute;
  top: 0;
  z-index: 500;
}
.rotate-pin{
  transform: rotate(270deg);
}
.ng-draggable {
  cursor: grab;
}
 
.ng-dragging {
  cursor: grabbing;
}
.right_icon_bar{
  flex-direction: row;
  @at-root [dir="rtl"] & {
    flex-direction: row-reverse;
  }
}
.left_icon-bar{
  flex-direction: row-reverse;
  @at-root [dir="rtl"] & {
    flex-direction: row;
  }
  
}
.hideTime {
display: none;
}