@import "../../../../styles/base/_component-manifest.scss";
:host {
  color: black;
  @include vendorPrefix(animation-duration, 0.5s, webkit moz ms);
}

.qm-reservation-expiry-timer {
  position: fixed;
  top: 58px;
  font-size: 2em;
  display: inline-block;
  padding: 14px;
  background: $white;
  color: #5E5C5C;
  padding-top: 0.2em;
  padding-bottom: 0.7em;
  z-index: 99999;
  line-height: 0.8em;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.22);
  margin: 1em;
  text-align: center;
  cursor: move;
  right: 0.5rem;
  width: 124px;
  border-radius: 4px;
}

.qm-current-customer-text{
  white-space: nowrap; text-overflow:ellipsis; max-width:20vw;
  overflow: hidden;
  outline-style:none;
}