<qm-flow #f>
  <qm-flow-panel #pb [isHeaderVisible]="true">
    <qm-flow-panel-header (click)="f.panelHeaderClick(pb); branchHeaderClick();" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'select_branch_header' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>{{ selectedBranch.name }}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-select-branch (onFlowNext)="f.onFlowNext(ps)"></qm-select-branch>
    </qm-flow-panel-content>
  </qm-flow-panel>
  <qm-flow-panel #ps [isHeaderVisible]="true">
    <qm-flow-panel-header  (click)="f.panelHeaderClick(ps)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'specify_service' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result *ngIf="selectedServices.length === 1">{{ selectedServices[0].name }}</qm-flow-panel-result>
      <qm-flow-panel-result *ngIf="selectedServices.length > 1">{{ selectedServices.length + ' ' + ( 'services_selected' | translate) }}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
        <qm-select-service (onFlowNext)="setPanelClick()" [flowType]="flowType"></qm-select-service>
    </qm-flow-panel-content>
  </qm-flow-panel>
  <qm-flow-panel #pa [isHeaderVisible]="true" [isActive]="true" [isContentVisible]="true">
    <qm-flow-panel-header (click)="f.panelHeaderClick(ps)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'date_and_time' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>{{'test'}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-appointment-time-select></qm-appointment-time-select>
  </qm-flow-panel-content>
  </qm-flow-panel>
</qm-flow>
