<qm-flow #f>
  <qm-flow-panel #pb [isHeaderVisible]="multiBranchEnabled" [isContentVisible]="!isFlowSkip" [isActive]="!isFlowSkip">
    <qm-flow-panel-header (click)="f.panelHeaderClick(pb); branchHeaderClick();" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'select_branch_header' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>{{selectedBranch ? selectedBranch.name : '' }}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-select-branch [isVisible]="pb.isContentVisible" (onFlowNext)="f.onFlowNext(ps)"></qm-select-branch>
    </qm-flow-panel-content>
  </qm-flow-panel>
  <qm-flow-panel #ps [isHeaderVisible]="true" [isActive]="isFlowSkip" [isContentVisible]="isFlowSkip">
    <qm-flow-panel-header  (click)="f.panelHeaderClick(ps)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'specify_service' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result *ngIf="selectedServices.length === 1">{{ selectedServices[0].name }}</qm-flow-panel-result>
      <qm-flow-panel-result *ngIf="selectedServices.length > 1">{{ selectedServices.length + ' ' + ( 'services_selected' | translate) }}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
        <qm-select-service (onFlowNext)="f.onFlowNext(pa)" [flowType]="flowType"></qm-select-service>
    </qm-flow-panel-content>
  </qm-flow-panel>
  <qm-flow-panel #pa [isHeaderVisible]="true">
    <qm-flow-panel-header (click)="f.panelHeaderClick(pa)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'date_and_time' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>{{ (selectedDate$ | async).format('YYYY-MM-DD')}} {{ selectedTimeSlot$ | async}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-appointment-time-select (onFlowNext)="f.onFlowNext(pc)"></qm-appointment-time-select>
  </qm-flow-panel-content>
  </qm-flow-panel>
  <qm-flow-panel #pc [isHeaderVisible]="true">
      <qm-flow-panel-header (click)="f.panelHeaderClick(pc)" (onFlowExit)="f.onFlowExit()">
        <qm-flow-panel-title>{{ 'identify_customer' | translate}}</qm-flow-panel-title>
        <qm-flow-panel-result *ngIf="currentCustomer">{{currentCustomer.firstName + ' ' +currentCustomer.lastName }}</qm-flow-panel-result>
      </qm-flow-panel-header>
      <qm-flow-panel-content>
        <qm-identify-customer (onFlowNext)="f.onFlowNext(px)"></qm-identify-customer>
    </qm-flow-panel-content>
    </qm-flow-panel>
    <qm-flow-panel #px [isHeaderVisible]="true">
        <qm-flow-panel-header (click)="f.panelHeaderClick(px)" (onFlowExit)="f.onFlowExit()">
          <qm-flow-panel-title>{{ 'create_confirm' | translate}}</qm-flow-panel-title>
        </qm-flow-panel-header>
        <qm-flow-panel-content>
          <qm-checkout-view [flowType]="flowType" (onFlowExit)="f.onFlowExit(px, true)"></qm-checkout-view>
      </qm-flow-panel-content>
      </qm-flow-panel>
</qm-flow>
<div class="qm-reservation-expiry-timer" *ngIf="showExpiryReservationTime$ | async">
  <qm-reservation-timer ></qm-reservation-timer>
</div>