@import "../../../../styles/base/_component-manifest.scss";

.qm-pannel-container {
  height: 100%;
}

.qm-flow-sub-header {
  &__left {
    @include qm-xs {
      h1 {
        margin:0;
      }
    }
  }  
}



.qm-number-of-customers {
  &__text {
    color: $primary-text-color;
    font-size: 0.7rem;
    @at-root [dir="rtl"] & {
      margin-left: rem($standard-margin / 2);
      text-align: right;
    }
  }
  &__numeric {
    display: flex;
    margin-left: 1rem;
    &-button {
      background: $numeric-button-control;
      width: 2rem;
      height: 2rem;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.7rem;
      cursor: pointer;

      &:active {
        opacity: 0.7;
      }
    }

    &-value {
      width: 2rem;
      height: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $primary-text-color;
    }
  }
}

.qm-flow-sub-header__left {

  @include qm-md {
    display: flex;
    align-items: center;
  }

  @include qm-lg {
    display: flex;
    align-items: center;
  }
}

.qm-reschedule {
  &__back-icon {
    display: none;
    visibility: hidden;
    color: $dark-transparent82;

    @include qm-lg {
      display: inline-block;
      visibility: visible;
      font-size: 1.2rem;
    }

    @include qm-md {
      display: inline-block;
      visibility: visible;
      font-size: 1.2rem;
    }
  }

  &__selected-branch {
    color: $dark-transparent62;
    font-weight: $font-weight-medium;
    font-size: 18px;
    font-weight: 500;
    max-width: 90%;
    text-align: left;
    position: absolute;
    top: -35px;
    @at-root [dir='rtl'] & {
        right: 0;
        left: auto;
    }
  }

  &__line-header {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid $dark-transparent12; 
   line-height: 0.1em;
   margin: 2.5rem 0 20px;
   font-size: 1.13rem;
    
    span {
      background:#fafafa;
      color: $dark-transparent42;
    }
  }

  &__selected {
    color: $dark-transparent82;
    display: flex;
    font-size: 18px;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    position: relative;

    &-cancel-button {
      width: 280px;
      display: inline-block;
      text-align: center;
      width: 14.2rem;
    }

    &--text {
      max-width: 100%;
      padding: 1rem 1rem 1rem 0;
      color: $dark-transparent42;
      font-weight: $font-weight-medium;
      flex: 1 0 100%;

      @at-root [dir="rtl"] & {
        padding: 1rem 0 1rem 1rem;
        text-align: right;
      }

      @include qm-xs {
        padding-bottom: 0.3rem;
      }
    }

    &--details {
      border: 1px solid #d5d5d5;
      background-color: #ffffff;
      box-shadow: 2px 4px 4px 0 $dark-transparent04;
      width: 60%;
      height: 56px;
      line-height: 56px;
      font-size: 18px;
      margin-left: 0;
      margin-right: 1rem;
      padding-left: 0;
      padding-right: 1rem;
      display: flex;
      justify-content: space-between;

      @at-root [dir='rtl'] & {
        margin-left: 1rem;
        margin-right: 0;
      }

      @include qm-xs {
        width: 428px;
      }

      span {
        display: inline-block;
        margin-left: 2rem;
        @at-root [dir="rtl"] & {
          margin-right: 2rem;
        }
      }
    }

    &--icon {
      font-size: 32px;
      color: $dark-transparent62;

      i {
        line-height: 56px;
      }

      &:hover {
        color: $dark-transparent82;
        cursor: pointer;
      }
    }

    @include qm-xs {
      flex-wrap: wrap;
    }
  }
}

.qm-reschedule-select {
  &__content {
    display: flex;
    width: 100%;

    @include qm-xs {
      flex-direction: column;
      align-items: center;
      flex-wrap: nowrap;
    }    
  }

  &-slots {
    width:480px;
    margin: 30px 0 0 0;
    color: black;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.12);

    @at-root [dir="rtl"] & {
      margin: 0 1rem 1rem 0;
    }

    @include qm-xs {
      height: 25rem;
      flex-basis: auto;
      flex-grow: 0;
      flex-shrink: 1;

      @at-root [dir="rtl"] & { 
        margin: 1.56rem 0 0;
      }
    }
  }
}

.qm-reschedule-time-select {
  &__content {
    display: flex;
  }

  &-slots {
    flex: 1;
  }
}

.qm-time-header {
  background: $secondary-color;
  font-size: rem(21px);
  text-align: center;
  padding: 0.5rem;
  font-weight: $font-weight-medium;
  color: $white;
  height: 3rem;
}

.qm-calendar-container {
  width: 480px;
  margin: 30px 1.5rem 0rem 0rem;
  background-color: $white;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0.12);
  @at-root [dir="rtl"] & {
      margin-right: 0;
      margin-left: 1.5rem;
  }
  @include qm-xs{
      margin: 48px auto 0 auto;
  }  
}

.qm-select-time-container{
  margin: auto;
  display: flex;
  @include qm-xs{
   flex-direction: column;
}  
}


.qm-calendar-placeholder {
  background-color: $calendar-background;
  // height: calc(100vh - 388px);
  @at-root [dir="rtl"] & {
      margin-left: 2rem;
      margin-right: 0;
  }   
}

.qm-reschedule-time-select-slots {
    width: 480px;
}

.qm-reschedule-button {
  display: flex;
  text-transform: uppercase;
  font-size: rem(16px);
  letter-spacing: 2px;
  background-color: rgb(189, 189, 189);
  justify-content: center;
  line-height: 2.8rem;
  width: 100%;
  outline: none;
  border: none;
  margin-top: 0.5rem;

  &--active {
    background-color: $app-theme;
    color: $white;
  }
}

.qm-flow-done-bar {
  &__done-button {
    width: auto;
    letter-spacing: 0.04px;
    &:hover {
      letter-spacing: 0;
    }
  }
}

.qm-delete-button {
  display: flex;
  width: 100%;
  font-size: rem(16px);
  justify-content: center;
  outline: none;
  border: none;
  background-color: $calendar-background;
  line-height: 2.8rem;
  margin-top: 0.5rem;
  letter-spacing: 2px;
}

.qm-pannel-inner-container {
  height: auto;
  min-height: 100%;
  min-height: auto;
  @include qm-sm{
    padding: 30px 24px;
  }
}
