<div   id="main-container"
  class="qm-pannel-container"
  dir="{{ userDirection$ | async }}"
>
<div class="qm-pannel-full-inner-container"> 
  <div>     
      <h1 class="qm-flow-header" tabindex="-1" id="panel-title">{{ "label.edit_checkIn" | translate }}</h1>
  </div>

  <div class="qm-pannel-inner-container" >
    <div class="qm-flow-sub-header">
      <div class="qm-flow-sub-header__left">
        
      </div>
    </div>

    <div class="qm-reschedule__selected" *ngIf="editAppointment">
      <div class="qm-reschedule__selected--text qm-text-overflow-fix">
        {{ "label.booked.appointment.selected" | translate }}
      </div>
      <div class="qm-reschedule__selected--details">
        <span class="qm-text-overflow-fix">{{
          getSelectedAppointmentInfoTime()
        }}</span>
        <span class="qm-text-overflow-fix">{{
          getSelectedAppointmentInfoDate()
        }}</span>
        <span class="qm-text-overflow-fix">{{
          getSelectedAppointmentInfoCustomer()
        }}</span>
        <button class="qm-reschedule__selected--icon qm-transparent-btn" (click)="expandAppointment()" (blur)="onBlurMethod()" id="qm-more-info">
          <i
            class="icon-info"
            [ngClass]="{
              'icon-info': !isShowExpandedAppointment,
              'icon-info-solid': isShowExpandedAppointment
            }"
            
          ></i
        >
        <span class="sr-only">{{ isShowExpandedAppointment ? ('button.closeInfo' | translate) : ('button.info' | translate) }}</span>
      </button>
      </div>
      <span class=qm-appointment-info>
        <qm-appointment-info
      [useCalendarEndpoint]="true"
      (onCardClick)="onAppointmentSelect($event)"
      [useWideCard]="false"
      (onClose)="expandAppointment()"
      [appointmentInfo]="editAppointment"
      *ngIf="isShowExpandedAppointment"></qm-appointment-info>
    </span>
      <button
        *ngIf="isDeleteEnabledInUtt"
        class="qm-btn qm-btn--primary qm-reschedule__selected-cancel-button qm-text-overflow-fix"
        (click)="onCancelAppointment()">
        {{ "label.cancel.appointment" | translate }}
      </button>
    
    </div>

    <h2 class="qm-reschedule__line-header"><span>{{'label.reschedule.appointment' | translate}}</span></h2>

    <div class="qm-reschedule-select__content" *ngIf="isRescheduleEnabledInUtt">
     
      <div class="qm-select-time-container"  dir="{{ userDirection$ | async }}">
        
      <div class="qm-calendar-container">
        <div class="qm-date-enter-container">
          <h2 class="qm-date-select-header">{{'select_or_enter_date' | translate}} </h2>
          <label for="enterDate" class="sr-only">{{'enter_date' | translate}}, {{dateType}}</label>
          <form>
          <input class="qm-date-enter-input" type="text" [(ngModel)]="currentDate" id="enterDate" name="enterDate"
            (keydown.enter)="validateDate()" [ngClass]="{'invalid-date' : enterDateErrorMsg}" (focus)="onFocus()">
          </form>{{'format' | translate}} : {{dateType}} <br>
          <p *ngIf="enterDateErrorMsg" [ngClass]="{'qm-error-message' : enterDateErrorMsg}" aria-live="assertive">
            {{enterDateErrorMsg}}</p>
        </div>
            <div
          class="qm-reschedule__selected-branch qm-text-overflow-fix"
          *ngIf="isRescheduleEnabledInUtt"
        >
          {{ this.editAppointment?.branch?.name }}
        </div>
        
        <div class="qm-calendar-placeholder">
          <qm-calendar
            [selectedDates]="selectedDates"
            [enabledDates]="reservableDates"
            #qmcalendar
            (onSelectDate)="onSelectDate($event)"
          ></qm-calendar>
        </div>

        <!--  <button class="qm-reschedule-button" *ngIf="isRescheduleEnabledInUtt" [ngClass]="{'qm-reschedule-button--active': enableReschedule }"  (click)="onRescheduleAppointment()">{{ 'reschedule' | translate }}</button>
          <button class="qm-delete-button" *ngIf="isDeleteEnabledInUtt" (click)="onCancelAppointment()">{{ 'delete' | translate }}</button> -->
      </div>
      <div class="qm-reschedule-select-slots" #timeSlotsContainer>
        <div class="qm-time-slot-header qm-time-header">
          <ng-container *ngIf="isDateSelected">
            {{ getSelectedDate("ddd DD MMMM") | translate }}</ng-container
          >
        </div>

        <div class="qm-time-slot-placeholder">
          <qm-time-slots
            [isShowTimeSlots]="isDateSelected"
            [preselectedTimeSlot]="originalAppointmentTime"
            (onTimeSlotSelect)="onTimeSlotSelect($event)"
          ></qm-time-slots>
        </div>
              </div>
      </div>
    </div>
  </div>
</div>
</div>
<div
  class="qm-flow-done-bar"
  *ngIf="isRescheduleEnabledInUtt && enableReschedule"
  
>
  <button class="qm-flow-done-bar__done-button btn-wrap-reschedule" (click)="onRescheduleAppointment()">
    {{ "label.reschedule" | translate }}
  </button>
</div>
