<div class="qm-reschedule-select__content">
    <div class="qm-calendar-container">
      <div class="qm-calendar-header qm-time-header">{{selectedBranch.name}}</div>
      <div class="qm-calendar-placeholder">
        <qm-calendar [enabledDates]="reservableDates" [selectedDates]="selectedDates" 
        (onSelectDate)="onSelectDate($event)"></qm-calendar>
        <button (click)="onRescheduleAppointment()">{{ 'reschedule' | translate }}</button>
        <button (click)="onDeleteAppointment()">{{ 'delete' | translate }}</button>
      </div>
    </div>
    <div class="qm-reschedule-select-slots">
      <div class="qm-time-slot-header qm-time-header">{{'time_slots' | translate}}</div>
      <div class="qm-time-slot-placeholder">
        <qm-time-slots (onTimeSlotSelect)="onTimeSlotSelect($event)"></qm-time-slots>
      </div>
    </div>
  </div>