@import '../../../../styles/base/_component-manifest.scss';
:host {
  background-color: $white;
  @include vendorPrefix(animation-duration, 0.5s, webkit moz ms);
  z-index: 50;
  box-shadow: 1px -4px 20px $medium-gray;
  font-size: 16px !important;
  font-family: $font-family !important;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}


.qm-home-menu {
  display: flex;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  height: $home-menu-height;
 
  
  svg {
    padding-bottom: 90px;
    // position: absolute 
  }
  &__item {
    border:none;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    text-align: center;
    color: $primary-text-color;
    padding: rem(10px);
    letter-spacing: $extended-letter-spacing;
    font-size: 16px;
    word-wrap: break-word;
    line-height: 1.2em;
    cursor: pointer;
    color: $primary-pink;
    margin-bottom: auto;
    // margin-top: 6px;
    // @include qm-sm{
    //   font-size: 16px;
    // }
   
  }
  &__item:hover, &__item:focus {
    font-weight: 500;
  
  }
  &__item:active {
    color: $dark-transparent82;
  
  }
  &__icon{
    font-size: 3em;
  }
}

.qm-menu-item-disable{
  height: 20vw;width: 100%;height: 100%;position: absolute;
}
.qm-footer{
  background-color: $midnight-blue;
  color: $light-transparent50;
  height: 32px;
  text-align: center;
  font-family: $font-family !important;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  font-size: 0.8em;
  padding-top: 4px;
  margin-top: 3px;

}

.qm-home-menu__item--text{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 16vw;
  -webkit-line-clamp: 2;
}

button:focus{
  // border:  solid #007bff 1px;
}
