
<div class='qm-home-menu' dir="{{ userDirection$ | async }}">

  <div *ngIf="menuItemEnable"  class="qm-menu-item-disable">

  </div>
  <div class="qm-home-menu__item" *ngIf="isCreateAppointment" (click)="handleMenuItemClick('create-appointment')">
    <i class="icon-create-appointment qm-home-menu__icon"></i>
    <span class="qm-home-menu__item--text" [innerHTML]="'create_appointment' | translate"></span>
  </div>
  <div class="qm-home-menu__item" *ngIf="isEditAppointment" (click)="handleMenuItemClick('edit-appointment')">
    <i class="icon-edit-appointment qm-home-menu__icon"></i>
    <span class="qm-home-menu__item--text" [innerHTML]="'change_appointment' | translate"></span>
  </div>
  <div class="qm-home-menu__item" *ngIf="isArriveAppointment" (click)="handleMenuItemClick('arrive-appointment')">
    <i class="icon-arrive-appointment qm-home-menu__icon"></i>
    <span class="qm-home-menu__item--text" [innerHTML]="'checkin_appointment' | translate"></span>
  </div>
  <div class="qm-home-menu__item" *ngIf="isCreateVisit" (click)="handleMenuItemClick('create-visit')">
    <i class="icon-add-visit qm-home-menu__icon"></i>
    <span class="qm-home-menu__item--text" [innerHTML]="'create_visit' | translate"></span>
  </div>
  <div class="qm-home-menu__item" *ngIf="isEditVisit" (click)="handleMenuItemClick('edit-visit')">
    <i class="icon-edit-visit qm-home-menu__icon"></i>
    <span class="qm-home-menu__item--text" [innerHTML]="'change_visit' | translate"></span>
  </div>
</div>

<div class="qm-footer">
  <div *ngIf="systemInformation$ | async as systemInformation" class="qm-footer__content">
      <p class="qm-footer__text">
        {{ 'poweredBy' | translate }} QMATIC
        {{ systemInformation.productName }}
        {{ systemInformation.releaseName }}
        [{{ systemInformation.productVersion }}]
        {{ 'licensedTo' | translate }}
        {{ systemInformation.licenseCompanyName }}
      </p>
  </div>
</div>
