<div
  class="qm-modal qm-time-filter qm-form-modal qm-modal--md"
  [dir]="userDirection$ | async"
  cdkTrapFocus
>
  <div class="qm-filter-tail"></div>

  <form class="qm-modal__box-container">
    <div class="qm-modal__header qm-time-filter__header">
      <h1 class="qm-time-filter__header qm-text-overflow-fix">{{
        header
      }}</h1>
      <button class="qm-transparent-btn" (click)="activeModal.close()">
      <i
        class="qm-action-btn__icon qm-time-filter__header-icon icon-close"
        aria-hidden="true"
      ></i>
      <span class="sr-only">{{ 'button.close' | translate }}</span>
      </button>
    </div>

    <div *ngIf="showDateFilter" class="qm-time-filter__date-container">
      <div class="qm-time-filter__date-label">
        {{ "label.timefilter.date" | translate }}
      </div>
      <button class="qm-time-filter__date-text qm-transparent-btn" (click)="showCalendar()" id="qm-date-select-calander">
        <span class="qm-time-filter__date-text--label">
          {{ selectedDate.mDate  | amLocale: userLocale | amDateFormat: "DD MMMM YYYY" }}</span>
        <span  class="qm-time-filter__date-icon">
          <i class="icon-calendar-light"></i>
          <span class="sr-only">{{ 'button.openCalendar' | translate }}</span>
        </span>
      </button>

      <div class="qm-time-filter__calendar-placeholder" *ngIf="isCalendarOpen">
        <qm-calendar
          [emitOnInitialSelection]="false"
          [enableAllFutureDates]="true"
          [selectedDates]="[selectedDate]"
          (onSelectDate)="onSelectDate($event)"
        ></qm-calendar>
      </div>
    </div>
    <div class="qm-modal__body">
      <h2 class="qm-time-filter__subheader qm-text-overflow-fix">
        {{ subheader }}
      </h2>
      <div class="qm-time-filter__selectors-parent">
        <div class="qm-time-filter__start">
          <div for="startTime" class="qm-time-filter__start-heading qm-text-overflow-fix">
            {{ "label.timefilter.starttime" | translate }}
          </div>
          <qm-timelist-sidebar  [ComponentId] = "'startTime'" (optionClicked)="fis.scrollToClosest($event)">
          </qm-timelist-sidebar>
          <qm-time-filter-items
            id="startTime"
            [ComponentId] = "'startTime'"
            #fis
            [selectedTime]="selectedStartTime"
            (onTimeSelect)="onTimeStartSelect($event)"
          >
          </qm-time-filter-items>
        </div>
        <div
          #endContainer
          class="qm-time-filter__end"
          [ngClass]="{ 'qm-time-filter__end--invalid': validationFailed }"
        >
          <div for="endTime" class="qm-time-filter__end-heading qm-text-overflow-fix">
            {{ "label.timefilter.endtime" | translate }}
          </div>
          <qm-timelist-sidebar  [ComponentId] = "'endTime'" (optionClicked)="fi.scrollToClosest($event)">
          </qm-timelist-sidebar>
          <qm-time-filter-items
            #fi
            id="endTime"
            [ComponentId] = "'endTime'"
            (onTimeSelect)="onTimeEndSelect($event)"
            [selectedTime]="selectedEndTime"
          ></qm-time-filter-items>
        </div>
      </div>
      <div
        class="qm-time-filter__validation-error qm-text-overflow-fix"
        *ngIf="validationFailed"
      >
        {{ "label.timefilter.validation.error" | translate }}
      </div>
    </div>
    <div class="qm-modal__footer">
      <div class="qm-generic-layout qm-generic-layout--align-right">
        <button
          class="qm-btn qm-btn--primary qm-timefilter-apply"
          [disabled]="
            validationFailed || (!selectedStartTime || !selectedEndTime)
          "
          [ngClass]="{
            'qm-btn--primary-disabled':
              validationFailed || (!selectedStartTime || !selectedEndTime)
          }"
          (click)="onApplyClick()"
        >
          <span
            class="qm-btn__text"
            title="{{ 'button.label.apply' | translate }}"
          >
            {{ "button.label.apply" | translate }}
          </span>
        </button>
      </div>
    </div>
  </form>
</div>
