@import "../../../../styles/base/_component-manifest.scss";

qm-time-filter-items {
  display: block;
  width: 100%;
  overflow-y: auto;
}

.qm-filter-tail {
  width: 0;
  height: 0;
  border-top: 4px;
  color: black;
  position: absolute 
}

.qm-time-filter {
  position: relative;

  &__date-container {
    position: relative;
  }

  &__calendar-placeholder {
    position: absolute;
    z-index: 99;
    width: 100%;
    top: 89px;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.2);
    border: 1px solid $dark-transparent12;
  }

  &__date {
    &-label {
      color: rgba(0, 0, 0, 0.62);
      font-size: 16px;
      height: 2rem;
      position: relative;
    }
    &-text {
      height: 56px;
      width: 100%;
      border: 1px solid #d5d5d5;
      background-color: $white;
      box-shadow: 2px 4px 4px 0 $dark-transparent04;
      margin-bottom: 3rem;
      display: flex;

      &--label {
        flex: 10;
        color: $dark-transparent82;
        font-size: 20px;
        font-weight: $font-weight-light;
        line-height: 56px;
        padding-left: 1rem;
        padding-right: 1rem;
      }

      &--date-icon {
        flex: 1
      }

      .icon-calendar-light {
        color: $secondary-color;
        cursor: pointer;
        line-height: 56px;
        font-size: 2rem;
        &:hover {
          color: $dark-transparent82;
        }
        @at-root [dir="rtl"] & {
        }
      }
    }
  }
  &__header {
    font-size: 21px;
    font-weight: $font-weight-medium;
    line-height: 24px;
    color: $timefilter-header;
    justify-content: space-between;
    display: flex;
    margin-bottom: 1.35rem;

    &-icon {
      margin-right: 0;
      margin-left: 0;
      font-size: 1.75rem;
      &:hover {
        color: $dark-transparent82;
        cursor: pointer;
      }
    }
  }

  &__selectors-parent {
    display: flex;
  }

  &__subheader {
    color: $dark-transparent42;
    font-size: 18px;
    font-weight: $font-weight-medium;
    margin-bottom: 1.5rem;

    @at-root [dir="rtl"] & {
      text-align: right;
    }
  }

  &__start,
  &__end {
    display: flex;
    height: 35vh;
    flex: 1;
    border: 1px solid #d5d5d5;
  }

  &__start {
    margin-right: 2rem;
    position: relative;

    &-heading {
      position: absolute;
      color: $dark-transparent82;
      font-size: 16px;
      top: -1.8rem;
    }

    @at-root [dir="rtl"] & {
      margin-left: 2rem;
      margin-right: 0;
    }
  }

  &__end {
    position: relative;
    &-heading {
      position: absolute;
      color: $dark-transparent82;
      font-size: 16px;
      top: -1.8rem;
    }

    &--invalid {
      border: 2px solid $primary-pink;
    }
  }

  &__validation-error {
    color: $primary-pink;
    font-size: 16px;
    position: absolute;
    margin-top: 0.2rem;
  }

  .qm-btn--primary-disabled {
    background-color: rgba(0, 0, 0, 0.42);
    color: $white;
    border: none;
  }
}
