.qm-msg-box{
    height: 100%;position: absolute;z-index: 100;
    font: sans-serif 

    &__main-container{
       margin: auto; vertical-align: middle;
    }
    &__container{
        position: absolute;
        top: 12vh;
        left: 22%;
        right: 25%;
        margin: auto;
        max-width: 45% ;
        min-height: 30% ;
        max-height: 80% ;
        padding: 2%;
        min-width: 45%;
        background-color: white;
    }
    &__first-line-name{
        color: black;font-size: 130%;text-align: center;left: 0;right: 0;margin: auto
    }
    &__first-line-text{
        color: black;font-size: 150%;text-align: center;left: 0;right: 0;margin: auto
    }
    &__second-line-name{
        color: black;font-size: 130%;text-align: center;padding-top: 20px;left: 0;right: 0;margin: auto
    }
    &__second-line-text{
        color: black;font-size: 150%;text-align: center;left: 0;right: 0;margin: auto
    }
    &__icon-container{
        text-align: center;padding: 10px;margin-top: 20px;
    }
    &__icon{
        width: 100px
    }
    &__last-line-name{
        color: black;font-size: 130%;text-align: center;padding-top: 10px;left: 0;right: 0;margin: auto
    }
    &__last-line-text{
        color: black;font-size: 140%;text-align: center;left: 0;right: 0;margin: auto
    }



    
}
@media screen and (orientation: landscape) {
    .message_view_content_box {
        position: fixed;
        top: 44%;
        left: 50%;
        margin: auto;
        max-width: 70% !important;
        max-height: 60% !important;
        padding: 1em 2em 1em 2em;
        min-width: 40%;
        background-color: white;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

}

@media screen and (orientation: portrait) {
    .message_view_content_box {
        position: fixed;
        top: 42%;
        left: 50%;
        margin: auto;
        max-width: 80% !important;
        max-height: 60% !important;
        padding: 1em 2em 1em 2em;
        min-width: 50%;
        background-color: white;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);

    }

}

@media only screen and (max-width: 600px) {
    .qm-msg-box__first-line-name {
        font-size: 90%;
    }
    .qm-msg-box__first-line-text{
        font-size: 100%;
    }
    .qm-msg-box__second-line-name {
        font-size: 90%;
    }
    .qm-msg-box__second-line-text{
        font-size: 100%;
    }
    .qm-msg-box__last-line-name {
        font-size: 90%;
    }
    .qm-msg-box__last-line-text{
        font-size: 100%;
    }
}
