@import '../../../../styles/base/_component-manifest.scss';

:host {
    text-align: center;
    font-family: $font-family !important;
    }

// placeholder styles
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 1.1em;
        font-weight: 100;
    }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 1.1em;
        font-weight: 100;
    }
::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 1.1em;
        font-weight: 100;
    }

.qm-search__icon{
    right: 1.2em;
    color: black;
    z-index: 1000;
    position: relative;
}