<div class="customer-search" dir="{{ userDirection$ | async }}">
  <div class="customer-search__parent">
    <input type="search" placeholder="{{ 'label.search_customer' | translate }}" class="qm-search__input" id="customerSearch" name="q" [ngModel]="searchText" #customerSearch (keydown.enter)="customerSearch.blur()" (input)="search(customerSearch.value.trim())" autocomplete="off"> 
      <div *ngIf="!customerSearch.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
        <i aria-hidden="true" class="qm-action-btn__icon icon-search qm-search__icon"></i>
      </div>
      <button *ngIf="customerSearch.value.trim()" class="qm-action-btn--only-icon" (click)="resetSearch()">
          <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" ></i>
      </button>      
  </div>
</div>
