@import '../../../../styles/base/_component-manifest.scss';
.qm-identify-visit-search{
    width: 90%;
    margin: auto;

    &__input{
        padding: 0 15px;
        height: 44px;
        width: 100%;
        font-weight: 100;
        margin: auto;
        font-size: 18px;
        border: 1px solid $dark-transparent12;
        margin-bottom: 5px;
        color: $dark-transparent82;
    }
    &__input:focus{
        border: 1px solid $dark-transparent42;
    }
    &__input::placeholder{
        font-size: 18px;
        font-weight: 200;
        color: $dark-transparent62;
    }
    &__search-container{
            display: flex;
    }
    &__or-text{
        padding:0px 10px
    }
}
:host {
    font-size: rem(14px);
}
.qm-service-point-list {
    margin: rem($standard-margin * 0.5) 0;
   

   .sort-icon {
        margin-left: 0.4rem;
        cursor: pointer;
   }

   hr{
       width: 90%;
       display: block;
       height: 1px;
       border: 0;
       border-top: 1px solid $dark-transparent12;
       padding: 0; 
   }
  
    &__headers {
        justify-content: left;
        text-align: left;
        height: 3rem;
        margin-right: 2rem;
        margin-left: 2rem;
   
   
        i {
            font-size: 1.2rem;
            padding-right: rem(8px);
            @at-root [dir="rtl"] & {
                margin-left: 0.2rem;
            }
        }
    }

    &-header-item {
        display: flex;
        align-items: center;
        text-align: left;
        min-width: 0;
       color:$dark-transparent62;
       font-weight: 500;
       width:inherit;
        &-label {
          font-size: 12px;
      }
      @at-root [dir="rtl"] & {
        text-align: right;
    }
    }



    &-body-row {
        background-color: white;
        color:black;
        // padding:0 5px;
        align-items: center;
        text-align: left;
        height: 56px;
        padding: 6px 8px;
        margin-right: 1.5rem;
        margin-left: 1.5rem;


        @at-root [dir="rtl"] & {
            text-align: right;
        }

        &-label {
          @include add-text-ellipsis;
          width:inherit;
        
      }
    }

    &-body-row:hover{
        background-color: rgba(0,0,0,0.04);;
        cursor: pointer;
    }

    // background-color: $wating-list-background;
    // border-bottom: 1px solid $dark-transparent12;
}

.qm-service-point-list-body-row-first-label{
    padding-left: 0.5rem;
    color: $dark-transparent82;
    font-size: 18px;
    font-weight: normal;
    @at-root [dir="rtl"] & {
        padding-right: 0.5rem;
        color: $dark-transparent82;
        padding-left: 0;
    }
  
}
.qm-service-point-list-body-row-second-label{
    margin-left: -2rem;
}

.qm-clear-search{ 
    // margin: 0px 10px 0px -25px;
    // position: relative;
    // z-index: 2;
    // color: black;
    // @at-root [dir="rtl"] {
    //     .qm-clear-search{
    //      margin: 0px -25px 0px 10px;
    //     }
    //    }
    margin-left: -35px;
    margin-top: 10px;
    color: $dark-transparent42;
    @at-root [dir="rtl"] & {
      margin-right: -35px;
  }
  font-size: 1.4em;
  cursor: pointer;
}

.qm-no-results{
    color: black;
    margin: auto;
    position: unset;
    display: table;
    padding: 20px;
}

.qm-search__icon{
    margin-left: -35px;
    margin-top: 10px;
    color: $dark-transparent42;
    @at-root [dir="rtl"] & {
      margin-right: -35px;
  }
  }

.qm-service-point-list__body{
    height: 280px;
    overflow: auto;
}
