@import '../../../../styles/base/_component-manifest.scss';
.qm-identify-visit-search{
    width: 90%;
    margin: auto;

    &__input{
        padding: 15px;
        width: 100%;
        margin: auto;
      
        margin-bottom: 5px;
    }
    &__search-container{
            display: flex;
    }
    &__or-text{
        padding:0px 10px
    }
}
:host {
    font-size: rem(14px);
}
.qm-service-point-list {
    margin: rem($standard-margin * 1.5) rem($standard-margin*0.5) 0 rem($standard-margin*0.5);
   

   .sort-icon {
        margin-left: 0.4rem;
        cursor: pointer;
   }

  
    &__headers {
        justify-content: left;
        text-align: left;
        height: 3rem;
        margin-right: 2rem;
        margin-left: 2rem;
   
        i {
            font-size: 1.2rem;
            padding-right: rem(8px);
            @at-root [dir="rtl"] & {
                margin-left: 0.2rem;
            }
        }
    }

    &-header-item {
        display: flex;
        align-items: center;
        text-align: left;
        min-width: 0;
       color:$dark-transparent62;
       font-weight: 500;

        &-label {
          @include add-text-ellipsis;
          width:inherit;
      }
    }



    &-body-row {
        background-color: white;
        color:black;
       
        align-items: center;
        text-align: left;
        height: 3rem;
        border-bottom: 2px solid $light-gray1;
        padding: 5px 0px;


        &-label {
          @include add-text-ellipsis;
          width:inherit;
        
      }
    }

    // background-color: $wating-list-background;
    // border-bottom: 1px solid $dark-transparent12;
}

.qm-service-point-list-body-row-first-label{
    padding-left: 2rem;
    color: $dark-transparent82;
}
.qm-service-point-list-body-row-second-label{
    margin-left: -2rem;
}

.qm-clear-search{ 
    // margin: 0px 10px 0px -25px;
    // position: relative;
    // z-index: 2;
    // color: black;
    // @at-root [dir="rtl"] {
    //     .qm-clear-search{
    //      margin: 0px -25px 0px 10px;
    //     }
    //    }
    margin-left: -35px;
    margin-top: 14px;
    color: $dark-transparent42;
    @at-root [dir="rtl"] & {
      margin-right: -35px;
  }
  font-size: 1.4em;
  cursor: pointer;
}

.qm-no-results{
    color: black;
    margin: auto;
    position: unset;
    display: table;
    padding-top: 14vh;
}

.qm-search__icon{
    margin-left: -35px;
    margin-top: 13px;
    color: $dark-transparent42;
    @at-root [dir="rtl"] & {
      margin-right: -35px;
  }
  }
