@import '../../../../styles/base/_component-manifest.scss';

:host {
    text-align: center;
    order: -1;
    }

// placeholder styles
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 0.8em;
    }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 0.8em;
    }
::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 0.8em;
    }


// background styles
.qm-customers{

        display: flex;
        min-height: 100vh;
        flex-direction: column;
        overflow: hidden;
        background-color: $light-gray2  ;
    }

// header styles
.qm-customer-header {
    display: flex;
    background-color: var(--app-theme);  
    position: relative;
    justify-content: center;
    color: $header-text-color;
    height: 2.8rem;
    align-items: center;
  
}

.customer-search{
    svg {
         display: inline-block;
        width: rem(30px);
        margin: 0 auto;
        bottom: 0 auto;
        vertical-align: middle;
        text-align: center;
        .cls-sc-1,.cls-sc-2,.cls-sc-3{
            fill:none;
            stroke:#000;
        }
        .cls-sc-1{
            stroke-linecap:round;
            stroke-linejoin:round;
        }
        .cls-sc-1,.cls-sc-2{
            stroke-width:1.5px;
        }
        .cls-sc-2,.cls-sc-3{
            stroke-miterlimit:10;
        }
        
    }

    input{
        width:40%;
        align-content: center;
        padding: 0.5rem;
        margin: 0 auto;
        padding-left: 1em;
        // height:100%; 
        outline: none;
        border: 0;
    }
    
    .add-customer-button{
        background-color:$white;
        margin: 0.5rem;
        align-items: center;
        text-align: center;
        color: $primary-text-color;
        padding: 8px 20px 8px 20px;
        cursor: pointer;
        
    }

    .qm-clear-search{
        // float: right;
        margin: 0px 10px 0px -25px;
        position: relative;
        z-index: 2;
        color: black
    }

   

    margin-top: 15px;
    position: relative;
}

.qm-close-window{
    float: right;
    top:10px;
    right: 10px;
    position: absolute;
    z-index: 2;
    cursor: pointer;
}





