@import '../../../../styles/base/_component-manifest.scss';

:host {
    text-align: center;
    order: -1;
    }

// placeholder styles
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 0.8em;
    }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 0.8em;
    }
::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 0.8em;
    }


// background styles
.qm-customers{

        display: flex;
        min-height: 100vh;
        flex-direction: column;
        overflow: hidden;
        background-color: $light-gray2  ;

    // header styles
    .qm-customer-header {
    display: flex;
    background-color: var(--app-theme);  
    position: relative;
    justify-content: center;
    color: $header-text-color;
    height: 2.8rem;
    align-items: center;
  
    }

    }

    .qm-close-window{
        float: right;
        position: absolute;
        z-index: 2;
        cursor: pointer;
        @at-root [dir="rtl"] & {
                top:10px;
                left: 10px;
           }
        @at-root [dir="ltr"] & {
            top:10px;
            right:10px;
       }


}






