<qm-flow #f>
  <qm-flow-panel #ia [isHeaderVisible]="true" [isActive]="true" [isContentVisible]="true">
    <qm-flow-panel-header (click)="f.panelHeaderClick(ia)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'identify_appointment' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result *ngIf="selectedCustomer">{{selectedCustomer?.firstName + ' ' + selectedCustomer?.lastName}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-identify-appointment [enableSearchByDay]="true" [useCalendarEndpoint]="true" (appointmentSelected)="onAppointmentSelect($event)" 
      (appointmentDeselected)="onAppointmentDeselected($event)" dir="{{ userDirection$ | async }}" 
      (onFlowNext)="f.onFlowNext(resc)"></qm-identify-appointment>
    </qm-flow-panel-content>
  </qm-flow-panel>


  <qm-flow-panel #resc>
    <qm-flow-panel-header (click)="f.panelHeaderClick(ia)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'edit_checkIn' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>{{ getSelectedAppointmentDuration()}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>  
        <qm-reschedule (onFlowExit)="f.onFlowExit(resc, true)" [editAppointment]="selectedAppointment"></qm-reschedule>    
    </qm-flow-panel-content>
  </qm-flow-panel>
</qm-flow> 