<div class="qm-queue-summary__left">
      <div><i class="icon-customer-solid" aria-hidden="true"></i></div>
      <div class="qm-queue-summary--value">{{queueSummary.totalCustomersWaiting}}</div>
      <div class="qm-queue-summary-label">{{ 'ql_customers_waiting' | translate }} </div>
</div>

<div class="qm-queue-summary__right">
  <div><i class="icon-clock-solid" aria-hidden="true"></i></div>
  <div class="qm-queue-summary--value">{{queueSummary.maxWaitingTime}} min</div>
  <div class="qm-queue-summary-label"> {{ 'ql_max_waiting_time' | translate }}</div>
</div>