@import '../../../../styles/base/_component-manifest.scss';
:host {
  width: 60%;
  flex-grow: 0.6;
  height: 4rem;
  display: flex;
  background-color: $wating-list-background;
  margin-top: 5rem;
  margin-left: 1.5rem;
  font-size: rem(12px);
  line-height: 1.3;
  i {
    font-size: $standard-icon-size;
  }
}

.qm-queue-summary {
  &-label {
    margin-left: ($standard-padding/2);
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  &--value {
    font-size: 2rem;
    padding-left: 1rem;
  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-right: 1px solid $dark-transparent44;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
  }
}
