@import '../../../../styles/base/_component-manifest.scss';
:host {
  height: 4rem;
  display: flex;
  background-color: $wating-list-background;
  margin-top: 5rem;
  font-size: rem(12px);
  line-height: 1.3;
  i {
    font-size: $standard-icon-size;
  }
}

$summary-border: 1px solid $dark-transparent44;


.qm-queue-summary {
  &-label {
    margin-left: ($standard-padding/2);
    @include add-text-ellipsis;
    width: inherit;
  }
  &--value {
    font-size: 2rem;
    padding-left: 1rem;
    white-space: nowrap;

  }
  &__left {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    border-right: $summary-border;
    min-width: 0;
  }
  &__right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    min-width: 0;
  }
}



[dir="rtl"] :host {
  .qm-queue-summary {
    &__left {
      border: none;
    }
    &__right {
      border-right: $summary-border;
    }

    &--value {
        margin-right: 0.8rem;
    }
  }

}
