@import '../../../../styles/base/_component-manifest.scss';

.qm-branch-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.qm-branch-list {
    &__item {
        color: #000;
        background: #FFFFFF;
        text-align: center;
        height: 3.5em;
        line-height: 3em;
        border-radius: 3px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);
        max-width: 50%;
        font-size: 0.8em;
        font-weight: 500;
        margin: rem(4px);
        font-family: $primary-font-family;
        width: 50%;
        cursor: pointer;
        position: relative;
        letter-spacing: $extended-letter-spacing-2;

        &--selected {
            background-color: var(--app-theme);
            color: $primary-text-color;
        }

        i {
            position: absolute;
            right: 5%;
            top: 50%;
            transform: translateY(-50%);

            @at-root [dir='rtl'] & {
                left: 5%;
                right: auto;
            }
        }
    }
}
