<div id="main-container" class="qm-pannel-container" dir="{{ userDirection$ | async}}" [ngStyle]="{'height':  currentBranch && currentBranch.publicId  ? 'calc(100% - 80px)' : '100%'}">
    <div class="qm-pannel-full-inner-container"> 
      <div>     
        <div class="qm-flow-header">{{ 'label.select_branch_header' | translate}}</div>
      </div>
      <div class="qm-white-container">
  <div class="qm-pannel-inner-container"> 
  <div class="qm-select-branch qm-flow-sub-header" dir="{{ userDirection$ | async}}">
  <div class="qm-flow-sub-header__left">


    <div class="qm-selected-box" *ngIf="currentBranch && currentBranch.publicId">
      <div class="qm-selected-box__heading">{{ 'label.selected.branch' | translate }}</div>
      
      <div class="qm-selected-box__content">
          <div class="qm-selected-box__text">{{ currentBranch.name }}</div>
          <button class="qm-transparent-btn remove-icon"  (click)="deselectBranch()">
            <i aria-hidden="true" class="icon-close"></i>
            <span class="sr-only">{{ 'button.remove' | translate }}</span>
          </button>
      </div>
    </div>

  
  </div>
 
</div>
<div class="qm-branch-search-area"  dir="{{ userDirection$ | async}}">
    <div class="qm-flow-sub-header__left">
    <div class="qm-search qm-search--large">
        <label class="sr-only" for="branchSearchInput">{{'branch_search_placeholder' | translate}}</label>
        <input [(ngModel)]="searchText" qmClearInput (input)="handleInput($event)" class="qm-search__input ng-pristine ng-valid ng-touched"
          id="branchSearchInput" name="q" type="search" placeholder="{{'label.branch.search' | translate}}" #branchSearchInput (keydown.enter)="branchSearchInput.blur()">
  
        <div *ngIf="(searchText || '').trim().length === 0" class="qm-action-btn qm-action-btn--only-icon qm-search__btn">
          <i aria-hidden="true" class="qm-action-btn__icon icon-search qm-search__icon"></i>
          <span class="sr-only">Search</span>
        </div>
      </div>
</div>
  <div class="qm-flow-sub-header__right">
    <div class="qm-checkbox__container">
      <label for="qm-checkbox" class="qm-checkbox-label">
        <input id="qm-checkbox" class="qm-checkbox" type="checkbox" (change)="onSwitchChange()" [(ngModel)]="isFlowSkip" (focus)="skipBranchFocus=true"  (focusout)="skipBranchFocus=false">
        <div class="qm-checkbox__selector" [ngClass]="{'qm-checkbox-focused':skipBranchFocus}">
          <i aria-hidden="true" class="qm-checkbox__selector-icon"></i>
          <div class="qm-checkbox__selector-icon-text">{{ 'label.skip.branch' | translate }}</div>
        </div>
      </label>
      <button  (click)="clickedshowToolTip()" type="button" class="qm-action-btn qm-action-btn--only-icon qm-option__help-btn qm-tooltip-btn">
        <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
        <span class="sr-only">{{ 'button.info' | translate }}</span>
      </button>
      <div class="quick-serve-tooltip" *ngIf="showToolTip">
        <div class="triangle"></div>
        <div class="quick-serve-tooltip__rec">
            {{'branch_skip_tooltip'|translate}}
        </div>
      </div>   
    </div>
  </div>
</div>

<div class="qm-branch-list__container" dir="{{ userDirection$ | async}}">
  <div class="qm-crossline-header-container">
    <div class="qm-crossline-header"></div>
    <h2 class="qm-crossline-header-text qm-text-overflow-fix">{{ 'label.branch.allbranches' | translate }}</h2>
  </div>
  <div class="qm-select-branch__search-heading" *ngIf="(searchText || '').trim().length > 0">
    <span>{{'label.search.result.header' | translate}} &nbsp;</span>
    <mark>{{ '"'+ searchText + '"' }}</mark>
    <span class="qm-select-branch__foundbox">{{ ' ' + 
        (calendarBranches | filterBranch : filterText)?.length + ' ' 
        + ((calendarBranches | filterBranch : filterText)?.length == '1' ? ('label.branch.found' | translate) :  ('label.branches.found' | translate))
    }}
  </span>
  </div>
  <div class="qm-flow-list-container">
  <div class="qm-list">
    <div *ngFor="let b of calendarBranches | filterBranch : filterText;" class="qm-branch-list__item qm-list__item" 
      [ngClass]="{'qm-branch-list__item--selected, qm-list__item--selected': b.publicId === currentBranch.publicId, 
      'qm-list__item--info-active' : b.showInfo}">
      <div tabindex="0" class="qm-branch-list__item--text qm-list__item--text" (click)="onToggleBranchSelection(b)" (keydown.enter)="onToggleBranchSelection(b)" (keydown.space)="onToggleBranchSelection(b)" [ngClass]="{'qm-outline':b.showInfo}">
        <div  class="qm-list__item--label" [ngClass]="{'qm-highlight-text':b.showInfo}" [innerHtml]="b.name | qmhighlight: searchText">
        </div>
        <div class="qm-list__item--info" *ngIf="b.showInfo">
          <i class="qm-list__item--info__icon qm-action-btn__icon  icon-location-light" aria-hidden="true"></i>
          <div class="qm-list__item--info__text">{{ getBranchAddressText(b) || ('label.noinformation.avaialble' | translate) }}</div>
        </div>      
      </div>
      <button class="qm-transparent-btn qm-action-btn__icon" type="button"  (click)="b.showInfo = !b.showInfo">
        <i *ngIf="!b.showInfo" class="qm-action-btn__icon icon-info" aria-hidden="true"></i>
        <i *ngIf="b.showInfo" class="qm-action-btn__icon icon-info-solid" aria-hidden="true"></i>
        <span class="sr-only">{{ b.showInfo ? ('button.closeInfo' | translate) : ('button.info' | translate) }}</span>
      </button>
    
      </div>
    </div>
  </div>
  </div>
</div>
</div>
</div>
<div class="qm-flow-done-bar" *ngIf="currentBranch && currentBranch.publicId">
  <button class="qm-flow-done-bar__done-button" (click)="doneButtonClick()" >   {{'label.banner_done' | translate }}</button>
</div>
</div>



<!-- <div style="height:calc(100vh - 100px);background-color: rgb(161, 178, 255);">
  <div style="height:100px; background-color:white;bottom:0">asdhasn</div>
  <div style="height:200px; background-color:green;bottom:0">asdhasn</div>
</div> -->