<div class="qm-flow-sub-header" dir="{{ userDirection$ | async}}">
  <div class="qm-flow-sub-header__left">
      <div class="qm-checkbox__container">
        <label for="qm-checkbox" class="qm-checkbox-label">
          <input id="qm-checkbox"class="qm-checkbox" type="checkbox" (change)="onSwitchChange()" [(ngModel)]="isFlowSkip">
          <div class="qm-checkbox__selector">
              <i aria-hidden="true" class="qm-checkbox__selector-icon"></i>
              <div class="qm-checkbox__selector-icon-text">{{ 'skip_branch_label' | translate }}</div>
          </div>
        </label>
      </div>
  </div>
  <input type="text" class="qm-flow-sub-header__search"  qmClearInput [(ngModel)]="searchText" (input)="handleInput($event)" placeholder="{{'branch_search_placeholder' | translate}}" />
  <div class="qm-flow-sub-header__right">
    <div class="qm-done-button" (click)="doneButtonClick()" *ngIf="currentBranch && currentBranch.id">
      {{'banner_done_label' | translate }}
    </div>
  </div>
</div>
<div class="qm-branch-list__container" dir="{{ userDirection$ | async}}">
  <div *ngFor="let b of calendarBranches | filterBranch : filterText" class="qm-branch-list__item" (click)="onToggleBranchSelection(b)" [ngClass]="{'qm-branch-list__item--selected': b.publicId === currentBranch.publicId}">
   <div class="qm-branch-list__item--text">{{b.name}}</div>
    <i class="icon-check" *ngIf="b.publicId === currentBranch.publicId"></i>
  </div>
</div>
