@import '../../../../styles/base/_component-manifest.scss';

.qm-branch-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}

.qm-select-branch {
    .qm-flow-sub-header__right {
        align-items: flex-end;
        margin-left: $standard-margin;
    }

    &__foundbox {
        font-size: 16px;
        color: $dark-transparent42;
    }

    .qm-checkbox-label {
        padding-right: 1rem;
    }

    .qm-checkbox__selector-icon-text {
        margin-left: 0.5rem;
    }

    &__search-heading {
        width: 100%;
        padding-top: 1rem;
        font-size: rem(18px);
        mark {
            font-weight: 800;
            background-color: transparent;
        }
    }
}

.qm-branch-list {
    &__item {
        text-align: left;
        cursor: pointer;
        position: relative;
    }
}
