@import '../../../../styles/base/_component-manifest.scss';

.qm-branch-list__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1.5rem;
}
.qm-branch-search-area {
    display: flex;
  }

.qm-checkbox-label{
  z-index: 400;
}

.qm-select-branch {
    .qm-flow-sub-header__right {
        align-items: flex-end;
        margin-left: $standard-margin;
    }

    &__foundbox {
        font-size: 16px;
        color: $dark-transparent42;
    }

    .qm-checkbox-label {
        padding-right: 1rem;
        z-index: 400;
    }

  

  
    &__search-heading {
        width: 100%;
        padding-top: 1rem;
        font-size: rem(18px);
        mark {
            font-weight: 800;
            background-color: transparent;
        }
        @at-root [dir='rtl'] & {
            text-align: right;
          } 
    }
}

.qm-branch-list {
    &__item {
        text-align: left;
        cursor: pointer;
        position: relative;
        .qm-list__item--info {
          font-size: 18px;
          color: $dark-transparent82;
          letter-spacing: 0;
          padding-top: 1rem;
          padding-bottom: 1rem;
          display: flex;
          align-items: center;
          &__icon {
            margin-right: 0.5rem;
            font-size: 2.5rem;
            margin-left: -10px;
            @at-root [dir='rtl'] & {
              margin-left: 0.5rem;
              margin-right: -10px;
            }
          }

          &__text {
            width: 100%;
          }
        }
    }
}

.quick-serve-tooltip{
    width: 350px;
      z-index: 30;
      position: absolute;
      margin-left: 12px;
      // margin-top: -87px;
      margin-bottom: 10px;

      @at-root [dir="ltr"] & {
        left: -82px;
    }
    
      @at-root [dir="rtl"] & {
        right: -82px;
          margin-right: 12px;
          text-align: right;
      }
      
      
      &__rec{
        background: $dark-transparent82;
        color: $white;
        font-size: 16px;
        padding: 10px;
        line-height: 24px;
        text-align: center;
        border-radius: 5px;
        margin-top: -22px;
  
      }
  }
  
  @include qm-xs{
    .quick-serve-tooltip{
      @at-root [dir="ltr"] & {
        left: -168px;
    }
    
      @at-root [dir="rtl"] & {
        right: -168px;
          margin-right: 12px;
          text-align: right;
      }
      .triangle {
        
        @at-root [dir='ltr'] & {
          left: 41%;
        }
        @at-root [dir='rtl'] & {
          right: 41%;
      }
    }
  }}

  @include qm-sm{
    .quick-serve-tooltip{
      @at-root [dir="ltr"] & {
        left: -100px;
    }
    
      @at-root [dir="rtl"] & {
        right: -100px;
          margin-right: 12px;
          text-align: right;
      }
      .triangle {
        
        @at-root [dir='ltr'] & {
          left: 21%;
        }
        @at-root [dir='rtl'] & {
          right: 21%;
      }
    }
  }}

  .tool-tip-back-drop{
    width: 100vw;
    height: 100vh;  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    // background: rgba(0, 0, 0, 0.5);
  } 
  
  
  .triangle {
    width: 43px;
    height: 77px;
    position: relative;
    overflow: hidden;
    margin: auto;
    top:-22px;
   
    @at-root [dir='ltr'] & {
      left: 16%;
    }
    @at-root [dir='rtl'] & {
      right: 13%;
  }
  }
  .triangle:after {
    content: "";
    position: absolute;
    width: 55px;
    height: 50px;
    background: $dark-transparent82;
    transform: rotate(45deg); /* Prefixes... */
    top: 75px;
    
    // box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  }
  


  
  .qm-checkbox__selector-icon-text {
    margin-left: 0.5rem;
    // margin-right: 2rem;
    font-size: 18px;
    color:rgba(0,0,0,0.82) !important;
}

button:focus{
    border:  solid #007bff 1px;
  }
  
  input:focus{
    border:  solid #007bff 1px;
  }
  .qm-branch-list__item--text:focus{
    border:  solid #007bff 1px; 
}

///Tempory: this can be removed after replacing the qm_list.scss file
.icon-info , .icon-info-solid{
      
  position: relative;
  right: 0; 
  transform: translateY(0%);
  top: 0%; 

  @at-root [dir='rtl'] & {
    left: 0;
  }
}

.qm-list{
  padding: 24px
}
.qm-list__item{
display: flex;
}

.qm-list__item--text{
background-color: white;
width: calc(100% - 41px); 
}
.qm-list__item{
background: transparent; 
}

.qm-checkbox-focused{
  border:  solid #007bff 1px;
}

.qm-list__item--label{
  white-space: normal;
}

// .qm-crossline-header {
//   &-text {
//     background: linear-gradient(to bottom, #ffffff 50%, #FAFAFB 62%);
//     }
// }

.qm-crossline-header-text{
  background: #fafafa;
}
.qm-flow-list-container{
  background: none;
}
.qm-pannel-inner-container{
  background: #fafafa;
  min-height: calc(100vh - 162px);
  padding: 30px 24px;
}

.qm-white-container{
  background: #ffffff;
}


@include qm-lg{
  .qm-pannel-inner-container{
    margin: 0 126px;
  }

}
@include qm-md{
  .qm-pannel-inner-container{
    margin: 0 126px;
  }
}
@include qm-sm{
  .qm-pannel-inner-container{
    margin: 0 64px;
  }
}
@include qm-xs{
  .qm-pannel-inner-container{
    margin: 0;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .qm-checkbox__border{
    margin-top: -16px;
  }
}
.chc{
  -webkit-appearance: checkbox !important;
  
}

.styled-checkbox {
 
  opacity: 0; // hide it
  border: 1px solid black;
  & + label {
    position: relative;
    cursor: pointer;
    padding: 0;
  }
  // Box.
  & + label:before {
    border: 3px solid rgba(0, 0, 0, 0.54);
    content: '';
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 20px;
    height: 20px;
    border-radius: 3px;
  }

  // Box hover
  &:hover + label:before {
    background: rgba(0, 0, 0, 0.5);
    border:none;
  }

  &:checked + &:hover + label:before {
    background: #017c65;
    border:none;
    box-shadow: 0 0 0 3px rgba(1,124,101,0.12)
  }
  
  // Box focus
  &:focus + label:before {
    // box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.5);
  }

  // Box checked
  &:checked + label:before {
    border:none;
    background: #017c65;
  }

  
  
  // Disabled state label.
  &:disabled + label {
    color: #b8b8b8;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before {
    box-shadow: none;
    background: #ddd;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after {
    content: '';
    position: absolute;
    left: 5px;
    top: 9px;
    background: white;
    width: 2px;
    height: 2px;
    box-shadow: 
      2px 0 0 white,
      4px 0 0 white,
      4px -2px 0 white,
      4px -4px 0 white,
      4px -6px 0 white,
      4px -8px 0 white;
    transform: rotate(45deg);
  }
}

.qm-check-box-background{
  background: #017c65;
  border-radius: 44px;
  width: 40px;
  height: 40px;
  left: 11px;
  position: absolute;
  z-index: -1;
  top:0;
  opacity: 0.12;
}

