.qm-expire-counter__label {
    font-size: 16px;
    margin-bottom:  5px;
    max-width: 175px;
    font-weight: 300;
  }
  .qm-expire-counter__time {
    padding-bottom:  5px;
  }
  .qm-expire-counter {
    width: 130px;
  }