@import "../../../../styles/base/_component-manifest.scss";
.qm-flow-sub-header {
  height: 2.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  &__right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}

.qm-identify-appointment {

  &__search-area {
    display: flex;
    position: relative;
    .qm-search--large {
      display: flex;  
      width: 50%;
    }

    .qm-btn--primary {
      width: 10rem;
      margin-left: 1rem;
      align-items: center;

      @at-root [dir='rtl'] & {
        margin-right: 1rem;
      }
    }

    &-not-found {
      display: flex;
      color: $dark-transparent82;
      font-weight: $font-weight-light;
      text-align: center;
      font-size: 18px;
      border: 1px solid rgba(0,0,0,0.12);
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
      width: 50%;
      text-align: center;
      align-items: center;
      justify-content: center;
      height: 108px;
      background-color: $white;
      padding-left: 0.75rem;
      padding-right: 0.75rem;
    }

    &-warning {
      text-align: left;
      margin-top: 0.75rem;

      color: $dark-transparent42;
      i {
        color: $dark-transparent82;
      }
      @at-root [dir='rtl'] & {
        text-align: right;
      }
    }

    &-loading {
      color:$dark-transparent82;
      font-size: 18px;
      font-weight: $font-weight-light;
      text-align: center;
      width: 50%;
      height: 79px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $white;
      box-shadow: 0 2px 4px 0 rgba(0,0,0,0.12);
      border: 1px solid rgba(0,0,0,0.12);
    }
  }

  &__customer-search-area {
    .qm-search--large {
      width: 100%;
      margin: 0;
      min-height: 54px;
    }

    qm-customer-search-bar {
      position: absolute;
      width: 100%;

      ::ng-deep .customer-search {
        > div {
          width: 50%;
          margin: 0;
        }
      }

      
      ::ng-deep .qm-action-btn--only-icon {
        margin-top: 16px;
      }
    }

    qm-customer-search {
      width: 90%;
      position: relative;
      top: 56px;

      ::ng-deep .customer-not-found--feedback {
        border: 1px solid rgba(0,0,0,0.12);
        background-color: #FFFFFF;
        box-shadow: 0 2px 4px 0 rgba(219, 164, 164, 0.12);

        .customer-list {
          font-size: 18px;
          font-weight: $font-weight-light;
          color: rgba(0,0,0,0.82);
          border: none;

          td {
            white-space: normal;
            vertical-align: middle;
            height: 102px;
          }
        }
      }

      ::ng-deep .customer-table {
        background-color: $white;
        font-size: 18px;
      }

    }
  }


  &__selected {
    color: $dark-transparent82;
    display: flex;
    font-size: 18px;
    align-items: center;
    width: calc(100% - 106px);

    &--text {
      max-width: 35%;
      padding: 1rem 1rem 1rem 0;

      @at-root [dir='rtl'] & {
        padding: 1rem 0 1rem 1rem;
      }
    }

    &__close-btn {
      color: $primary-pink;
      font-size: 14px;
      &:hover {
        cursor: pointer;
        color: $dark-transparent82;
      }
      i {
        font-size: 1.5rem;
        font-weight: $font-weight-bold;
      }
    }
    &--details {
      border: 1px solid #d5d5d5;
      background-color: #ffffff;
      box-shadow: 2px 4px 4px 0 $dark-transparent04;
      width: 60%;
      height: 56px;
      line-height: 56px;
      font-size: 18px;
      margin-left: 1rem;
      margin-right: 1rem;
      padding-left: 1rem;
      padding-right: 1rem;
      display: flex;
      justify-content: space-between;


      span {
        display: inline-block;
        margin-left: 1rem;
        @at-root [dir="rtl"] & {
          margin-right: 1rem;
        }
      }
    }

    &--icon {
      font-size: 32px;
      color: $dark-transparent62;

      &:hover {
        color: $dark-transparent82;
        cursor: pointer;
      }
    }
  }

  &__button-container {
    display: flex;
  }

  &__pannel-button {
    background-color: $white;
    box-shadow: 0 -1px 4px 0 rgba(0, 0, 0, 0.22);
    color: $dark-transparent82;
    padding: 15px 35px;
    border-radius: 4px 4px 0px 0px;
    cursor: pointer;
  }

  &__pannel-middle-button {
    margin: 0px 12px;
  }
  &__pannel-button-selected {
    background-color: $pale-aquamarine;
    color: $white;
  }
  &__pannel-bottom-bar {
    margin-top: 0;
    border-top: 3px solid $pale-aquamarine;
  }

  &__pannel-header {
    color: $dark-transparent82;
    margin-top: 15px;
    font-size: 1.1em;
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.12);
    padding-bottom: $standard-padding/2;
    position: relative;
  }
  &__time-container {
    padding: 0px 10px;
    color: $pale-aquamarine;
    display: flex;
    cursor: pointer;
    &:hover {
      color: $dark-transparent82;
    }
  }
  &__refresh-button {
    right: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: $dark-transparent62;

    &:hover {
      color: $dark-transparent82;
      cursor: pointer;
    }

    
    &--disabled {
      color: rgba(0, 0, 0, 0.25);
      &:hover {
        color: rgba(0, 0, 0, 0.25);
        cursor: default;
      }
   }
    .icon-refresh {
      padding-right: 0;
    }

    @at-root [dir="rtl"] & {
      left: 0;
      right: auto;
    }
  }

  // TABLE AREA
  &__customer-table {
    display: flex;
    flex-wrap: wrap;

    // TABLE HEADER AREA
    &__header {
      display: flex;
      line-height: 56px;
      color: $dark-transparent62;
      font-weight: $font-weight-medium;

      & > div {
        &:first-child {
          padding-left: 1rem;
        }

        &:hover {
          cursor: pointer;
          color: $dark-transparent82;
        }
      }
    }
    width: 100%;

    i {
      font-size: 16px;
      margin-left: 1rem;
    }

    &.qm-sort-inactive {
      cursor: default;
    }

    &__list {
      display: flex;
      width: 100%;
      background-color: #ffffff;
      box-shadow: 2px 4px 4px 0 $dark-transparent04;
      border: 1px solid $listitem-border-color;
      font-size: 18px;
      line-height: 56px;
      color: $dark-transparent82;
      position: relative;

      &-parent {
        width: 100%;
        position: relative;
        margin-bottom: 0.6rem;

        .icon-info {
          position: absolute;
          right: -3rem;
          top: 50%;
          transform: translateY(-50%);
          font-size: 28px;
          cursor: pointer;
          color: $dark-transparent62;
  
          @at-root [dir="rtl"] & {
            left: -3.5rem;
            right: auto;
          }
        }
      }

      &:hover {
        background-color: $dark-transparent04;
        cursor: pointer;
        .icon-info {
          color: $dark-transparent82;
        }
      }

      & > div:first-child {
        padding-left: 1rem;
      }
    }
  }
}

.qm-action-btn__icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: 8px;
}

.icon-scan-qr{
  // color: $primary-pink;
  font-size: 4em;
  padding: 0px 5px;
 
}
.scan-qr-container{
  padding: 10px 15px;
  background-color: white;
  box-shadow: 2px 4px 4px 0 $dark-transparent04;
  position:absolute;
  text-align: center;
  margin-top: -20px;
  border: 1px solid $dark-transparent12;
  cursor: pointer;
}



// qr-code-modal related css
.qm-qr-code-modal
{background: rgba(0, 0, 0, 0.6);
  height: 100vh;
  width: 100vw;
  position: fixed;
  top:0;
  z-index: 10000000;

  &__container{
   position:fixed; 
   top: 50%;
   left: 50%; 
   width:30em;
   height:18em;
   margin-top: -9em; 
   margin-left: -15em;
   border: 1px solid #ccc;
   background-color: #f3f3f3;
  }

  &__heading{
    display: flex;

  }
  &__heading-text{
    color: $dark-transparent82;
    font-size: 1.7em;
    font-weight: 300;
    padding: 10px 40px;
    flex: 1;
  }
  &__close-container{
    color: $dark-transparent42;
    padding: 25px;
    font-size: 1.8em;
    flex: 1;
    text-align: right;
    cursor: pointer;
    @at-root [dir="rtl"] & {
            text-align: left;
          }
  }
  &__content{
    text-align: center;
    font-size: 1.5em;
    font-weight: 500;
    color: $dark-transparent82;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__done-icon{
    padding: 0px 10px;
    color: $pale-aquamarine
  }
  &__text-line{
    color: $dark-transparent82;
    font-size: 1.3em;
    font-weight: 300;
    padding: 20px 40px;
    flex: 1;
    text-align: center
  }
  input{
    position: absolute;
    width: 0;
    height: 0;
    left: -400vw;
  }

}




// .qm-identify-appointment {
//   &__search-input {
//     width: $appointment-identify-searchbar-width;
//     justify-content: center;
//     align-items: center;
//     display: flex;
//     margin-right: auto;
//     margin-left: auto;
//     position: relative;
//     overflow: hidden;
//     background-color: $white;
//     input {
//       line-height: 2.5rem;
//       border: none;
//       font-size: rem(14px);
//       padding-left: 1rem;
//       width: 100%;
//       transform: translate3d(0, 0, 0);
//       position: absolute;
//       top: 0;
//       left: 0px;
//       height: 42px;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//       width:100px;
//       width: 80%;
//       &:focus {
//         outline: none;
//       }
//     }
//   }
//   &__search-container {
//     height: 7rem;
//     background-color: transparent;
//     display: flex;
//     position: relative;
//     z-index: 2000;
//     justify-content: center;
//     align-items: center;
//     margin-right: auto;
//     margin-left: auto;
//     width: $appointment-identify-searchbar-width;
//     svg {
//       height: 3rem;
//     }
//   }
//   &__table-container {
//     color: black;
//     margin-top: 10px;
//     font-size: 0.8em;
//   }
//   .qm-duration-control {
//     position: absolute;
//     z-index: 1041;
//     width: 100%;
//     background-color: lightgrey;
//     overflow: hidden;
//     top: 0px;
//     left: 0px;
//     &__header {
//       display: flex;
//       color: $black;
//       height: 3.5rem;
//       letter-spacing: 3px;
//       div {
//         flex: 1;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//       }
//     }
//   }
//   .qm-step-controls-container {
//     display: flex;
//     ngb-timepicker {
//       flex: 1;
//     }
//   }
//   .identify-appointment-backdrop {
//     position: fixed;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-color: rgba(0, 0, 0, 0.5);
//   }
//   &__customer-table {
//     color: black;
//     font-size: 0.9rem;
//     width: 100%;
//     :focus {
//       outline: none;
//     }
//     &__header {
//       background-color: $dark-transparent12;
//       border-bottom: 3px solid $light-gray2;
//       font-size: 0.75rem;
//       margin: 5px;
//     }
//     &__list {
//       background-color: white;
//       border-bottom: 1px solid $light-gray2;
//       height: 35px;
//       width: 100%;
//       padding: 0;
//       margin: 0;
//       cursor: pointer;
//     }
//     &__list:active {
//       background-color: $light-gray2;
//     }
//     &__col-5 {
//       width: 5%;
//     }
//     &__col-10 {
//       width: 10%;
//     }
//     &__col-15 {
//       width: 15%;
//     }
//     &__col-20 {
//       width: 20%;
//     }

//   }
//   &__tbody {
//     display: block;
//     overflow-y: auto;
//     width: 100%;
//   }
//   tr {
//     display: table;
//     width: 100%;
//   }
//   th {
//     height: 50px;
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     max-width: 1px;
//   }
//   td {
//     white-space: nowrap;
//     text-overflow: ellipsis;
//     overflow: hidden;
//     max-width: 1px;
//     height: 50px;
//     outline-style: none;
//     box-shadow: none;
//     border-color: transparent;
//     @at-root [dir="rtl"] & {
//       text-align: right;
//     }
//   }
//   .qm-selected-appointment-container {
//     display: flex;
//     justify-content: center;
//     margin-left: auto;
//     margin-right: auto;
//     align-items: center;
//     width: $appointment-identify-searchbar-width;
//   }
//   .qm-selected-appointment {
//     width: 100%;
//     background-color: $app-theme;
//     padding-left: 3rem;
//     padding-right: 3rem;
//     position: relative;
//     i {
//       position: absolute;
//       right: 1rem;
//       top: 12px;
//       cursor: pointer;
//     }
//     &-text {
//       line-height: 2.5rem;
//       vertical-align: middle;
//       font-family: $secondary-font-light;
//       font-weight: 700;
//       letter-spacing: 1px;
//       font-size: 0.8em;
//       @at-root [dir='rtl'] & {
//         text-align: right;
//       }
//     }
//   }
//   .qm-arrive-searchinput-close {
//     position: absolute;
//     right: 1rem;
//     color: $black;
//     top: 50%;
//     transform: translateY(-50%);
//     cursor: pointer;
//     @at-root [dir="rtl"] & {
//       left: 1rem;
//       right: auto;
//     }
//   }
//   .qm-customer-search-results {
//     position: absolute;
//     color: black;
//     width: $appointment-identify-searchbar-width;
//     display: flex;
//     z-index: 1041;
//     background-color: white;
//     left: 50%;
//     transform: translateX(-50%);
//     flex-direction: column;
//     .qm-cutomer-item {
//       width: 95%;
//       margin: 0 auto 2.5% auto;
//       box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
//       height: 100%;
//       text-align: left;
//       display: flex;
//       flex-direction: column;
//       font-family: $secondary-font-light;
//       letter-spacing: 1px;
//       font-size: 0.8rem;
//       padding-left: 0.5rem;
//       cursor: pointer;
//       &:active {
//         background: #eaeaea;
//       }
//       .qm-cutomer-item-name,
//       .qm-cutomer-item-email,
//       .qm-cutomer-item-phone {
//         display: flex;
//         padding-top: 0.5rem;
//         padding-bottom: 0.5rem;
//         div[class$="__label"] {
//           width: 10rem;
//         }
//       }
//     }
//   }
//   .qm-appointment-refresh {
//     position: absolute;
//     width: 50px;
//     height: 35px;
//     margin-top: 30px;
//     svg {
//       width: 28px;
//       height: 28px;
//     }
//     background: none;
//     border: none;
//     @at-root [dir="rtl"] {
//       left: 11.25%;
//     }
//     @at-root [dir="ltr"]{
//       right: 11.25%;
//     }

//     transform: translateX(50%);
//     top: 3.8rem;
//     cursor: pointer;
//     &:focus,
//     &:active {
//       outline: none;
//     }
//     &--disabled {
//       fill: none;
//       stroke: #bdbdbd;
//       stroke-linecap: round;
//       stroke-miterlimit: 10;
//       stroke-width: 6px;
//     }
//     &--enabled {
//       fill: none;
//       stroke: #000;
//       stroke-linecap: round;
//       stroke-miterlimit: 10;
//       stroke-width: 6px;
//     }
//   }
// }

// .qm-arrive-searchinput-close {
//   @at-root [dir="rtl"] & {
//     left: 5%;
//     right: auto;
//   }
// }

// .qm-command-buttons-container {
//   display: flex;
//   justify-content: center;
//   margin-bottom: 2rem;
//   button {
//     color: $white;
//     height: 45px;
//     width: 112.5px;
//     line-height: 44.5px;
//     text-align: center;
//     border: none;
//     font-size: rem(12px);
//     letter-spacing: 1px;
//     cursor: pointer;
//     &.ok {
//       background-color: $app-theme;
//       &.invalid-time {
//         background-color: #8e8e8e;
//       }
//     }
//     &.cancel {
//       background-color: #8e8e8e;
//       font-family: Montserrat-Light;
//       margin-right: 0.75rem;
//       @at-root [dir="rtl"] & {
//         margin-left: 0.75rem;
//       }
//     }
//   }
// }

// .qm-search-icon {
//   +.qm-search-icon {
//     margin-left: 3px;
//   }
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
//   height: rem(105px);
//   width: 100%;
//   background-color: $search-bar-background;
//   border: none;
//   cursor: pointer;
//   &--selected {
//     background-color: $app-theme;
//     .qm-search-icon__text {
//       color: $search-bar-background;
//     }
//     svg {
//       fill: $search-bar-background;
//     }
//   }
//   &__text {
//     color: $seach-bar-text-color;
//     font-family: $secondary-font-light;
//     font-size: 0.6rem;
//     margin-top: 0.4rem;
//   }
// }

// @at-root [dir="rtl"] {
//   .qm-search-icon {
//     +.qm-search-icon {
//       margin-right: 3px;
//       margin-left: 0;
//     }
//   }
//   .qm-identify-appointment__search-input {
//     input {
//       padding-left: 0;
//       padding-right: 1rem;
//       white-space: nowrap;
//       overflow: hidden;
//       text-overflow: ellipsis;
//     }
//   }
//   .qm-customer-item-name__value,
//   .qm-customer-item-email__value,
//   .qm-customer-item-phone__value {
//     padding-right: 4rem;
//   }
// }

// :host>>>input {
//   width: 50px;
// }

// .qm-selected-appointment-text {
//   @at-root [dir='rtl'] & {
//     text-align: right;
//   }

// }

// [dir='rtl'] .qm-selected-appointment .icon-close{
//   left : 1rem;
//   right: auto;
// }

// .qm-customer-not-found {
//   display: flex;
//   justify-content: center;
//   margin-left: auto;
//   margin-right: auto;
//   align-items: center;
//   width: $appointment-identify-searchbar-width;
//   background-color: $app-theme;
//   font-size: 0.8rem;
//   height: 2.5rem;
//   position: relative;
// }

// .refreshBtnStyleDisable-1 {
//   fill: none;
//   stroke: #bdbdbd;
//   stroke-linecap: round;
//   stroke-miterlimit: 10;
//   stroke-width: 6px;
// }

// .refreshBtnStyleDisable-2 {
//   fill: #bdbdbd;
// }

// .refreshBtnStyleEnable {
//   fill: none;
//   stroke: #000;
//   stroke-linecap: round;
//   stroke-miterlimit: 10;
//   stroke-width: 6px;
// }

// .qm-flow-sub-header ~ .qm-identify-appointment .qm-appointment-refresh {
//     margin-top: 90px;
// }

// /* IE 11 */
// @media all and (-ms-high-contrast:none) {
//   :host {
//     display: block;
//   }
// }

// .qm-loader-container{
//   padding-top: 30px;
// }

// .qm-customer-search-loader{
//   position: absolute;
//     color: white !important;
//     width: $appointment-identify-searchbar-width;
//     display: flex;
//     z-index: 1041;
//     left: 50%;
//     transform: translateX(-50%);
//     flex-direction: column;
//     padding-top: 90px;
// }

// .qm-calendar-container {
//   width: 100%;
//   display: flex;
//   margin-top: 0.3rem;
//   background-color: $calendar-background;
//   qm-calendar {
//     width: 100%;
//     margin-left: 1rem;
//     margin-right: 1rem;
//   }
// }

// .qm-duration-category {
//   display: flex;
//   color: $black;
//   background-color: $white;

//   &__date {
//     flex: 1;
//     line-height: 3rem;
//     justify-content: center;
//     display: flex;
//     cursor: pointer;
//     &--active {
//       background-color: $app-theme;
//       color: $primary-text-color;
//     }
//   }

//   &__time {
//     flex: 1;
//     line-height: 3rem;
//     justify-content: center;
//     display: flex;
//     cursor: pointer;
//     &--active {
//       background-color: $app-theme;
//       color: $primary-text-color;
//     }
//   }
// }

// .qm-enable-search-by-day {
//   .qm-command-buttons-container {
//       margin-top: 1rem;
//   }
//   .qm-in-time-selection .qm-step-controls-container {
//     margin-bottom: 135px;
//   }
// }

// .qm-date-time-selection-footer-text {
//   position: fixed;
//   color: black;
//   background-color: $white;
//   letter-spacing: 2px;
//   font-size: 13px;
//   top: 685px;
//   padding: 5px 50px;
// }

// th {
//   cursor: pointer;
//   &.qm-sort-active {
//     &::after {
//       content: '\25b2';
//     }
//   }

//   &.qm-sort-inactive {
//     cursor: default;
//   }
// }

// .qm-sort-desc {
//   th {
//     &.qm-sort-active {
//       &::after {
//         content: '\25bc';
//       }
//     }
//   }
// }

// .qm-details-text-feild{
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   width:80%;

// }
