@import '../../../../styles/base/_component-manifest.scss';

.qm-flow-main-header{
    background-color: $midnight-blue;
    height: 75px;
    display: flex;
    width: 100%; 
       &__topic{
        color: $white;
        font-family: $font-family !important;
    }
    &__icon{
      font-size: 3em;
      color: white;
      padding: 10px 0px 7px 40px;
    }
}

.qm-fishes-container{
  display: flex;
}

div:focus{
  .qm-fishes-text{
    font-weight: 500 !important;
  }
  .qm-flow-close{
    font-weight: 500 !important;
  }
 
}

.qm-fishes-first { 
    margin-top: 7px;
    width: calc((100vw - 349px)/5);
    height: 60px;
    position: relative;
    background: $light-transparent12;
    text-align: center;
    @at-root [dir="ltr"] & {
      border-top-left-radius: 5px;
      border-bottom-left-radius: 5px;
     }
    @at-root [dir="rtl"] & {
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      margin-left: 4px;
     }
  }
  
  .qm-fishes-first:before {
    margin-top: 10px;
    content: "";
    position: absolute;   
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $light-transparent12;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    @at-root [dir="ltr"] & {
      right: -20px;
     }

    @at-root [dir="rtl"] & {
      left: -20px;
      transform: rotate(180deg);
     }
  }


  .qm-fishes {

    margin-top: 7px;
    width: calc((100vw - 350px)/5);
    height: 60px;
    position: relative; 
    background: $light-transparent12;
    text-align: center;
    margin-left: 4px;
    // display: table;
  }

  .qm-fishes:before {
    margin-top: 10px;
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $light-transparent12;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    @at-root [dir="ltr"] & {
      right: -20px;
     }

    @at-root [dir="rtl"] & {
      left: -20px;
      transform: rotate(180deg);
     }
  }
  .qm-fishes:after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $midnight-blue;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    @at-root [dir="ltr"] & {
      left: 0;
     }

    @at-root [dir="rtl"] & {
      right: 0;
      transform: rotate(180deg);
     }
  }
  .qm-fishes-active{
    background-color: $white;
    cursor: pointer;
  }

  .qm-fishes-active:before{
    border-left: 20px solid $white;

  }

  .qm-fishes-text{
      color:$light-transparent75;
      min-width: calc((100vw - 400px)/5);
      vertical-align: middle;
      font-family: "Roboto", sans-serif !important;
      font-weight: 100;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 3.2em;
      align-items: center;
      text-align:center;
      margin-left: 20px;
      margin-right: 10px;
      display: grid;
      line-height: 1.5em;
      padding-top: 5px;
      
    }
 
  .qm-active-text{
      color: $primary-pink;
      min-width: calc((100vw - 400px)/5);
      vertical-align: middle;
      font-family: "Roboto", sans-serif !important;
      font-weight: bold;
      overflow: hidden;
      text-overflow: ellipsis;
      height: 3.2em;
      align-items: center;
      text-align:center;
      margin-left: 20px;
      display: grid;
      line-height: 1.5em;
      padding-top: 5px;

    }
  .qm-text-underline{
      color:$white;
      text-decoration: underline;
      cursor: pointer;
    }

  .qm-text-underline:hover{
    font-weight: 500;
  }  
  .qm-flow-close{
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    margin-top: 25px;
    position: absolute;
   
    color:$light-transparent75;
    font-family: $font-family;
    @at-root [dir="ltr"] & {
    right: 15px;
    }
    @at-root [dir="rtl"] & {
      left: 15px;
     }
  }
  .qm-flow-close:focus{
    font-weight: 500;
  }
  .qm-fishes-first-element-text{
    margin: 0 !important;
  }

  // IE specific solution
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .qm-fishes-text, .qm-active-text{
      white-space: nowrap;
      text-overflow: ellipsis;
      display: list-item;
      margin: auto;
      padding: 18px 24px;
    }
}
.qm-fishes-btn{
  border: none;
  background: none;
}

.qm-fishes-btn:focus{
  font-weight: 500;
}

button:focus{
  // border:  solid #007bff 1px;
}
