<div class="qm-flow-main-header"  *ngIf="flowPanels.toArray()">
    <div class="qm-flow-main-header__topic" [innerHTML]="FlowName | translate"> </div>
    <div  *ngFor="let headerItem of flowPanels.toArray(); let i=index" [ngClass]="{'qm-fishes': i!=0, 'qm-fishes-first':i==0,'qm-fishes-active':activeHeader == i}" (click)="headerItemClicked(i)" > <div [ngClass]="{'qm-fishes-text':activeHeader != i,'qm-active-text':activeHeader == i,'qm-text-underline':activeHeader>i} "> {{headerItem.title|translate}}</div></div>
    <!-- <div (click)="test()" style="color:white;padding: 30px">test</div> -->
    <div class="qm-flow-close" (click)="onFlowExit()"  > Cancel</div>
 
</div>

<ng-content></ng-content>
<!-- <div style="z-index:10000; background-color:white;height: 200px;width: 100%;bottom: 0;left: 0;right: 0">
    done
</div> -->