<div class="qm-flow-main-header"  *ngIf="flowPanels.toArray()"  dir="{{ userDirection$ | async }}">
    <i class="qm-flow-main-header__icon" [ngClass]="{'icon-createappointment': FlowName=='label.create_appointment','icon-editappointment': FlowName=='label.change_appointment','icon-arriveappointment':FlowName=='label.checkin.appointment','icon-addvisit': FlowName=='create_visit_single_line','icon-editvisit': FlowName=='change_visit_single_line'}"></i>
    <div class="qm-flow-main-header__topic"   [ngStyle]="{'padding':FlowName=='change_visit_single_line' ||FlowName=='create_visit_single_line' ? '1.7rem 1em' : '0.7rem 1em' }"> <div [innerHTML]="FlowName | translate"></div>  </div>
    <div class="qm-fishes-container">
    <div *ngFor="let headerItem of flowPanels.toArray(); let i=index" [ngClass]="{'qm-fishes': i!=0, 'qm-fishes-first':i==0,'qm-fishes-active':activeHeader == i}" (click)="headerItemClicked(i); panelHeaderClick(headerItem)" [ngStyle]="{'z-index':200-i}" > <button class="qm-fishes-btn" [attr.tabindex]="activeHeader<=i ? '-1' : null" [ngClass]="{'qm-fishes-text':activeHeader != i,'qm-active-text':activeHeader == i,'qm-text-underline':activeHeader>i,'qm-fishes-first-element-text':i==0} "> {{headerItem.title|translate}}</button></div>
    </div>
    <button class="qm-flow-close" (click)="onFlowExit();"> {{'label.cancel'|translate}}</button>
 
</div>

<ng-content></ng-content>
