@import '../../../../styles/base/_component-manifest.scss';

.qm-flow-main-header{
    background-color: $midnight-blue;
    height: 75px;
    display: flex;
    width: 100%; 
       &__topic{
        color: $white;
        font-family: $font-family !important;
        padding: 0.5rem 2em;   
    }
}

.qm-fishes-first {
    cursor: pointer;
    margin-top: 7px;
    width: 150px;
    height: 60px;
    position: relative;
    background: $light-transparent12;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
  }
  
  .qm-fishes-first:before {
    margin-top: 10px;
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $light-transparent12;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }


  .qm-fishes {
    cursor: pointer;
    margin-top: 7px;
    width: 150px;
    height: 60px;
    position: relative;
    background: $light-transparent12;
    text-align: center;
    margin-left: 19px;
  }

  .qm-fishes:before {
    margin-top: 10px;
    content: "";
    position: absolute;
    right: -20px;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $light-transparent12;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }
  .qm-fishes:after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 0;
    height: 0;
    border-left: 20px solid $midnight-blue;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
  }

  .qm-fishes-text{
      padding-top: 17px;
      color:$light-transparent75;
      margin-left: 10px;
      font-family: $font-family !important;

  }

  .qm-fishes-active{
    background-color: $white;
  }

  .qm-fishes-active:before{
    border-left: 20px solid $white;

  }
  .qm-active-text{
      color: $primary-pink;
      padding-top: 17px;
      margin-left: 10px;
      font-family: $font-family !important;
      font-weight: bold;
    }
  .qm-text-underline{
      text-decoration: underline;
    }

  .qm-flow-close{
    right: 10px;
    margin-top: 25px;
    position: absolute;
    color:$light-transparent75;
    font-family: $font-family;
  }