@import '../../../../styles/base/_component-manifest.scss';

.qm-flow-main-header{
    background-color: $midnight-blue;
    height: 70px;

    &__topic{
        color: $white;
        font-family: $font-family !important;
        padding: 0.5rem 2em;
 
        
    }
}