<div class="qm-page-root qm-home" dir="{{ userDirection$ | async }}">
  <qm-page-header></qm-page-header>
  <div class="qm-home-content">
    <qm-message-box class="qm-home-content__msg-box" *ngIf="MessageBoxInfo" ></qm-message-box>
    <div [ngClass]="{ 'quick-serve-collapesed': isCollapse}" *ngIf="isQuickServeEnable && !MessageBoxInfo" class="qm-quick-serve-container" [ngStyle]="{'width':isShowQueueView ? auto:'100vw'}">
      <qm-quick-serve></qm-quick-serve>
    </div>
    
    <i class="action-btn slide-icon icon-general" *ngIf="(isShowQueueView||editVisitEnable)" (click)="collapseBtnClicked()"  [ngClass]="{ 'slide-collapesed': isCollapse,'icon-button-down': isCollapse,'icon-button-up': !isCollapse}"> 
      <span class="path1"></span>
      <span class="path2"></span>
      <span class="path3"></span>
    </i>

    <i class="action-btn slide-icon icon-ie" *ngIf="(isShowQueueView||editVisitEnable )&& userDirection === 'rtl'" (click)="collapseBtnClicked()"  [ngClass]="{ 'slide-collapesed': isCollapse,'icon-button-down': isCollapse,'icon-button-up': !isCollapse}"> 
        <span class="path3"></span> 
        <span class="path2"></span> 
        <!-- <span class="path1"></span>       -->
    </i>
      
    <i class="action-btn slide-icon icon-ie" *ngIf="(isShowQueueView||editVisitEnable )&& userDirection === 'ltr'" (click)="collapseBtnClicked()"  [ngClass]="{ 'slide-collapesed': isCollapse,'icon-button-down': isCollapse,'icon-button-up': !isCollapse}"> 
        <span class="path1"></span>
        <span class="path2"></span>
        <span class="path3"></span>   
    </i>
    
    
    <div class="qm-summary-card" *ngIf="isShowQueueView || editVisitEnable">
    <div class="qm-home-summary-area" *ngIf="isShowQueueView || editVisitEnable"> 
      <qm-queue-summary ></qm-queue-summary>
      <br>
      <hr  [ngClass]="{ 'hr-queue': (!selelctedQueue && !selectedVisit),'hr-visit': (selelctedQueue || selectedVisit)}">

      <qm-queue-list isCollapesed="{{isCollapse}}" *ngIf="!selelctedQueue && !selectedVisit"></qm-queue-list>
      <qm-edit-visit-list isCollapesed="{{isCollapse}}" *ngIf="selelctedQueue || selectedVisit"></qm-edit-visit-list>
      </div>
    </div>
  </div>
  <qm-home-menu class="animated slideInUp"></qm-home-menu>
  <router-outlet></router-outlet>
</div>