@import '../../../../styles/base/_component-manifest.scss';

$standard-home-margin : 1.5rem;
.qm-home-content {
    flex: 1;
    display: flex;
    justify-content: center;


    .qm-home-summary-area {
        display: flex;
        flex: 1;
        flex-direction: column; 
        width: 100%;
        min-height: 100%;
        // margin-left: $standard-home-margin;
        background-color: $white;
        
        
        @at-root [dir="ltr"] & {
            margin-left: auto;
        }        

        @at-root [dir="rtl"] & {
            margin-right: auto;
        }        
    }
    &__msg-box{
        width: 100%;height: 100vh;position: absolute;z-index: 2;left:0
    }   
}


.qm-summary-card{
    width:100%;
    height: 100%;
    overflow: auto;
}

@media screen and (max-width: #{map-get($grid-breakpoints, 'md')}) {
    .qm-home-content {
        flex-direction: column;
    }
}

/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 767px) {
    max-width: 500px;
  }
  
  /* Small devices (XS display size -  768px and up) */
  @media only screen and (min-width: 769px) {
    .qm-home-summary-area {
        max-width: 500px;
    }
  }
  
  /* Medium devices (S Display size - 1024px and up) */
  @media only screen and (min-width: 1024px) {
    .qm-home-summary-area {
        max-width:768px;
    }
  } 
  
  /* Large devices (M Display size - 1440px and up) */
  @media only screen and (min-width: 1440px) {
    .qm-home-summary-area {
        max-width: 900px;
    }
  } 
  
  /* Extra large devices (L display size - 1920px and up) */
  @media only screen and (min-width: 1920px) {
    .qm-home-summary-area {
        max-width: 1136px;
    }
  
  }
  