@import '../../../../styles/base/_component-manifest.scss';

$standard-home-margin : 1.5rem;
.qm-home-content {
    flex: 1;
    display: flex;
 
    // justify-content: center;


    .qm-home-summary-area {
        display: flex;
        flex: 1;
        flex-direction: column; 
        // width: 100%;
        min-height: 100%;
    
        // margin-left: $standard-home-margin;
        background-color: #FAFAFA;       
        @at-root [dir="ltr"] & {
            // margin-left: auto;
            margin: auto;
        }        

        @at-root [dir="rtl"] & {
            margin: auto;
        }        
    }
    &__msg-box{
        width: 100%;height: 100vh;position: absolute;z-index: 2;left:0
    }   
}

.icon-ie{
    display: none;
}
.qm-summary-card{
    width:100%;
    height: 100%;
    z-index: 42;
    // overflow: auto;
}


.slide-icon{
    font-size: 3em;
    z-index: 50;
    margin-top: -66px;
    margin-bottom: 20px;
    cursor: pointer;
    @at-root [dir="ltr"] & {
        text-align: right;
        margin-right: 20px;
    }        

    @at-root [dir="rtl"] & {
        text-align: left;
        margin-left: 20px;
    }        
}

.slide-collapesed{
    @include qm-xs {
    margin-top: -115px;
    }

    @include qm-xs-lower {
        margin-top: -115px;
    }
}

.quick-serve-collapesed{
    @include qm-xs {
    height: 300px;
    overflow: hidden;
    }
    @include qm-xs-lower {
    height: 300px;
    overflow: hidden;
    }
}

@media screen and (max-width: 1023px) {
    .qm-home-content {
        flex-direction: column;
    }
}


@include qm-xs {
    .qm-home-summary-area {
        // max-width: 768px;
    }
  }
  
@include qm-sm{
    .slide-icon{
        display: none;
   
    }
    .qm-home-summary-area {
      width:608px;
    }
    .slide-up-icon{
        display: none;
    }
  } 
  
  
@include qm-md {
    .slide-icon{
        display: none;
    }
    .qm-home-summary-area {
        width: 852px;
    }
    .slide-up-icon{
        display: none;
    }
  } 
  

@include qm-lg {
    .slide-icon{
        display: none;
    }
    .qm-home-summary-area {
        width: 1136px
    };
  
    .slide-up-icon{
        display: none;
    }

  }
  

//   IE Specific fix
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
   .icon-general{
       display: none;
   }
   .icon-ie{
       display: block;
       @at-root [dir="rtl"] & {
        
        margin-left: 62px;
    }       
   }
}

.hr-queue{
    // width: 90%;
    color: $dark-transparent42;
    border: 0;
    border-top: 1px solid $dark-transparent12;
    margin-bottom: -5px;
    @include qm-lg {
        width: calc(1136px - 92px);
        margin-left: 39px;
    }
    @include qm-md {
        width: calc(852px - 92px);
        margin-left: 39px;
    }
    @include qm-sm {
        width: calc(608px - 71px);
        margin-left: 32px;
    }
    @include qm-xs {
        width: calc(100vw - 92px);
    }
  }

  .hr-visit{
    // width: 90%;
    color: $dark-transparent42;
    border: 0;
    border-top: 1px solid $dark-transparent12;
    // margin-bottom: px;
    @include qm-lg {
        width: calc(1136px - 74px);
        margin-left: 36px;
    }
    @include qm-md {
        width: calc(852px - 66px);
        margin-left: 33px;
    }
    @include qm-sm {
        width: calc(608px - 62px);
        margin-left: 25px;
    }
    @include qm-xs {
        width: calc(100vw - 46px);
    }
  }