@import '../../../../styles/base/_component-manifest.scss';

$standard-home-margin : 1.5rem;
.qm-home-content {
    flex: 1;
    display: flex;
    justify-content: center;


    .qm-home-summary-area {
        display: flex;
        flex: 1;
        flex-direction: column; 
        // margin-left: $standard-home-margin;
        background-color: $white;        
    }
    &__msg-box{
        width: 100%;height: 100vh;position: absolute;z-index: 2;left:0
    }   
}

@media screen and (max-width: #{map-get($grid-breakpoints, 'md')}) {
    .qm-home-content {
        flex-direction: column;
    }
}