@import '../../../../styles/base/_component-manifest.scss';

$standard-home-margin : 1.5rem;
.qm-home-content {
    flex: 1;
    display: flex;
    position: relative;

    .qm-home-summary-area {
        display: flex;
        flex: 1;
        flex-direction: column; 
        // width: 100%;
        min-height: 100%;
    
        // margin-left: $standard-home-margin;
        background-color: #FAFAFA;       
        @at-root [dir="ltr"] & {
            // margin-left: auto;
            margin: auto;
        }        

        @at-root [dir="rtl"] & {
            margin: auto;
        }        
    }
    &__msg-box{
        width: 100%;height: 100vh;position: absolute;z-index: 2;left:0
    }   
}

.icon-ie{
    display: none;
}
.qm-summary-card{
    width:100%;
    z-index: 42;
    top: 0;
    height: 90%;
}


.slide-icon{
    font-size: 3em;
    z-index: 50;
    margin-top: -25px;
    margin-bottom: 20px;
    position: absolute;
    right: 20px;
    cursor: pointer;
    
}

.quick-serve-collapesed{
    @include qm-xs {
    height: 300px;
    overflow: hidden;
    }
    @include qm-xs-lower {
    height: 300px;
    overflow: hidden;
    }
}

.quick-create-collapesed{
    @include qm-xs {
    height: 300px;
    overflow: hidden;
    }
    @include qm-xs-lower {
    height: 300px;
    overflow: hidden;
    }
}
.quick-arrive-collapesed {
    @include qm-xs {
        height: 300px;
        overflow: hidden;
        }
        @include qm-xs-lower {
        height: 300px;
        overflow: hidden;
        }
}

.icon-general{
    display: none;
}

@media screen and (max-width: 1023px) {
    .qm-home-content {
        flex-direction: column;
    }
}

@include qm-xs-lower {
    .icon-general{
        display: block;
    }
  }

@include qm-xs {
    .icon-general{
        display: block;
    }
  }
  
@include qm-sm{
    .icon-general{
        display: block;
    }
    .qm-summary-card{
        flex:3
      }
  } 
  
  
@include qm-md {
    .qm-summary-card{
        flex:3
      }
  } 
  

@include qm-lg {
    .qm-summary-card{
      flex:3
    }
    .slide-icon{
        display: none;
    }
    .slide-up-icon{
        display: none;
    }

  }

  @include qm-xs-height-lower { 
    .qm-summary-card{
        height: 85%;
    }
    
  }
  

.hr-queue{
    width: calc(100% - 95px);
    color: $dark-transparent42;
    border: 0;
    border-top: 1px solid $dark-transparent12;
    margin-bottom: -5px;
 
    @include qm-sm {
        width: calc(100% - 78px);
    }
    @include qm-xs {
        width: calc(100vw - 92px);
    }
  }

  .hr-visit{
    width: 93%;
    color: $dark-transparent42;
    border: 0;
    border-top: 1px solid $dark-transparent12;

  }

  .slide-icon:focus{
      .path3::before{
    border:  solid #007bff 1px;
}
  }
  .qm-transparent-btn{
      width: fit-content;
    //   right: 0;
    //   float: right;
    margin-bottom: 20px;                
      @at-root [dir="ltr"] & {
        text-align: right;
        margin-right: 20px;
        float: right;
    }        

    @at-root [dir="rtl"] & {
        text-align: left;
        margin-left: 20px;
        float: left;
    }    
  }
  .display-hidden {
      display: none;
  }