<div class="qm-checkout-view" [ngClass]="{'qm-checkout-view__summary--arive': flowType === 'ARRIVE_APPOINTMENT'}" dir="{{userDirection$ | async}}">
  <!-- summary card for create appointment-->
  <div class="qm-checkout-view__summary"  *ngIf="selectedAppointment">
    <div class="qm-checkout-view__summary-grouping" (click)="goToPanel(3)">
      <h2 *ngIf="selectedCustomer">{{selectedCustomer.firstName + ' ' + selectedCustomer.lastName}}</h2>
      <div class="qm-summary-item">
        <span class="qm-summary-item__icon icon-phone"></span>
        <span class="qm-summary-item__text qm-text-overflow-fix" *ngIf="selectedCustomer">{{ selectedCustomer.properties?.phoneNumber }}</span>
      </div>

      <div class="qm-summary-item">
        <span class="qm-summary-item__icon icon-mail"></span>
        <span class="qm-summary-item__text qm-text-overflow-fix" *ngIf="selectedCustomer">{{ selectedCustomer.properties?.email }}</span>
      </div>
    </div>  

    <h3>{{ 'label.appconfirm.details.heading' | translate }}</h3>
    <div class="qm-checkout-view__summary-grouping" (click)="goToPanel(2)" *ngIf="selectedAppointment">
      <div class="qm-summary-item">
        <span class="qm-summary-item__icon icon-calendar-light"></span>
        <span class="qm-summary-item__text" >{{(selectedAppointment?.start || selectedAppointment?.startTime) | date: 'EEEE dd MMMM' }}</span>
      </div>
      <div class="qm-summary-item">
        <span class="qm-summary-item__icon icon-clock"></span>
        <span class="qm-summary-item__text qm-summary-item__text--time-period"><span>{{getStartTime()}}</span><span>&nbsp;-&nbsp;</span><span>{{getEndTime()}}</span></span>
      </div>
    </div>
    <div class="qm-checkout-view__summary-grouping" (click)="goToPanel(0)"  *ngIf="selectedAppointment">
      <div class="qm-summary-item">
        <span class="qm-summary-item__icon icon-home"></span>
        <span class="qm-summary-item__text qm-text-overflow-fix">{{selectedAppointment?.branch?.name || selectedBranch?.name}}</span>
      </div>
    </div>
    <div class="qm-checkout-view__summary-grouping" (click)="goToPanel(1)"  *ngIf="selectedAppointment">
      <div class="qm-summary-item">
        <span class="qm-summary-item__icon icon-service"></span>
        <span class="qm-summary-item__text qm-text-overflow-fix">{{appServices}}</span>
      </div>
    </div>
    <qm-notes (onNotesChanged)="onNotesChanged($event)" [notes]="noteTextStr"></qm-notes>
  </div>

  <!-- summary card for create visit-->
  <div class="qm-checkout-view__summary qm-checkout-view__summary-create-visit" *ngIf="flowType=='CREATE_VISIT'">
   
  
      <!-- 1 Unlinked Customer (No customer is selected) when utt is enabled-->
      <div class="qm-summary-item qm-checkout-view__section" style="max-width:100%">
          <div style="display:flex;width: 100%;position: relative;" *ngIf="( !tempCustomer && !selectedCustomer ) && !isCustomerFlowHidden" class="qm-checkout-view__unlinked-customer">
              <h3>{{'unlinked_customer'|translate}}</h3>
              <i (click)="goToPanel(1)" class="qm-action-btn__icon icon-customer-add" aria-hidden="true"></i>
          </div>
      <!-- 2 No Add Customer utt disabled-->
          <div *ngIf="isCustomerFlowHidden">
            <h3>{{ 'label.visit.details.heading' | translate }}</h3>
          </div>
      </div>

      <!-- 3 if selected customer and utt enabled  -->
      <div class="qm-checkout-view__summary-grouping qm-checkout-view__section"  (click)="goToPanel(1)" >
          <h2 *ngIf="selectedCustomer">{{selectedCustomer.firstName + ' ' + selectedCustomer.lastName}}</h2>
          <h2 *ngIf="tempCustomer && tempCustomer.firstName">{{tempCustomer.firstName}} <span *ngIf="tempCustomer && tempCustomer.lastName">{{tempCustomer.lastName}} </span></h2>
                    
          <div class="qm-summary-item" *ngIf="selectedCustomer && selectedCustomer.properties?.phoneNumber"> 
            <span class="qm-summary-item__icon icon-phone"></span>
            <span class="qm-summary-item__text qm-text-overflow-fix">{{ selectedCustomer.properties?.phoneNumber }}</span>
          </div>

          <div class="qm-summary-item" *ngIf="tempCustomer && tempCustomer.phone"> 
            <span class="qm-summary-item__icon icon-phone"></span>
            <span class="qm-summary-item__text qm-text-overflow-fix">{{ tempCustomer.phone }}</span>
          </div>
    
          <div class="qm-summary-item" *ngIf="selectedCustomer && selectedCustomer.properties?.email">
            <span class="qm-summary-item__icon icon-mail"></span>
            <span class="qm-summary-item__text qm-text-overflow-fix" >{{ selectedCustomer.properties?.email }}</span>
          </div>
          <div class="qm-summary-item" *ngIf="tempCustomer && tempCustomer.email">
            <span class="qm-summary-item__icon icon-mail"></span>
            <span class="qm-summary-item__text qm-text-overflow-fix" >{{ tempCustomer.email }}</span>
          </div>
      </div>

      <!-- If customer flow is hidden -->
      <div class="qm-summary-item qm-checkout-view__section">
          <div *ngIf="!isCustomerFlowHidden">
            <h4>{{ 'label.visit.details.heading' | translate }}</h4>
          </div>
      </div>

      <div class="qm-checkout-view__summary-grouping-non-selective " *ngIf="selectedBranch">
        <div class="qm-summary-item">
          <span class="qm-summary-item__icon icon-home non-selective" style="color:rgba(0,0,0,0.82);"></span>
          <span class="qm-summary-item__text qm-text-overflow-fix">{{selectedBranch?.name}}</span>
        </div>
      </div>
      <div class="qm-checkout-view__summary-grouping" (click)="goToPanel(0)"  *ngIf="appServices">
        <div class="qm-summary-item">
          <span class="qm-summary-item__icon icon-service"></span>
          <span class="qm-summary-item__text qm-text-overflow-fix">{{appServices}}</span>
        </div>
      </div>
      <qm-notes (onNotesChanged)="onNotesChanged($event)" [notes]="noteTextStr"></qm-notes>
    </div>

  <!-- right pannel -->
  <div class="qm-checkout-view__notifications">
    <div *ngIf=" isVipLvl1Enabled || isVipLvl2Enabled || isVipLvl3Enabled" class="qm-checkout-view__vip-container">
      <div class="vip-label">{{ 'vip_section_label' | translate }}</div>
          <div class="radio-container">
            <div *ngIf="isVipLvl1Enabled" class="level">
              <div class="checkbox-container" [ngStyle]="{'border': vipLevel1Checked ? '2px solid #03996C' : '2px solid rgba(0,0,0,0.12)'}">
                <input class="checkbox" type="checkbox" id="vip_lvl_1" [ngModel]="vipLevel1Checked" (click)="onVip1Clicked()">
                <label class="label" for="vip_lvl_1" [ngStyle]="{'background': vipLevel1Checked ? '#03996C' : 'transparent'}"></label>
              </div>
              <span class="label">{{ 'vip_one_label' | translate }}</span>
            </div>
    
            <div *ngIf="isVipLvl2Enabled" class="level">
              <div class="checkbox-container" [ngStyle]="{'border': vipLevel2Checked ? '2px solid #03996C' : '2px solid rgba(0,0,0,0.12)'}">
                <input class="checkbox" type="checkbox" id="vip_lvl_2" [ngModel]="vipLevel2Checked" (click)="onVip2Clicked()">
                <label class="label" for="vip_lvl_2" [ngStyle]="{'background': vipLevel2Checked ? '#03996C' : 'transparent'}"></label>
              </div>
              <span class="label">{{ 'vip_two_label' | translate }}</span>
            </div>
    
            <div *ngIf="isVipLvl3Enabled" class="level">
              <div class="checkbox-container" [ngStyle]="{'border': vipLevel3Checked ? '2px solid #03996C' : '2px solid rgba(0,0,0,0.12)'}">
                <input class="checkbox" type="checkbox" id="vip_lvl_3" [ngModel]="vipLevel3Checked" (click)="onVip3Clicked()">
                <label class="label" for="vip_lvl_3" [ngStyle]="{'background': vipLevel3Checked ? '#03996C' : 'transparent'}"></label>
              </div>
              <span class="label">{{ 'vip_three_label' | translate }}</span>
            </div>
    
          </div>
    
    </div>

    <div class="qm-checkout-view__notifications-heading" *ngIf="flowType=='CREATE_APPOINTMENT' || flowType=='ARRIVE_APPOINTMENT'">{{'label.appconfirm.notification.heading' | translate}}</div>
    <div class="qm-checkout-view__notifications-heading" *ngIf="flowType=='CREATE_VISIT'">{{'label.visitconfirm.notification.heading' | translate}}</div>
    <div class="qm-checkout-view__notifications-question" *ngIf="flowType=='CREATE_VISIT'">
      {{'label.visit.confirm.question' | translate }}
    </div>
    <div class="qm-checkout-view__notifications-question" *ngIf="flowType=='ARRIVE_APPOINTMENT'">
      {{'label.arrive.confirm.question' | translate }}
    </div>
    <button class="qm-button-plain qm-button-plain-with-icon" [ngClass]="{'qm-button-plain--active' : smsSelected}" *ngIf="smsActionEnabled" (click)="onSmsSelected()">
      <div class="qm-button-icon-container">
      <span class="icon-smartphone"></span>
      </div>
      <span>{{ 'send_sms' | translate}}</span>
    </button>

    <button class="qm-button-plain qm-button-plain-with-icon" [ngClass]="{'qm-button-plain--active' : ticketSelected}" *ngIf="ticketActionEnabled" (click)="onTicketSelected()">
      <div class="qm-button-icon-container">
        <span class="icon-ticket-small"></span>
      </div>
        <span>{{ 'print_ticket' | translate}}</span>
      </button>

    <button class="qm-button-plain" [ngClass]="{'qm-button-plain--active' : ticketlessSelected}" *ngIf="ticketlessActionEnabled" (click)="onTicketlessSelected()">
       
        <span>{{ 'ticketless' | translate}}</span>
    </button>
  
    <button class="qm-button-plain qm-button-plain-with-icon" [ngClass]="{'qm-button-plain--active' : emailSelected }" *ngIf="emailActionEnabled" (click)="onEmailSelected()">
      <div class="qm-button-icon-container">
      <span class="icon-mail"></span></div>
      <span>{{ 'email' | translate}}</span>
    </button>
    <button class="qm-button-plain qm-button-plain-with-icon" [ngClass]="{'qm-button-plain--active' : emailAndSmsSelected }" *ngIf="smsActionEnabled && emailActionEnabled"
      (click)="onEmailAndSmsSelected()">
      <div class="qm-button-icon-container">
      <span class="icon-emailsms"></span></div>
      <span>{{ 'send_sms_and_email' | translate}}</span>
    </button>

  </div>
  <div class="qm-flow-done-bar" *ngIf="buttonEnabled">
    <div class="qm-flow-done-bar__done-button" (click)="onButtonPressed()"> {{ 'create_confirm' | translate }}</div>
  </div>
  <!--div class="qm-checkout-view__container">

    <div *ngIf="isNoteEnabled" class="qm-checkout-view__note-container">
      <div class="label">{{ 'notes' | translate }}</div>
      <div class="input-container">
        <input #note readonly (focus)="note.blur()" class="input" #note (click)="onNoteClicked()" [ngModel]="noteTextStr" placeholder="{{'add_a_note_to_the_visit' | translate}}"
        />
        <i *ngIf="noteTextStr.length > 0" class="clear-icon icon-close" (click)="deleteNote()"></i>
      </div>
    </div>

    

    <div *ngIf="flowTypeStr === 'ARRIVE_APPOINTMENT'" class="qm-checkout-view__details-container">
      <div (click)="toggleCollapse()">

        <div style="width: 100%">
          <div class="toggleview-container">
            <span class="detail-label" translate="app_details"></span>
            <div [ngClass]="!isExpanded ? 'arrow-down' : 'arrow-up'"></div>
          </div>

          <div *ngIf="isExpanded" class="table-container">

            <table class="table">
              <tr class="tr">
                <td class="label">
                  <span translate="app_time"></span>
                </td>
                <td class="value">
                  <span>{{appTime}}</span>
                </td>
              </tr>
              <tr class="tr">
                <td class="label">
                  <span translate="app_id"></span>
                </td>
                <td class="value">
                  <span>{{appId}}</span>
                </td>
              </tr>
              <tr class="tr">
                <td class="label">
                  <span translate="app_customer"></span>
                </td>
                <td class="value">
                  <span>{{appCustomer}}</span>
                </td>
              </tr>
              <tr class="tr">
                <td class="label">
                  <span translate="app_services"></span>
                </td>
                <td class="value">
                  <span>{{appServices}}</span>
                </td>
              </tr>
            </table>

          </div>
        </div>


      </div>
    </div>

    <div class="qm-checkout-view__option-container">
      <div *ngIf="emailActionEnabled" class="qm-checkout-view__option" [ngStyle]="{'background-color': emailColor}" (click)="onEmailSelected()">

        <div class="icon" [ngStyle]="{ 'fill': emailColor===themeColor ? whiteColor : blackColor}">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 100 100" enable-background="new 0 0 100 100" xml:space="preserve">
            <g>
              <g>
                <path d="M85.399,13.359H14.621c-6.318,0-11.454,5.136-11.454,11.454v48.374c0,6.318,5.136,11.454,11.454,11.454h70.759
               c6.318,0,11.454-5.136,11.454-11.454V24.832C96.853,18.514,91.717,13.359,85.399,13.359z M91.62,73.187
               c0,3.43-2.791,6.221-6.221,6.221H14.621c-3.43,0-6.221-2.791-6.221-6.221V24.832c0-3.43,2.791-6.221,6.221-6.221h70.759
               c3.43,0,6.221,2.791,6.221,6.221v48.355H91.62z" />
                <path d="M62.239,48.399l28.898-26.022c1.066-0.969,1.163-2.616,0.194-3.702c-0.969-1.066-2.616-1.163-3.702-0.194l-37.58,33.832
               l-6.163-5.504c-0.019-0.019-0.039-0.039-0.039-0.058c-0.136-0.136-0.271-0.252-0.426-0.368L12.416,18.558
               c-1.085-0.969-2.733-0.872-3.702,0.213s-0.872,2.733,0.213,3.702l29.105,26.1L14.95,70.183c-1.047,0.988-1.105,2.636-0.116,3.702
               c0.523,0.543,1.221,0.833,1.919,0.833c0.64,0,1.279-0.233,1.783-0.698l23.431-21.92l6.357,5.679
               c0.504,0.446,1.124,0.659,1.744,0.659c0.62,0,1.26-0.233,1.744-0.678l6.531-5.853L81.639,74.04
               c0.504,0.485,1.163,0.717,1.802,0.717c0.698,0,1.376-0.271,1.899-0.814c0.988-1.047,0.95-2.713-0.097-3.702L62.239,48.399z"
                />
              </g>
            </g>
          </svg>
        </div>

        <div class="text" [ngStyle]="{ 'color': emailColor===themeColor ? whiteColor : blackColor} ">{{ 'email' | translate }}</div>

      </div>



      <div *ngIf="ticketActionEnabled" class="qm-checkout-view__option" [ngStyle]="{'background-color': ticketColor}" (click)="onTicketSelected()">
        <div class="icon" [ngStyle]="{ 'fill': ticketColor===themeColor ? whiteColor : blackColor}">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 59 59" style="enable-background:new 0 0 59 59;" xml:space="preserve">
            <path d="M21.6,0L0,0l0,21.6l0,0l0,0l9,9L37.4,59L59,37.4L30.6,9L21.6,0L21.6,0L21.6,0z M20.7,20.7c-3,3-7.8,3-10.7,0S7,12.9,10,10
               c3-3,7.8-3,10.7,0S23.7,17.7,20.7,20.7z" />
          </svg>
        </div>
        <div class="text" [ngStyle]="{ 'color': ticketColor===themeColor ? whiteColor : blackColor} ">{{ 'create_ticket' | translate }}</div>
      </div>



      <div *ngIf="smsActionEnabled" class="qm-checkout-view__option" [ngStyle]="{'background-color': smsColor}" (click)="onSmsSelected()">

        <div class="icon" [ngStyle]="{ 'fill': smsColor===themeColor ? whiteColor : blackColor}">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 53.2 59" style="enable-background:new 0 0 53.2 59;" xml:space="preserve">
            <g>
              <path d="M34.3,10.7c-10.5,0-18.9,7.4-18.9,16.6c0,3,0.9,5.9,2.6,8.3l-2.2,8.5l9-2.5c2.8,1.5,6.1,2.3,9.6,2.3
                     c10.5,0,18.9-7.4,18.9-16.6S44.8,10.7,34.3,10.7z" />
              <path d="M4,46.1V8.4C4,7.6,5.3,8,6.2,8H38V6.5C38,2.4,34.7,0,30.6,0H8.1C4,0,0,2.4,0,6.5v44.9C0,55.6,4,59,8.1,59h22.5
                     c4.1,0,7.4-3.4,7.4-7.5V48H6.2C5.3,48,4,47,4,46.1z M17.3,51h3.9c1.1,0,2,0.9,2,2s-0.9,2-2,2h-3.9c-1.1,0-2-0.9-2-2
                     S16.2,51,17.3,51z" />
            </g>
          </svg>
        </div>

        <div class="text" [ngStyle]="{ 'color': smsColor===themeColor ? whiteColor : blackColor} ">{{ 'send_sms' | translate }}</div>

      </div>



      <div *ngIf="ticketlessActionEnabled" class="qm-checkout-view__option" [ngStyle]="{'background-color': ticketlessColor}" (click)="onTicketlessSelected()">

        <div class="icon" [ngStyle]="{ 'fill': ticketlessColor===themeColor ? whiteColor : blackColor}">
          <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
            viewBox="0 0 59 59" style="enable-background:new 0 0 59 59;" xml:space="preserve">
            <path d="M21.6,0L0,0l0,21.6l0,0l0,0l9,9L37.4,59L59,37.4L30.6,9L21.6,0L21.6,0L21.6,0z M20.7,20.7c-3,3-7.8,3-10.7,0S7,12.9,10,10
                 c3-3,7.8-3,10.7,0S23.7,17.7,20.7,20.7z" />
            <rect x="-8.089" y="26.06" transform="matrix(0.7071 -0.7071 0.7071 0.7071 -10.1243 25.0957)" fill="#CCCCCC" width="66.64"
              height="6.417" />
          </svg>
        </div>

        <div class="text" [ngStyle]="{ 'color': ticketlessColor===themeColor ? whiteColor : blackColor} ">{{ 'ticketless' | translate }}</div>

      </div>
    </div>
    <div class="qm-checkout-view__button-container">
      <button class="qm-checkout-view__button" [ngStyle]="{'background-color': buttonEnabled ? whiteColor : '#bdbdbd'}" (click)="onButtonPressed()"
        [disabled]="!buttonEnabled"> {{buttonText | translate}}</button>
    </div>

  </div-->
</div>

<qm-loading-modal *ngIf="loading"></qm-loading-modal>
