@import "../../../../styles/base/_component-manifest.scss";
.qm-checkout-view {
  width: 100%;
  // height: 100vh;
  display: flex;
  justify-content: center;
  color: #000000;
  &__section {
    padding: 0.5rem 0;
  }
  .qm-button-plain {
    align-items: center;
  } 

  &__summary-grouping {
    // padding: 0 0.75rem;
    &:hover {
      background-color: $secondary-hover;
      cursor: pointer;
      .qm-summary-item {
        color: $dark-transparent82;
      }
      h2 {
        color: #2c3230;
      }
      .custom_header_h2{
        color: #2c3230;
        text-decoration: underline;
      }
    }

    &:focus {
      .custom_header_h2{
        color: #2c3230;
        text-decoration: underline;
      }
    }
  }

  .qm-summary-item {
    display: flex;
    line-height: 44px;
    font-size: 18px;
    max-width: 90%;
    &__icon {
      font-size: 27px;
      line-height: 44px;
      margin-right: 0.5rem;
      color: $secondary-color;
      display: inline-block;
      &-resources {
        font-size: 24px;
     }
    }
    &__text {
      font-weight: 300;
      display: inline-block;
      max-width: calc(100% - 50px);
      &--time-period {
        display: flex;
      }
    }
  }

  &__summary {
    flex: 1;
    margin: auto;
  

    h2 {
      color: $primary-pink;
      font-size: 24px;
      font-weight: 500;
      letter-spacing: -0.17px;
      line-height: 32px;
      text-align: left;
      @at-root [dir="rtl"] & {
        text-align: right;
      }
    }
    h1 {
      color: rgba(0, 0, 0, 0.72);
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      margin-left: 0.5rem;
      @at-root [dir="rtl"] & {
        text-align: right;
      }
    }

    &--arive {
      h2,
      .custom_header_h2,
      .qm-summary-item__icon {
        color: $black;
      }

      .custom_header_h2:hover {
        text-decoration: none;
      }

      .qm-checkout-view__summary-grouping:hover {
        .custom_header_h2 {
          text-decoration: none;
        }
      }

      .qm-checkout-view__summary-grouping:not(.qm-services-grouping) {
        &:hover {
          background-color: $white;
          cursor: auto;
          .qm-summary-item {
            color: $black;
          }
        }
      }
    
      .icon-service {
        color: $pale-aquamarine;
      }


    }
  }
  &__unlinked-customer {
    h2 {
      color: $dark-transparent82;
      font-weight: 300;
      padding: 10px 0px;
    }
    .custom_header_h2{
      color: $dark-transparent82;
      font-weight: 300;
      padding: 10px 0px;
    }
  }
  &__summary-create-visit {
    height: fit-content;
    margin-top: auto;
    margin-bottom: auto;
    h1 {
      color: $dark-transparent82;
      font-size: 1.5em;
      font-weight: 300;
      margin-top: 1rem;
    }
    .custom_header_h3{
      color: $dark-transparent82;
      font-size: 1.5em;
      font-weight: 300;
      margin-top: 1rem;
    }
    h2 {
      color: $dark-transparent62;
      font-size: 1em;
      font-weight: 500;
      line-height: 24px;
      margin-top: 0.6rem;
      margin-bottom: 0.6rem;
      margin-left: 0.5rem;
      @at-root [dir="rtl"] & {
        text-align: right;
      }
    }
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    &__summary-create-visit {
      height: 100%;
    }
  }

  // ############### notification area
  &__notifications {
    flex: 1.5;
    height: calc(100vh - 75px);
    background-color: $white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @at-root [dir="rtl"] & {
      text-align: right;
    }
    &-question {
      color: rgba(0, 0, 0, 0.42);
      font-size: 18px;
      line-height: 24px;
      padding-top: 1.5rem;
      padding-bottom: 1.75rem;
    }
    color: rgba(0, 0, 0, 0.42);
    &-heading {
      color: rgba(0, 0, 0, 0.82);
      font-size: 24px;
      line-height: 32px;  
      font-weight: 400;
    }
    &-sub-heading {
      color: rgba(0, 0, 0, 0.62);
      font-size: 18px;
      line-height: 32px;
      padding: 20px 0;
      font-weight: normal;

    }

    &-heading-h4 {
      color: rgba(0, 0, 0, 0.82);
      font-size: 24px;
      line-height: 32px;  
      font-weight: 400;
    }

    
    .button {
      width: 100%;
      min-height: 80px;
      padding:18px 0;
      [class^="icon"] {
        font-size: 2.5rem;
      }
    }
    button ~ button {
      margin-top: 1.25rem;
      
    }
  }
  &__container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 60%;
  }
  &__note-container {
    height: 45px;
    margin-bottom: rem(15px);
    width: 100%;
    display: inline-flex;
    align-items: center;
    .label {
      flex: 1;
      font-weight: 900;
      font-size: smaller;
      text-align: left;
      @at-root [dir="rtl"] & {
        text-align: right;
      }
    }
    .input-container {
      flex: 5;
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      background: $white;
      .input {
        padding: 5px;
        height: 45px;
        width: 100%;
        border: 0;
        background-color: transparent;
        outline: none;
        @include add-text-ellipsis;
      }
      .clear-icon {
        padding: 8px;
        font-size: 12px;
      }
    }
  }
  &__vip-container {
    margin-bottom: 2.8em;
    width: 100%;
    display: inline-flex;
    align-items: center;
    .vip-label {
      flex: 1;
      color: $dark-transparent82;
      white-space: nowrap;
      font-weight: normal;
      font-size: 1.4em;
      color: $dark-transparent82;
    
      @include add-text-ellipsis;
      width: auto;
      text-align: left;
      @at-root [dir="rtl"] & {
        text-align: right;
      }
    }
    .radio-container {
      flex: 5;
      display: flex;
      flex-direction: row;
      width: 100%;
      align-items: center;
      .level {
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .checkbox-container {
          width: 30px;
          height: 30px;
          background: #c9c9c9;
          margin: 10px 0px;
          border-radius: 100%;
          display: flex;
          float: none !important;
          margin: 0.5em auto;
          background: $white;
          align-items: center;
          justify-content: center;
          position: relative;
          .checkbox {
            display: block !important;
            width: 60px;
            height: 80px;
            position: absolute;
            opacity: 0;
          }
          .label {
            display: block;
            align-self: flex-end;
            width: 16px;
            height: 16px;
            border-radius: 100px;
            cursor: pointer;
            z-index: 1;
            background: transparent;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translateX(-50%) translateY(-50%);
          }
        }
        .label {
          font-size: rem(18px);
          color: $dark-transparent82;
        }
      }
    }
  }
  &__details-container {
    padding: 1em 0.2em 1em 0.2em;
    width: 100%;
    max-width: 100%;
    position: relative;
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                     supported by Chrome and Opera */
    .toggleview-container {
      display: inline-flex;
      flex-direction: row;
      width: 100%;
      justify-content: flex-start;
      @at-root [dir="rtl"] & {
        text-align: right;
      }
      .detail-label {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 2px;
      }
      .arrow-up {
        margin-left: 5px;
        align-self: center;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-bottom: 7px solid black;
      }
      .arrow-down {
        margin-left: 5px;
        align-self: center;
        width: 0;
        height: 0;
        border-left: 7px solid transparent;
        border-right: 7px solid transparent;
        border-top: 7px solid black;
      }
    }
    .table-container {
      width: 100%;
      .table {
        width: 100%;
        table-layout: fixed;
        .label {
          text-align: left;
          font-size: 12px;
          padding: 5px;
          letter-spacing: 2px;
          @include add-text-ellipsis;
          width: 30%;
          @at-root [dir="rtl"] & {
            text-align: right;
          }
        }
        .value {
          text-align: left;
          font-size: 12px;
          padding: 5px;
          letter-spacing: 2px;
          @include add-text-ellipsis;
          width: 70%;
          @at-root [dir="rtl"] & {
            text-align: right;
          }
        }
      }
    }
  }
  &__option-container {
    background-color: #bdbdbd;
    display: inline-flex;
    flex-direction: row;
    width: 100%;
  }
  &__option {
    display: flex;
    flex-direction: column;
    padding: rem(8px);
    width: 100%;
    background-color: $qmatic-bordeaux;
    margin: rem(0.1em);
    align-items: center;
    justify-content: center;
    .icon {
      height: rem(25px);
      width: rem(25px);
      margin-top: rem(1.5em);
    }
    .text {
      margin-top: rem(1em);
      text-align: center;
      @include add-text-ellipsis;
    }
  }
  &__button-container {
    background-color: #bdbdbd;
    display: inline-flex;
    flex-direction: row;
    margin-top: rem(0.1em);
  }
  &__button {
    width: 100%;
    height: rem(6em);
    border: none;
    color: $black;
    @include add-text-ellipsis;
  }
}

.qm-back-drop {
  height: 100vh;
  position: absolute;
  background-color: rgba($color: #000000, $alpha: 1);
}

.icon-customer-add {
  color: $pale-aquamarine;
  cursor: pointer;
  align-self: center;
  position: absolute;
  font-size: 1.8em;
  margin-top: 0.4rem;
  @at-root [dir="ltr"] & {
    right: 0;
  }
  @at-root [dir="rtl"] & {
    left: 0;
  }
}

.visit-details-card{
  background-color: $white;
  border-radius: 4px;
  padding: 0.75rem;
  margin-right: auto;
  margin-left: auto;
  overflow-y: auto;
  margin-top: 10px;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.5);
  vertical-align: bottom;
}

@include qm-lg { 
  .visit-details-card{
    width: 520px;
    height: calc(100vh - 270px);
    padding: 42px;
  } 
}
@include qm-md { 
  .visit-details-card{
    width: 450px;
    height: calc(100vh - 300px);
    padding: 22px;
  }
}

@include qm-sm { 
  .visit-details-card{
    width: 392px;
    height: calc(100vh - 350px);
    padding: 22px;
  }
}

@include qm-xs { 
  .qm-checkout-view{
    flex-direction: column;
  }
  .visit-details-card{
    width: 720px;
    height: 36vh;
    margin-bottom: 20px;
    padding: 22px;
  }
  .qm-checkout-view__notifications{
    padding: 24px 0 100px 0;
    height: auto;
  }
}

@include qm-xs-lower { 
  .qm-checkout-view{
    flex-direction: column;
  }
  .visit-details-card{
    width: 100%;
    height: 46vh;
    margin-bottom: 20px;
    padding: 22px;
  }
  .qm-checkout-view__notifications{
    padding: 24px 0 100px 0;
    height: auto;
    &-container {
      width: 90% !important;
    }
  }
}
// IE Specific fixes

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  
  .qm-checkout-view {

    &__summary {
    height: 100%;
    }
  }
  @include qm-xs{
    .qm-checkout-view {
    display: block;
    }
  }  
}

.qm-checkout-view__summary-grouping:focus{
  border:  solid #007bff 1px;
}

.qm-button-plain:focus{
  border:  solid #007bff 1px;
}
.checkbox:focus{
  border:  solid #007bff 1px;
}

.vipButtonFocused{
  border:  solid #007bff 1px;
}
.vipButtonFocused:active,.vipButtonFocused:hover{
  border:  none;
}

.custom_header_h2{
  color: $primary-pink;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: -0.17px;
  line-height: 32px;
  text-align: left;
  @at-root [dir="rtl"] & {
    text-align: right;
  }
}
.btn-wrap {
  max-width: 250px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}