@import "../../../../styles/base/_component-manifest.scss";
.qm-checkout-view {
  width:100%;
  margin-top: rem(2em);
  display: flex;
  justify-content: center;

  &__container {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 60%;
    background-color: #bdbdbd;



  }
  &__option-container {
    display: inline-flex;
    flex-direction: row;
  width: 100%;
  }
  &__option {
  
    display: flex;
    flex-direction: column;
    padding: rem(8px);
    width: 100%;
    // height: rem(6em);
    background-color: $qmatic-bordeaux;
    margin: rem(0.1em);
    align-items: center;
    justify-content: center;

    .icon{
      height:rem(25px);
      width:rem(25px);
      margin-top: rem(1.5em);
    }
    .text{
      margin-top: rem(1em);
      text-align: center;
      @include add-text-ellipsis;
    }
  }

  &__button-container {
    display: inline-flex;
    flex-direction: row;
    margin-top: rem(0.1em);
  }

  &__button {
    width: 100%;
height: rem(6em);
    border: none;
    color:  $black;
    @include add-text-ellipsis;
  }
}
