@import '../../../../styles/base/_component-manifest.scss';

:host {
  display: flex;
  width: 100%;
  height: $global-main-height;
  margin-top: $global-header-height;
  background: $dark-background-gradient;
}

:host(.qm-main--scrollable) {
  height: auto;
  min-height: $global-main-height;
}

.qm-main {
  display: flex;
  width: 100vw;
  height: 100%;
}

.error-message {
  display: flex;
  margin: 0 auto;

  &__error-text {
    display: inline-flex;
    align-items: center;
    font-size: rem(22px);
    color: $white;
    font-weight: $font-weight-regular;
    text-align: center;
  }
}

