<div class="qm-calendar" dir="{{ userDirection$ | async }}">
  <div class="qm-calendar-navs">
      <button (click)="prevMonth()">
        <i class="icon-caret-left"></i>
      </button>
      <div>
          <span class="p4">{{ 'calendar.month.' + currentDate.format('MMMM').toLowerCase() | translate }}</span><span>  {{ currentDate.format('YYYY') }}</span>
      </div> 
        
      <button (click)="nextMonth()"><i class="icon-caret-right"></i></button>

  </div>
  <div class="qm-calendar-month-grid">
    <div class="qm-calendar-day-names">
      <div *ngFor="let name of dayNames" class="qm-day-name p9">
        {{ name | translate }}
      </div>
    </div>
    <div class="qm-calendar-weeks">
      <div *ngFor="let week of weeks" class="qm-calendar-week">
        <ng-container *ngFor="let day of week">
          <div class="qm-week-date disabled" *ngIf="!isSelectedMonth(day.mDate)">
            <div class="qm-date-text"></div>
          </div>
          <div class="qm-week-date enabled"
               *ngIf="isSelectedMonth(day.mDate)"
               (click)="selectDate(day)"
               [ngClass]="{ today: day.today, selected: day.selected, disabled: day.disabled }">
            <div class="qm-date-text">{{ day.mDate.date() }}</div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>