.qm-week-date{
    padding: 0;
    height: 100%;
}

.qm-week-date:active{
    box-shadow: none;
}

  .qm-date:focus {
    border:  solid #007bff 1px;  
  }
  button[tabindex="-1"]:focus {
    border:  solid #007bff 1px !important;  
}


// newly added

.mat-calendar-body-cell-content {
    position: absolute;
    top: 5%;
    left: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    width: 90%;
    height: 90%;
    line-height: 1;
    border-width: 1px;
    border-style: solid;
    border-radius: 999px;
}

:focus {
  outline: -webkit-focus-ring-color auto 1px;
}

.mat-calendar-body-cell {
  position: relative;
  height: 0;
  line-height: 0;
  text-align: center;
  outline: 0;
  cursor: pointer;
}