<div class="qm-calendar" dir="{{ userDirection$ | async }}">
  <div class="qm-calendar-navs">
      <button (click)="prevMonth()">
        <i class="icon-caret-left"></i>
        <span class="sr-only">{{ 'button.prvMonth' | translate }}</span>
      </button>
      <div>
          <span class="p4">{{  currentDate.locale(this.locale).format('MMMM').toLowerCase()  }}</span><span>  {{ currentDate.locale(this.locale).format('YYYY') }}</span>
      </div> 
        
      <button (click)="nextMonth()"><i class="icon-caret-right"></i>
        <span class="sr-only">{{ 'button.nextMonth' | translate }}</span>
      </button>

  </div>
  <div class="qm-calendar-month-grid">
    <div class="qm-calendar-day-names">
      <div *ngFor="let name of dayNames" class="qm-day-name p9">
        {{ name | translate }}
      </div>
    </div>
    <div class="qm-calendar-weeks">
      <div *ngFor="let week of weeks; last as isLast" class="qm-calendar-week" [ngClass]="{'qm-calendar-week--last': isLast}">
        <ng-container *ngFor="let day of week">
          <div class="qm-week-date disabled"  *ngIf="!isSelectedMonth(day.mDate)">
            <div class="qm-date-text"></div>
          </div>
          <button class="qm-week-date enabled qm-transparent-btn"
               *ngIf="isSelectedMonth(day.mDate)"
               (click)="selectDate(day, true)"
               [ngClass]="{ today: day.today, selected: day.selected, disabled: day.disabled}"
               [attr.tabindex]="day.disabled ? '-1' : null">
            <div class="qm-date-text" tabindex="-1">{{ day.mDate.date() }}</div>
          </button>
        </ng-container>
      </div>
    </div>
  </div>
</div>