<div class="qm-timelist-sidebar">
  <ng-container *ngIf="timeConvention === 'AMPM'">
    <button type="button" class="qm-timelist-sidebar__btn" title="AM" (click)="handleClick('AM')">AM</button>
    <button type="button" class="qm-timelist-sidebar__btn" title="PM" (click)="handleClick('PM')">PM</button>
  </ng-container>
  <ng-container *ngIf="timeConvention == '24'">
    <button type="button" class="qm-timelist-sidebar__btn" title="08" (click)="handleClick('08')">08</button>
    <button type="button" class="qm-timelist-sidebar__btn" title="12" (click)="handleClick('12')">12</button>
    <button type="button" class="qm-timelist-sidebar__btn" title="16" (click)="handleClick('16')">16</button>
    <button type="button" class="qm-timelist-sidebar__btn" title="20" (click)="handleClick('20')">20</button>
  </ng-container>
</div>
