<table class="customer-table" dir="{{ userDirection$ | async }}" >
  <tbody *ngIf="customers.length!=0" class="tbody">
     <tr  class="customer-list" *ngFor="let customer of customers" tabindex="0">
       
      <td style="width: 1%" (click)="selectCustomer(customer)" ></td>
      <td style="width: 23%"  (click)="selectCustomer(customer)"> <div class="search-list-text" [innerHtml]="customer.firstName +' ' + customer.lastName  | qmhighlight: searchText"> </div> </td>
      <td style="width: 23%" (click)="selectCustomer(customer)"> <div class="search-list-text" [innerHtml]="customer.properties.email  | qmhighlight: searchText"> </div></td>
      <td style="width: 23%" (click)="selectCustomer(customer)"><div class="search-list-text" [innerHtml]="customer.properties.phoneNumber  | qmhighlight: searchText"> </div></td>
      <td style="width: 23%" (click)="selectCustomer(customer)"> <div *ngIf="customer.properties.dateOfBirth" class="search-list-text" [innerHtml]="customer.properties.dateOfBirth  | qmhighlight: searchText"> </div></td>
      <td style="width: 7%" *ngIf="isCustomerEditable" (click)="selectCustomer(customer)"> 
          <div class="svg-container" (click)="editCustomer(customer)">
            <i class="icon-edit edit-button"></i>
          </div>
      </td>
     
    </tr>  
    
    
  </tbody>
  <tbody *ngIf="showNoResults()" class="tbody customer-not-found--feedback">
   <tr  class="customer-list">
    <td class="search-list-text" style="text-align:center"> {{ (noCustomerFeedback || 'customer_not_found') | translate }} </td>
    </tr>
  </tbody>
</table>
<!-- loader component -->
<!-- <div class="qm-loader-container" *ngIf="showLoading()" >
  <qm-loader [color]="black"></qm-loader>
</div> -->
