@import '../../../../styles/base/_component-manifest.scss';
.customer-table{
    color: black;
    font-size: 0.9rem;
    width:100%;
    touch-action: auto !important;
    font-weight: 300;

    :focus{
        outline: none; 
    }

    .search-list-text{
        mark {
            font-weight: bold;
            background-color: transparent;
        }
    }
        
    tr{
      display: table;
      width: 100%;
      touch-action: auto !important;
      -webkit-user-drag: auto !important;
      
    }
    th{ 
        height: 50px;
        white-space: nowrap;
        text-overflow:ellipsis;
        overflow: hidden;
        max-width:1px;
        width: 20%;
        text-align: left;
    }
    
    td{
        white-space: nowrap; text-overflow:ellipsis; max-width:1px;  height: 50px;
        overflow: hidden;
        outline-style:none;
        box-shadow:none;
        text-align: left;
        border-color:transparent;
        @at-root [dir="rtl"] & {
            text-align: right;
       
           }
      
    }
  
    .customer-list{
        background-color: white;
        border: 1px solid $light-gray2;
        height: 35px;
        width: 99%;
        padding:0;
        margin: 6px;
      
   
    }
    .customer-list:active{
        background-color:$light-gray2;
    }
    .customer-list:hover{
        background-color:$light-gray1;
        cursor: pointer;
    }

        .svg-container {
        width: 2.8em;
        margin:0 auto;
      }
    .edit-button{
        font-size: 2em;
        color:$primary-pink;
    }
    
   .customer-table-edit-background{
    fill:var(--app-theme);
   }
    
   
}


.qm-loader-container {
    position: absolute;
    left: 50%;
    top: 60%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */
  }
.customer-list-not-found{
    color: black;
    font-size: 0.8em;
    position: absolute;
    padding-top: 50px;
    left: 0;
    right: 0;
    margin-left: 50%;
}

tbody{
    display: block;
    overflow-y: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    border: 1px solid $light-gray2;
    max-height: 50vh;
    z-index: 200;
}
