@import '../../../../styles/base/_component-manifest.scss';
.customer-table{
    color: black;
    text-align: left;
    font-size: 0.9rem;
    margin:auto;
    width:100%;
    table-layout: fixed;
    :focus{
        outline: none; 
    }
    
    .customer-table-header{
        background-color: $dark-transparent12;
        border-bottom: 3px solid $light-gray2;
        font-size: 0.75rem;
        margin: 5px;
        
    }

    th{ 
        height: 50px;
        white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px;width: 20%; padding: 0px 10px 0px 85px;
        
    }
    
    td{
        white-space: nowrap; text-overflow:ellipsis; overflow: hidden; max-width:1px; padding: 0px 10px 0px 85px; width: 1%;  height: 50px;
        outline-style:none;
        box-shadow:none;
        border-color:transparent;
      
    }
  
    .customer-list{
        background-color: white;
        border-bottom: 1px solid $light-gray2;
        height: 35px;
        width: 80%;
        padding:0;
        margin:0;
   
    }
    .customer-list:active{
        background-color:$light-gray2;
    }

        .svg-container {
        width: 2.8em;
        margin:0 auto;
      }
    svg{
        display: inline-block; 
        bottom: 0 auto;
        vertical-align: middle;
        text-align: center;
        height: 50px;
    }
    
    .qm-td-col-1{
        padding-left: 10%;
        
    }
   .customer-table-edit-background{
    fill:var(--app-theme);
   }
    
   
}
.qm-loader-container {
    position: absolute;
    left: 50%;
    top: 60%;
    height: 200px;
    margin-top: -100px; /* half of you height */
    width: 400px;
    margin-left: -200px; /* half of you width */
  }
.customer-list-not-found{
    color: black;
    font-size: 0.8em;
    position: absolute;
    margin-top: -50vh;
    left: 0;
    right: 0;
    margin-left: 50%;
}

tbody{
    overflow-y: auto;
}

.body-container{
    width: 500%;
    display: flex;
    flex-direction: column;
}


