<table class="customer-table" dir="{{ userDirection$ | async }}" >
  <thead class="customer-table-header">
  <tr class="qm-td-col-1">
    <th >{{ 'last_name' | translate }}</th>
    <th>{{ 'first_name' | translate }}</th>
    <th>{{ 'email' | translate }}</th>
    <th>{{ 'phone_number' | translate }}</th>
    <th></th>
  </tr>
</thead>
<div class="body-container" [style.height]="height">
<tbody *ngIf="customers.length!=0" class="tbody">
    <tr  class="customer-list qm-td-col-1" *ngFor="let customer of customers" tabindex="0"  (press)="editCustomer(customer)" (click)="selectCustomer(customer)">
      <td>{{customer.lastName}}</td>
      <td >{{customer.firstName}}</td>
      <td >{{customer.properties.email}}</td>
      <td >{{customer.properties.phoneNumber}}</td>
      <td> 
          <div class="svg-container" (click)="editCustomer(customer)">
          <svg clsas="edit_btn" enable-background="new 0 0 512 512"  viewBox="0 0 512 512" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" class="">
            <g id="Layer_1_1_">
            <path class="customer-table-edit-background" d="M494,256c0,131.4-106.6,238-238,238S18,387.4,18,256S124.6,18,256,18S494,124.6,494,256z"></path></g>
            <g><g><path d="M142.9,329l-5,45l45-5    l144-144l-40-40L142.9,329z" fill="none" stroke="#FFFFFF" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="16"></path></g>
            <g><path d="M337.1,138c-3.1,0-6.2,1.2-8.6,3.6L307.9,164l40,40l22.6-20.5c4.8-4.8,4.8-12.5,0-17.2l-24.7-24.7C343.2,139.2,340.1,138,337.1,138L337.1,138z" fill="none" stroke="#FFFFFF" stroke-linejoin="round" stroke-miterlimit="10" stroke-width="16"></path></g></g></svg>
            </div>
          </td>
    </tr>  
</tbody>
<h5 class="customer-list-not-found" *ngIf="showNoResults()">Customer not found</h5>
</div>
</table>
<div class="qm-loader-container" *ngIf="showLoading()" >
  <qm-loader></qm-loader>
</div>
