<div class="qm-queue-list" dir="{{userDirection$ | async}}">
  <div class="qm-queue-list__headers qm-flex-grid">
    <div class="qm-queue-list-header-item qm-col-45 qm-flex-grid" (click)="onSortClickbyQueue()">
      <div class="qm-queue-list-header-item">{{'ql_queue' | translate}}</div>
      <div><i *ngIf="sortedBy =='Queue'" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending !== true, 'icon-caret-down': sortAscending ===  true }"></i></div>    
    </div>
  
    <div class="qm-queue-list-header-item qm-col-15 qm-flex-grid"  (click)="onSortClickbyWaitingCustomers()">
      <div class="qm-queue-list-header-item-label">{{'ql_customer' | translate}}</div>
      <div><i *ngIf="sortedBy =='WaitingCustomers'  " class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
    </div>

    <div class="qm-queue-list-header-item qm-col-15 qm-flex-grid"  (click)=" onSortClickbyMaxWaitTime()">
    <div class="qm-queue-list-header-item-label"> {{ 'ql_max_wait_time' | translate}} </div>
    <div><i  *ngIf="sortedBy =='MaxWaitTime'"  class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
    </div>
    
    <div  *ngIf="showEstWaitTime" class="qm-col-15 qm-queue-list-header-item-label"> {{ 'ql_est_wait_time' | translate}} </div>
  </div>  

  <div class="qm-queue-list__body" [ngClass]="{'qm-queuefetch-failed': queueFetchFailed}" >
    <div class="qm-flex-grid qm-queue-list-body-row" *ngFor="let q of queueCollection" [ngStyle]="{'cursor': (editVisitEnable && !(this.canDelete == false && this.cancherypick == false && this.canTransferSP == false && this.canTransferStaff == false &&
    (this.canTransferQ == false || (this.canTransferQ == true && this.canTransferQFirst == false && this.canTransferQLast == false && this.canTransferQWait == false))) ) ? 'pointer' : ''}" (click)="selectQueue(q)" >
        <div class="qm-col-45 qm-queue-name"  [ngStyle]="{'color': (editVisitEnable && !(this.canDelete == false && this.cancherypick == false && this.canTransferSP == false && this.canTransferStaff == false &&
        (this.canTransferQ == false || (this.canTransferQ == true && this.canTransferQFirst == false && this.canTransferQLast == false && this.canTransferQWait == false))) ) ? '#03996C' : 'rgba(0,0,0,0.82)'}">{{q.name}}</div>
        <div class="qm-col-15" *ngIf="!queueFetchFailed">{{q.customersWaiting }}</div>
        <div class="qm-col-15 max-wait-time-container" *ngIf="!queueFetchFailed">
          <div><i class="icon-alert-star max-wait-time" [ngClass]="{'gray-indicator': queueIndicator.isGrayIndicator(q), 'red-indicator': queueIndicator.isRedIndicator(q), 'yellow-indicator': queueIndicator.isYellowIndicator(q)}"></i></div>
          <div> {{q.max_w_time }}  <span *ngIf = "q.max_w_time != '-'">{{'min'|translate}}</span></div>
        </div>
        <div  *ngIf="showEstWaitTime && !queueFetchFailed" class="qm-col-15">{{ q.est_w_time || '-' }} <span *ngIf = "q.est_w_time != '-'"> {{'min'|translate}}</span></div>
    </div>  
    
    <div *ngIf="queueFetchFailed" class="qm-queue-failed-count">
      <div><i class="qm-action-btn__icon icon-warn" aria-hidden="true"></i></div>
      <div>{{'ql_connectivity_issue' | translate}}</div>
      <div>{{'ql_unble_to_update_queue' | translate}}</div>
    </div>
  </div>
</div>
