@import "../../../../styles/base/_component-manifest.scss";
:host {
  font-size: rem(12px);
  position: relative;
}

.qm-queue-list {
  height: 10px;

  margin-top: rem($standard-margin * 1.5);
  .sort-icon {
    // margin-left: 0.4rem;
    cursor: pointer;
    color: $dark-transparent42;
  }
  .selected-sort-icon{
    color: $dark-transparent62;
  }
  .qm-queuefetch-failed {
    .qm-queue-name {
      display: block;
      @include add-text-ellipsis;
      width: calc(50% - 250px);
      position: absolute;
      flex: none;
    }
  }

  .max-wait-time-container {
    display: flex;   
  }
  .qm-wait-icon-inside-container{
    margin-top: auto;
    margin-bottom: auto;
  }

  .max-wait-time {
    font-size: 1.3rem;
    justify-content: center;
    &.gray-indicator {
      visibility: hidden;
    }
    &.red-indicator {
      color: $queue-indicator-red;
    }
    &.yellow-indicator {
      color: $queue-indicator-yellow;
    }
  }

  &__headers {
    height: 3rem;
    font-size: 12px;
    i {
      font-size: 1.2rem;
      padding-right: rem(8px);
      @at-root [dir="rtl"] & {
        margin-left: 0.2rem;
      }
    }
  }

  &-header-item {
    display: flex;
    color: $dark-transparent62;
    font-weight: 500;
    min-width: 0;
    cursor: pointer;

    &-label {
      overflow: hidden;
      text-overflow: ellipsis;
      font-weight: 500;
      color: $dark-transparent62;
      @at-root [dir="ltr"] & {
        text-align: right;
      }
      @at-root [dir="rtl"] & {
        text-align: left;
      }
    }
  }
  &-header-sr{
    width: 20px;
}


  &-body-row {
    padding: 0 10px;
    &-label {
      @include add-text-ellipsis;
      width: inherit;
      font-weight: normal;
    }
  }

  &__body {
    overflow-y: auto;
    color: $dark-transparent62;
    font-size: 18px;
  }
  &-body-row:hover{
    background: #FFFFFF;
    box-shadow: 2px 2px 4px 0 rgba(0,0,0,0.12);
  }
}

[dir="rtl"] :host {
  .qm-queue-list {
    i {
      margin-left: 0.25rem;
    }
  }
}

.qm-col-15 {
  flex:1;
  margin: auto;
  padding: 0 1%;
  font-weight: 500;
  justify-content: flex-end;
  @at-root [dir="ltr"] & {
    text-align: right;
    justify-items: right;
    float: right;
  }
  @at-root [dir="rtl"] & {
    text-align: left;
  }
}

.qm-col-45 {
  flex:3;
  margin: auto;
  color: $pale-aquamarine;
  @at-root [dir="ltr"] & {
    text-align: left;
  }
  @at-root [dir="rtl"] & {
    text-align: right;
  }
}

.qm-queue-failed-count {
  font-size: 18px;
  text-align: center;
  position: absolute;
  right: 50%;
  transform: translateX(50%);
  top: 68px;
  width: 250px;

  @at-root [dir="rtl"] & { 
    left: 50%;
    right: auto;
    transform: translateX(-50%);
  }
}


.qm-transparent-row-btn{
  width: 100%;
}

@include qm-lg { 
  .qm-queue-list {
    margin: 8px 50px;
    &-body-row {
      min-height: 56px;
      margin-bottom: 4px;
    }
    &__body {
      max-height: calc(100vh - 460px);
    }
  }
}

@include qm-md { 
  .qm-queue-list {
    margin: 8px 48px;
    &-body-row {
      min-height: 48px;
      margin-bottom: 4px;
    }
    &__body {
      max-height: calc(100vh - 460px);
  
    }
  }
}

@include qm-sm { 
  .qm-queue-list {
    margin: 8px 40px;
    &-body-row {
      min-height: 56px;
      margin-bottom: 8px;
    }
    &__body {
      max-height: calc(100vh - 426px);
      font-size: 16px;
    }
  }
}

@include qm-xs { 
  .qm-queue-list {
    margin: 8px 48px;
    &-body-row {
      min-height: 56px;
      margin-bottom: 8px;
    }
    &__body {
      max-height: calc(100vh - 470px);
    }
  }
}

@include qm-xs-lower { 
  .qm-queue-list {
    margin: 8px 48px;
    &-body-row {
      min-height: 56px;
      margin-bottom: 8px;
    }
    &__body {
      max-height: calc(100vh - 470px);
      font-size: 18px
    }
  }
}
@include qm-xs-height-lower { 
  .qm-queue-list {
    &__body {
      max-height: calc(100vh - 410px);
    }
  }
}


.list-without-quickserve{
  @include qm-xs  {
    max-height: calc(100vh - 495px);
  }
  @include qm-xs-lower  {
    max-height: calc(100vh - 495px);
  }
}

.queue-list__body-collapsed{
  @include qm-xs  {
    max-height: calc(100vh - 460px);
    margin-top: 10px;
  }
  @include qm-xs-lower {
    max-height: calc(100vh - 460px);
    margin-top: 10px;
    }
    @include qm-xs-height-lower {  
      max-height: calc(100vh - 450px);
    }
}

.qm-queue-list-body-row:focus{
  border:  solid #007bff 1px;
}


.qm-queue-list {
  &__body-native {
      @include qm-lg{
        max-height: calc(100vh - 440px);
      }
      @include qm-md{
        max-height: calc(100vh - 440px);
      }
      @include qm-sm{
        max-height: calc(100vh - 390px);
      }
      
  }
}
.qm-queue-name-link:hover, .qm-queue-name-link:focus {
  text-decoration: underline !important
}
a, a:hover{
  color: $pale-aquamarine !important;
}
