<div class="qm-queue-list">
  <div class="qm-queue-list__headers qm-flex-grid">


    <div class="qm-queue-list-header-item qm-col qm-flex-grid" (click)="onSortClickbyQueue()">
      <div> <i class="icon-queue" aria-hidden="true"></i> </div>
      <div class="qm-queue-list-header-item-label">{{'ql_queue' | translate}}</div>
      <div><i  *ngIf="sortedBy =='Queue'" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>    
    </div>
  
    <div class="qm-queue-list-header-item qm-col qm-flex-grid"  (click)="onSortClickbyWaitingCustomers()">
      <div>
        <i class="icon-customer-solid" aria-hidden="true"></i>
      </div>
      <div class="qm-queue-list-header-item-label">{{'ql_customer' | translate}}</div>
      <div><i *ngIf="sortedBy =='WaitingCustomers'  " class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
    </div>

    <div class="qm-queue-list-header-item qm-col qm-flex-grid"  (click)=" onSortClickbyMaxWaitTime()">
    <div class="qm-queue-list-header-item-label"> {{ 'ql_max_wait_time' | translate}} </div>
    <div><i  *ngIf="sortedBy =='MaxWaitTime'"  class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
    </div>
    
    <div  *ngIf="showEstWaitTime" class="qm-col qm-queue-list-header-item-label"> {{ 'ql_est_wait_time' | translate}} </div>
  </div>

  <div class="qm-queue-list__body">
    <div class="qm-flex-grid qm-queue-list-body-row" *ngFor="let q of queueCollection" (click)="selectQueue(q)">
        <div class="qm-col qm-queue-list-body-row-label">{{q.name}}</div>
        <div class="qm-col">{{q.customersWaiting }}</div>
        <div class="qm-col max-wait-time-container">
          <div><i class="icon-alert-star max-wait-time" [ngClass]="{'gray-indicator': queueIndicator.isGrayIndicator(q), 'red-indicator': queueIndicator.isRedIndicator(q), 'yellow-indicator': queueIndicator.isYellowIndicator(q)}"></i></div>
          <div> {{q.max_w_time }}</div>
        </div>
        <div  *ngIf="showEstWaitTime" class="qm-col">{{ q.esnpmt_w_time || '-' }}</div>
    </div>
  </div>
</div>
