<div class="qm-notes-modal" dir="{{ userDirection$ | async }}">

  <div class="qm-notes-modal__header">
    <div for="note" class="qm-notes-modal__header-text">
        {{  'remaining_word_count' | translate }}
    </div>
    <span for="note" class="qm-notes-modal__header-char-count"> {{charCount}} </span>
  </div>
  <form  [formGroup]="noteForm">
    <div class="qm-notes-modal__text-container">
    <textarea id="note" class="textarea" type="text" maxlength="1000"  name='note'  formControlName="note" #note> </textarea>
  </div>
  </form>
  <div class="qm-notes-modal__button-container">
    <button class="qm-notes-modal__secondary-button"  (click)="decline()"> {{ 'action_cancelButton' | translate }} </button>
    <button  class="qm-notes-modal__primary-button" [ngStyle]=" {'background-color': (noteForm.get('note').dirty && noteForm.get('note').value != '')  ? themeColor : '#8e8e8e'}" (click)="accept()"> {{ 'action_saveButton' | translate }} </button>
  </div>
</div>
