.modal-checkbox{
    position: absolute;
    right: 4rem;
    top: 1rem;
    @at-root [dir="rtl"] & {
        right: 20rem;
    }
}

.button-container{
    position: absolute;
    top: 1rem;
    display: flex;
    @at-root [dir="ltr"] & {
        right: 1rem;
    }
    @at-root [dir="rtl"] & {
        left: 1rem;
    }
}

.close-button {
    position: relative;
    top: 0rem;
    right: 0rem;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-checkbox-backdrop{
    top: -0.5rem;
    left: 0rem;
    right: 0rem;
}

.modal-container{
    padding-top: 3rem;
}