.modal-checkbox{
    padding-top: 1rem;
}

.footer-container{
    justify-content: space-between;
}

.button-container{
    position: absolute;
    top: 1rem;
    display: flex;
    @at-root [dir="ltr"] & {
        right: 1rem;
    }
    @at-root [dir="rtl"] & {
        left: 1rem;
    }
}

.close-button {
    position: relative;
    top: 0rem;
    right: 0rem;
    margin-left: 5px;
    margin-right: 5px;
}

.modal-checkbox-backdrop{
    margin-left: -8.3rem;
    margin-top: -0.4rem;
    position: relative;
    @at-root [dir="ltr"] & {
        margin-left: -8.3rem;
    }
    @at-root [dir="rtl"] & {
        margin-right: -7.9rem;
    }
}

.modal-container{
    padding-top: 3rem;
}