<qm-auto-close>
  <div class="qm-modal qm-add-notes-modal qm-form-modal qm-modal--md" [dir]="userDirection$ | async" cdkTrapFocus>
    <form class="qm-modal__box-container" #optionsForm="ngForm">
      <div class="qm-modal__header">
        <button type="button" class="qm-action-btn qm-action-btn--only-icon qm-modal__close-btn" (click)="activeModal.close()">
          <span class="sr-only">{{ optionsHeading }}</span>
        </button>
        <span class="qm-modal__headline">{{ optionsHeading }}</span>
      </div>
      <div class="qm-modal__body">
        <div class="qm-modal-row">
          <!--  phone feild  -->
          <div class="qm-standard-text-field" *ngIf="isSmsEnabled">
            <label class="qm-standard-text-field__label">
              <span class="qm-standard-text-field__top-container">
                <span class="qm-standard-text-field__text">{{ 'field.notifyoptions.phone' | translate }}</span>
                <span class="qm-standard-text-field__required">{{ 'label.options.required' | translate }}</span>
              </span>
              <span class="qm-standard-text-field__input-container">
                <input type="text" class="qm-input qm-standard-text-field__input" 
                placeholder="" maxlength="50" qmClearInput [(ngModel)]="phoneNumber"
                pattern="^[0-9\+\s]+$" #phoneRef="ngModel"
                  required qmAllWhiteSpace name="phoneNumber" />
              </span>
              <span class="qm-standard-text-field__error-message">
                <ng-container *ngIf="phoneRef.invalid && (phoneRef.dirty || phoneRef.touched)">
                  <ng-container *ngIf="phoneRef.errors.allwhitespace && !phoneRef.errors.required">
                    {{ 'field.optionsForm.phoneNumber.error.allwhitespace' | translate }}
                  </ng-container>
                  <ng-container *ngIf="phoneRef.errors.pattern && !phoneRef.errors.required">
                      {{ 'field.optionsForm.phoneNumber.error.invalid' | translate }}
                  </ng-container>
                </ng-container>
              </span>
            </label>
          </div>
          <!-- Email field -->
          <div class="qm-standard-text-field" *ngIf="isEmailEnabled">
            <label class="qm-standard-text-field__label">
              <span class="qm-standard-text-field__top-container">
                <span class="qm-standard-text-field__text">{{ 'field.notifyoptions.email' | translate }}</span>
                <span class="qm-standard-text-field__required">{{ 'label.options.required' | translate }}</span>
              </span>
              <span class="qm-standard-text-field__input-container">
                <input type="text" class="qm-input qm-standard-text-field__input" placeholder="" maxlength="50" qmClearInput [(ngModel)]="email"
                  required name="email" #emailRef="ngModel"
                  pattern='^\s*(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))\s*$' />
              </span>
              <span class="qm-standard-text-field__error-message">
                  <ng-container *ngIf="emailRef.invalid && (emailRef.dirty || emailRef.touched)">
                    <ng-container *ngIf="emailRef.errors.pattern && !emailRef.errors.required">
                        {{ 'field.optionsForm.email.error.invalid' | translate }}
                    </ng-container>
                  </ng-container>
                </span>
            </label>
          </div>
        </div>
      </div>
      <div class="qm-modal__footer">
        <div class="qm-generic-layout qm-generic-layout--align-right">
          <button type="button" class="qm-btn qm-btn--secondary qm-btn-cancel" (click)="activeModal.close();">
            <span class="qm-btn__text" title="{{ 'button.label.cancel' | translate }}">
              {{ 'button.label.cancel' | translate }}
            </span>
          </button>
          <button [disabled]="!optionsForm.form.valid" class="qm-btn qm-btn--primary qm-btn-finish" (click)="accept()">
            <span class="qm-btn__text" title="{{ 'button.label.finish' | translate }}">
              {{ 'button.label.finish' | translate }}
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>




  <!-- <div class="qm-confirm-modal " dir="{{ userDirection$ | async }}" cdkTrapFocus>
    <form class="qm-confirm-modal__box-container" [formGroup]="confirmModalForm" (keyup.enter)="accept()" autocomplete="off">
      <div class="qm-confirm-modal__header">
        <span class="qm-confirm-modal__header-text">{{ title }}</span>
      </div>

      <div class="qm-confirm-modal__inputs-container">

        <div *ngIf="isEmailEnabled" class="email-container">
          <div class="input-box-and-clear-button" [ngStyle]="{'background-color':  confirmModalForm.get('email').valid || email.value ===''  ? '#ffffff' : '#F5A9A9'}">
            <input type="text" class="input-box" name='email' placeholder="{{'type_email'|translate }}" formControlName="email" #email
            />
            <i *ngIf="email.value!='' " class="clear-icon icon-close" (click)="clearEmail()"></i>
          </div>4
          <div class="validate-icon btn-light-active-action" :active>
            <i [ngClass]="showEmailTick ? 'icon-check':'icon-refresh'" (click)="validateEmail()"></i>
          </div>
        </div>

        <div *ngIf="isSmsEnabled" class="sms-container">
          <div class="input-box-and-clear-button" [ngStyle]="{'background-color': phoneColor }">
            <input type="text" class="input-box" name='phone' placeholder="{{'type_mobile_number'|translate }}" formControlName="phone"
              #phone />
            <i *ngIf="phone.value!='' " class="clear-icon icon-close" (click)="clearPhone()"></i>
          </div>

          <div *ngIf="customer!=null" class="validate-icon btn-light-active-action :active">
            <i [ngClass]="showPhoneTick?'icon-check':'icon-refresh'" (click)="validatePhone()"></i>
          </div>
        </div>

      </div>
      <div class="qm-confirm-modal__button-container">

        <button class="qm-confirm-modal__secondary-button btn-light-active-action :active" (click)="decline(); autoCloseService.refreshAutoClose()"
          *ngIf="btnCancelText && btnCancelText.length > 0">
          <span title="{{ btnCancelText }}">
            {{ btnCancelText }}
          </span>
        </button>
        <button type="button" class="qm-confirm-modal__primary-button btn-light-active-action :active" [ngStyle]=" {'background-color': confirmModalForm.valid  ? themeColor : '#8e8e8e'}"
          (click)="accept(); autoCloseService.refreshAutoClose()" *ngIf="btnOkText && btnOkText.length > 0">
          <span title="{{ btnOkText }}">
            {{ btnOkText }}
          </span>
        </button>

      </div>
    </form>
  </div> -->
</qm-auto-close>
