<qm-auto-close>
  <div class="qm-modal qm-add-notes-modal qm-form-modal qm-modal--md" [dir]="userDirection$ | async" cdkTrapFocus>
    <form class="qm-modal__box-container" [formGroup]="confirmModalForm" #optionsForm="ngForm">
      <div class="qm-modal__header">
        <span type="button" class="qm-action-btn qm-action-btn--only-icon qm-modal__close-btn">
          <span class="sr-only">{{ optionsHeading }}</span>
        </span>
        <span class="qm-modal__headline" id="qm-modal-headline" tabindex="-1">{{ optionsHeading }}</span>
        <button  class="qm-transparent-btn qm-action-btn qm-modal-close" (click)="activeModal.close()">
    <i aria-hidden="true" class="icon-close"></i>
    <span class="sr-only">{{ 'button.close' | translate }}</span>
        </button>
      </div>
      <div class="qm-modal__body">
        <div class="qm-modal-row">
          <!--  phone feild  -->
          <div class="qm-standard-text-field" *ngIf="isSmsEnabled">
            <label class="qm-standard-text-field__label">
              <span class="qm-standard-text-field__top-container">
                <span for="phone" id="phone-label" class="qm-standard-text-field__text" [ngClass]="{ 'qm-invalid-field__label' : confirmModalForm.get('phone')?.errors && confirmModalForm.get('phone')?.dirty }">{{ 'field.notifyoptions.phone' | translate }}</span>
                <span for="phone" class="qm-standard-text-field__required" [ngClass]="{ 'qm-invalid-field__label' : confirmModalForm.get('phone')?.errors && confirmModalForm.get('phone')?.dirty }">{{ 'label.options.required' | translate }}</span>
              </span>
              <span class="qm-standard-text-field__input-container">
                <input required qmAllWhiteSpace name="phone" class="qm-input-box__input qm-popup-input" attr.aria-describedby="phone-error"
                [attr.aria-invalid]="confirmModalForm.get('phone')?.errors && confirmModalForm.get('phone')?.dirty"
                [ngClass]="{ 'qm-invalid-input' : confirmModalForm.get('phone')?.errors && confirmModalForm.get('phone')?.dirty }"  type="tel" inputmode="numeric" id='phone' formControlName = "phone" #phone>
              </span>
          
              <span class="qm-standard-text-field__error-message" id="phone-error" role="alert">
                <ng-container *ngIf="confirmModalForm.get('phone')?.errors && confirmModalForm.get('phone')?.dirty">
                      {{ confirmModalForm.get('phone')?.hasError('pattern') ? ('error.form.phone.invalid.des' | translate) : (phone.value.length > 0 ? ('error.form.phone.invalid' | translate) : '') }}
                </ng-container>
              </span>
            </label>
          </div>
          <!-- Email field -->
          <div class="qm-standard-text-field" *ngIf="isEmailEnabled">
            <label class="qm-standard-text-field__label">
              <span class="qm-standard-text-field__top-container">
                <span for="email" id="email-label" class="qm-standard-text-field__text" [ngClass]="{ 'qm-invalid-field__label' : confirmModalForm.get('email')?.errors && confirmModalForm.get('email')?.dirty }">{{ 'field.notifyoptions.email' | translate }}</span>
                <span for="email" class="qm-standard-text-field__required" [ngClass]="{ 'qm-invalid-field__label' : confirmModalForm.get('email')?.errors && confirmModalForm.get('email')?.dirty }">{{ 'label.options.required' | translate }}</span>
              </span>
              <span class="qm-standard-text-field__input-container">
                <input qmAllWhiteSpace required class="qm-input-box__input qm-popup-input" attr.aria-describedby="email-error"
                [attr.aria-invalid]="confirmModalForm.get('email')?.errors && confirmModalForm.get('email')?.dirty"
                [ngClass]="{ 'qm-invalid-input' : confirmModalForm.get('email')?.errors && confirmModalForm.get('email')?.dirty }" id="email" type="text" name='email' formControlName = "email" #email  >
              </span>
              <span class="qm-standard-text-field__error-message" id="email-error" role="alert">
                  <ng-container *ngIf="confirmModalForm.get('email')?.errors && confirmModalForm.get('email')?.dirty">
                    {{ 'error.form.email.invalid' | translate }}
                  </ng-container>
                 
                </span>
            </label>
          </div>
        </div>
      </div>
      <div class="qm-modal__footer">
        <div class="qm-generic-layout qm-generic-layout--align-right">
          <button type="button" class="qm-btn qm-btn--secondary qm-btn-cancel" (click)="activeModal.close();">
            <span class="qm-btn__text" title="{{ 'button.label.cancel' | translate }}">
              {{ 'button.label.cancel' | translate }}
            </span>
          </button>
          <button type="submit" [disabled]="!confirmModalForm.valid" class="qm-btn qm-btn--primary qm-btn-finish" (click)="accept()">
            <span class="qm-btn__text" title="{{ 'button.label.finish' | translate }}">
              {{ 'button.label.finish' | translate }}
            </span>
          </button>
        </div>
      </div>
    </form>
  </div>
</qm-auto-close>
