<div class="qm-flow-sub-header">
  <div class="qm-identify-visit-search" dir="{{ userDirection$ | async }}">
    <div class="qm-identify-visit-search__search-container">
    <input class="qm-identify-visit-search__input" type="search" placeholder="{{ 'search_spPool' | translate }}" id="visitSearch" name="q" [ngModel]="searchText" (input)="SearchVisit(visitSearch.value.trim())"   #visitSearch autocomplete="off"> 
    <i *ngIf="visitSearch.value.trim()" (click)="visitSearch.value = ''" class="icon-close qm-clear-search" aria-hidden="true"></i>

    </div>
  </div>

</div>


 <div class="qm-service-point-list__container">
    <div class="qm-service-point-list">

        <div class="qm-service-point-list__headers qm-flex-grid">
          <div class="qm-service-point-list-header-item qm-col qm-flex-grid" (click)="onSortClickbyServicePoint()">
            <div class="qm-service-point-list-header-item-label">{{'service_point' | translate}}</div>
            <div><i  *ngIf="sortedBy =='SERVICE_POINT'" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
          </div>

          <div class="qm-service-point-list-header-item qm-col qm-flex-grid" (click)="onSortClickbyState()">
            <div class="qm-service-point-list-header-item-label">{{'state' | translate}}</div>
            <div><i *ngIf="sortedBy =='STATE'" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
          </div>       
        </div>
      
        <div class="qm-service-point-list__body">
          <div *ngFor="let s of servicePoints">
          <div  class="qm-flex-grid qm-service-point-list-body-row" (click)="selectQueue(s)">
              <div class="qm-col qm-service-point-list-body-row-first-label">{{s.name}}</div>
              <div class="qm-col qm-service-point-list-body-row-second-label">
                <span *ngIf="s.state == 'CLOSED'" class="sp-closed-icon"> </span>
                <span *ngIf="s.state == 'OPEN'" class="sp-open-icon"> </span>
                {{s.state}}
              </div>
            </div>
        </div>

        </div>
      </div> 
     

</div> 