<qm-flow #f>
  <qm-flow-panel #ia [isHeaderVisible]="true" [isActive]="true" [isContentVisible]="true">
    <qm-flow-panel-header (click)="f.panelHeaderClick(ia); branchHeaderClick();" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'identify_appointment' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>sdsfjlk</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-identify-appointment></qm-identify-appointment>
    </qm-flow-panel-content>
  </qm-flow-panel>
