<qm-flow #f  [FlowName] ="'label.checkin.appointment'"  (onFlowExitInvoked)="iapp.flowExitInvoked()">
  <qm-flow-panel #ia [isHeaderVisible]="true" [isActive]="true" [isContentVisible]="true" [title]="'label.identify_appointment'">
    <qm-flow-panel-header (click)="f.panelHeaderClick(ia); branchHeaderClick();" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'label.identify_appointment' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result *ngIf="selectedCustomer">{{selectedCustomer?.firstName + ' ' + selectedCustomer?.lastName}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-identify-appointment #iapp (appointmentSelected)="onAppointmentSelected($event)"
      (appointmentDeselected)="onAppointmentDeselected($event)"
       dir="{{ userDirection$ | async }}" (onFlowNext)="f.onFlowNext(px)"></qm-identify-appointment>
    </qm-flow-panel-content>
  </qm-flow-panel>
  <qm-flow-panel [isHeaderVisible]="isServiceHeaderVisibe && !ia.isActive"  [headerVisibilityOverridden]="true"  #ps [title]="'edit_service'">
      <qm-flow-panel-header  (click)="f.panelHeaderClick(ps)" (onFlowExit)="f.onFlowExit()">
        <qm-flow-panel-title>{{ 'label.specify_service' | translate}}</qm-flow-panel-title>
        <qm-flow-panel-result *ngIf="selectedServices.length === 1">{{ selectedServices[0].name }}</qm-flow-panel-result>
        <qm-flow-panel-result *ngIf="selectedServices.length > 1">{{ selectedServices.length + ' ' + ( 'services_selected' | translate) }}</qm-flow-panel-result>
      </qm-flow-panel-header>
      <qm-flow-panel-content>
          <qm-select-service (onFlowNext)="f.onFlowNext(px)" [flowType]="'ARRIVE_APPOINTMENT'"></qm-select-service>
      </qm-flow-panel-content>
    </qm-flow-panel>
    <qm-flow-panel #px [title]="'label.confirm'" class="qm-checkout-view-flowpanel">
        <qm-flow-panel-header (click)="f.panelHeaderClick(px)" (onFlowExit)="f.onFlowExit()">
          <qm-flow-panel-title>{{ 'label.confirm ' | translate}}</qm-flow-panel-title>
        </qm-flow-panel-header>
        <qm-flow-panel-content>
          <qm-checkout-view (goToPanelByIndex)="f.goToPanelByIndex($event)" [flowType]="'ARRIVE_APPOINTMENT'" (onFlowExit)="f.onFlowExit(px, true)"></qm-checkout-view>
      </qm-flow-panel-content>
      </qm-flow-panel>
</qm-flow>  
