<div class="qm-wcag" style="height: calc(100vh);overflow: auto;">
  <qm-page-header></qm-page-header>
  <div class="qm-wcag-page" style="background-color: #fff;max-width: 70%; margin: auto;padding-top: 80px;">
    
    <div><span (click)="backToHome()" class="qm-wcag__btn"><i class="icon-caret-left"></i> Back</span></div>
    <div class="qm-wcag-statement" style="color: rgba(0, 0, 0, 0.87); margin:0 10vw;">
      <h1>Accessibility statement for Qmatic – Concierge</h1>

      <p style="margin-bottom: 15px;">
        This accessibility statement applies to the Concierge staff user application.
      </p>
     
      <p>
        This application is run by Qmatic. We want as many people as possible to be able to use this website.
        For example, that means you should be able to:
      </p>
      <ul style="margin-bottom: 15px;">
        <li>zoom in up to 175% without the text spilling off the screen</li>
        <li>use the application using just a keyboard</li>
        <li>listen to most of the screen readers in different platforms including NVDA, TalkBack, VoiceOver.</li>
        <li>view the application on your preferred device in both horizontal and vertical orientation without losing content</li>
      </ul>
      <p style="margin-bottom: 15px;">
        We’ve also made the application’s text as simple as possible to understand.
      </p>
      <p style="margin-bottom: 20px;">
        <a href="https://mcmw.abilitynet.org.uk/">VAbilityNet </a>
        AbilityNet has advice on making your device easier to use if you have a
        disability.
      </p>

      <h2>How accessible this website is</h2>
      <p>We know some parts of this website are not fully accessible:</p>
      <ul style="margin-bottom: 20px;">
        <li>This application extends WCAG support only up to Level AA.</li>
        <li>Every screen reader doesn’t fully support every major browser.
          To get the best screen reader capability, recommended screen reader should be used according to the browser.
          (A fair assistive technology browser combination can be found 
          <a href="https://labs.levelaccess.com/index.php/Assistive_Technology_Browser_Combinations">here</a> )</li>
        <li>According to the native behavior of the browser, keyboard keys need to be used to navigate can differ.
          As an example, when selecting items in a list,some browsers accept space bar, and some browsers accept the enter key.</li>
        <li>Zoom in on average supports up to 175%. That depends on device’s display aspect ratio.</li>
        <li>QR scanner functionality, one of the features of this application doesn’t fully comply with WCAG.</li>
      </ul>
      <h2>Reporting accessibility problems with this website</h2>
      <p style="margin-bottom: 15px;">
        We’re always looking to improve the accessibility of this website. If you find any problems not listed on this page or 
        think we’re not meeting accessibility requirements, contact us by: 
      </p>
      <p style="margin-bottom: 15px;">Sending an email with your feedback to: <a href="mailto:design@qmatic.com">design@qmatic.com</a></p>
     
      <p>
        We will get back to you with an answer and planned action in regard to
        the feedback in 30 days.
      </p>

      <h2>Technical information about this website’s accessibility</h2>
      <p style="margin-bottom: 20px;">
        Qmatic is committed to making its website accessible, in accordance with the European standard for 
        accessibility requirements when procuring IT products and services, EN 301 549 V2.1.2. 
      </p>

      <h3>Compliance status</h3>
      <p style="margin-bottom: 20px;">
        This website is fully compliant with the 
        <a href="https://www.w3.org/TR/WCAG21/">
          Web Content Accessibility Guidelines version 2.1</a
        >
        AA standard.
      </p>
      <h2>Non-accessible content</h2>
      <p style="margin-bottom: 20px;">
        See the “How accessible this application is” section for an overview.  
      </p>
      <p>
        Further details about non-compliance, disproprtionate burden and content that is not within scope, 
        will be added in the next update of this statement.
      </p>

      <h2>What we’re doing to improve accessibility</h2>
      <p>To improve accessibility, we will continuously evaluate the accessibility status and 
        try to make the non-accessible content compliant, according to the Qmatic Accessibility policy.</p>

      <h2>Preparation of this accessibility statement</h2>
      <p>
        This statement was prepared on 2021-05-28
      </p>
      <p>
        Tests was carried out by an external expert review through <a href="https://www.funka.com/">Funka</a> 2019-05-10. 
        Since then minor modifications has been done and subsequent with subsequent internal WCAG tests performed. 
      </p>
    </div>
    <footer class="qm-footer"> 
        <div  class="qm-footer__content">
          
          <p class="qm-footer__text">
            {{ 'poweredBy' | translate }} QMATIC
          </p>
          <p class="qm-footer__text qm-footer__link" (click)="redirectToStatement()">
            <span class="qm-footer__statement"> Accessibility statement</span>
          </p>
          
        </div>
      </footer>
  </div>
  
  
</div>
