@import "../../../../styles/base/_component-manifest.scss";

:host {
  width: 100%;
  z-index: map-get($z-index, "header");
}

.qm-header {
  display: flex;
  position: fixed;
  top: 0;
  z-index: 50;
  width: 100%;
  height: $global-header-height;
  justify-content: space-between;
  background: $header-background-color;
  padding: rem(0 24px);


  &__left {
    display: flex;
    flex: 0 1 auto;
    align-items: center;
  }

  &__right {
    display: flex;
    flex: 0 1 auto;
    text-align: right;
    align-items: center;
    min-width: 0;
  }

  @mixin top-bar-button-common {
    height: 27px;
    color: $light-transparent50;

    .qm-action-btn__icon {
      font-size: rem(26px);
    }

    &:visited {
      color: $light-transparent50;
    }

    &:hover,
    &:focus,
    &:active {
      color: $white;
      text-decoration: none;
    }
  }

  &__home-btn,
  &__help-btn,
  &__logout-btn {
    flex: 1 0 24px;
    @include top-bar-button-common;
  }

  &__settings-btn,
  &__settings-back-btn {
    flex: 1 0 auto;
    @include top-bar-button-common;
  }

  &__settings-back-btn {
    display: inline-flex;
    font-size: rem(16px);
    font-weight: $font-weight-regular;
    align-items: center;
    margin-right: rem($standard-margin * 2);

    @at-root [dir="rtl"] & {
      margin-right: 0;
      margin-left: rem($standard-margin * 2);
    }

    span {
      display: block;
    }
  }

  &__settings-btn {
    display: inherit;
    align-items: flex-start;
    font-size: 16px;
    span {
      padding: 0px 7px;
      align-self: center;
    }
  }

  // Left side
  &__brand-logo-container {
    display: flex;
    flex: 1 0 auto;
    align-items: center;
   
    @at-root [dir="rtl"] & {
      margin-left: 0;
    }
  }

  &__brand-logo {
    width: 95px;
    margin-left: 1rem;
    @at-root [dir="rtl"] & {
      margin-left: 0;
      margin-right: 1rem;
    }
  }

  &__application-name {
    flex: 1 1 auto;
    align-self: center;
    font-size: rem(21px);
    line-height: rem(27px);
    color: $white;
    margin-left: rem($standard-margin);

    @at-root [dir="rtl"] & {
      margin-left: 0;
      margin-right: rem($standard-margin);
    }
  }

  &__branch-name {
    flex: 1 1 auto;
    color: $header-branch-name-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20vw;

    @at-root [dir="rtl"] & { 
      margin-right: rem($standard-margin);
    }
   @at-root [dir="ltr"] & { 
      margin-left: rem($standard-margin);
    }
   
  }

  &__service-point-name {
    flex: 1 1 auto;
    color: $header-service-point-name-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 20vw;
      @at-root [dir="rtl"] & { 
      margin-left: rem($standard-margin);
    }
   @at-root [dir="ltr"] & { 
      margin-right: rem($standard-margin);
    }
  }

  &__less-than-icon{
    flex: 1 1 auto;
    color: $header-service-point-name-color;
    margin: rem(0 $standard-margin/2 0 $standard-margin/2); 
  }

  &__edit-link {
    flex: 1 1 auto;
    
    text-decoration: underline;
    font-size: rem(16px);
  }

  &__edit-link:hover {
    color: $white;
    cursor: pointer;
  }
  // Right side
  &-help-btn {
    margin: rem($standard-margin / 2);
  }

  &__user-name {
    flex: 1 1 auto;
    color: $light-transparent75;
    // margin: rem(0 $standard-margin / 2);
    font-size: 16px;
    @include add-text-ellipsis;
  }

  &__settings-admin-active {
    display: none;
    visibility: hidden;
  }
  .caret-icon{
    vertical-align: middle;
  }
}

.qm-transparent-btn{
  color: $header-edit-link-color;
}
a:focus, button:focus{
  border:  solid #007bff 1px;
 
}
.qm-transparent-btn:focus{
  color: #FFFFFF !important;
}
a:active,a:hover{
  border: none;
}
button:active,button:hover{
  border: none;
}

.qm-content-links {
  position: absolute;
  top: 0;
  // min-width: 100px;
  // left: .5rem;
  right: 0.5rem;
  z-index: 120;

  &__link{
    display: block;
    padding: 0;
    font-size: 1.125rem;
    background: linear-gradient(254.96deg,#32405c 0,#40526e 34.9%,#374561 62.87%,#394561 77.12%,#484766 100%);
    color: #fff;
    position: absolute!important;
    width: 1px;
    height: 1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
  }
  &__link:focus{
    padding: .9375rem 1rem;
    color: #fff;
    position: static!important;
    height: auto;
    width: auto;
    overflow: visible;
    clip: auto;
  }
  @at-root [dir="ltr"] { 
    left: .5rem;
    right: auto;
    }
    @at-root [dir="rtl"] {
  
  }

}

.qm-header-icon-list{
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  li{
    margin: 0 5px;
  }
}
