<header class="qm-header">
  <span class="qm-header__title">{{'module_name' | translate}}</span>
</header>
<header class="qm-header" dir="{{ userDirection$ | async }}">
  <div class="qm-header__left">
    <a *ngIf="!isNative" href="/" (click)="homeClick($event)" class="qm-action-btn qm-action-btn--only-icon qm-header__home-btn">
      <i class="qm-action-btn__icon icon-home" aria-hidden="true"></i>
      <!-- <span class="sr-only">{{ 'label.home' | translate }}</span> -->
    </a>
    <a *ngIf="!isNative" href="/" class="qm-header__brand-logo-container" (click)="homeClick($event)">
      <img class="qm-header__brand-logo" [src]="brandLogoSrc" alt="" role="presentation" />
      <!-- <span class="sr-only">{{ 'label.home' | translate }}</span> -->
    </a>
    <span class="qm-header__application-name">{{ 'label.application.name' | translate }}</span>
    <span class="qm-header__branch-name" *ngIf='showBranch'>{{branchName}}</span>
    <span class="qm-header__service-point-name" *ngIf='showSPointName'>{{sPName}}</span>
    <a>
      <span class="qm-header__edit-link" *ngIf='showBranch' (click)="editClick()">Edit</span>
    </a>
  </div>

  <div class="qm-header__right">

    <a *ngIf="!isNative" href="/help" target="_blank" class="qm-action-btn qm-action-btn--only-icon qm-header__help-btn">
      <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
      <!-- <span class="sr-only">{{ 'label.help' | translate }}</span> -->
    </a>
    <span class="qm-header__user-name">{{userFullName$ | async}}</span>
    <a href="/logout.jsp" (click)="logout($event)" class="qm-action-btn qm-action-btn--only-icon qm-header__logout-btn">
      <i class="qm-action-btn__icon icon-exit" aria-hidden="true"></i>
      <!-- <span class="sr-only">{{ 'label.logout' | translate }}</span> -->
    </a>
  </div>
</header>