@import '../../../../styles/base/_component-manifest.scss';
[dir='rtl'] .qm-quick-serve {
  margin-left: rem($standard-margin);
  
}


.qm-quick-serve {
  display: flex;
  justify-content: center;
  margin: 5em 1em 2em 1em;
  margin-left: auto;
  margin-right: auto;  
  @at-root [dir='rtl'] {
    margin-left: rem($standard-margin);
  }
  &__content {
    background-color: $white;
    padding-bottom: 10px;
    min-height: 219px;
    max-height: calc(100vh - 250px);
    border-radius: 4px;
  }
  &__header {
    color: $dark-transparent82;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 300;
    display: flex;
    @at-root [dir='rtl'] {
      text-align: right;
    }
  }
  svg {
    fill: $primary-text-color;
    display: inline-block;
    width: rem(54px);
    padding-bottom: $standard-padding;
  }
  &__list-container {
    width: 93%;
    margin: 0 auto;
    overflow: auto;
    height: calc(100vh - 480px);
    -ms-overflow-style: auto;
  }
  &__icon {
    color: $pale-aquamarine;
    padding-top: 15px;
  }
  &__uncheck-icon {
    color: $dark-transparent12;
    padding-top: 15px;
  }
  &__item {
    color: black;
    background-color: white;
    text-align: left;
    // height: 100%;
    // border-radius: 3px;
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);  
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    @at-root [dir='rtl'] & {
      text-align: right;
    }
    &__label {
      width: 100%;
      padding: 1em 0em;
      // line-height: 2.5em;
      font-size: 18px;
      text-align: left;
      // margin: 0 15px;
      @at-root [dir='rtl'] & {
        text-align: right;
      }
      @include qm-sm{
        font-size: 16px;
      }

    }
    
  

  }
  &__item:hover {
    background-color: rgba(0,0,0,0.04);
    cursor: pointer;
  }
  &__button-container {
 
    margin: 0 auto;
   text-align: center;
    position: relative;
    padding: 10px 0;
  
  }
  &__button {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    text-align: center;
    border-radius: 250px;
    color: #fff;
    background-color: var(--app-theme);
    &[disabled] {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
}

.qm-option__help-btn{
  padding: 0 20px;
  z-index: 40;
}



.qm-quick-serve-search{
  width: 90%;
  margin: auto;
  margin-bottom: 20px;

  &__input{
      padding: 0 15px;
      height: 48px;
      width: 100%;
      font-weight: 100;
      margin: auto;
      font-size: 18px;
      border: 1px solid $dark-transparent12;
      margin-bottom: 5px;
      color: $dark-transparent82;
  }
  &__input:focus{
      border: 1px solid $dark-transparent42;
  }

  &__input::placeholder{
    font-size: 18px;
    font-weight: 200;
    color: $dark-transparent62;

}
  
  &__search-container{
      display: flex;
  }

}

.qm-search__icon{

  margin-top: 10px;
  color: $dark-transparent42;
  @at-root [dir="rtl"] & {
    margin-right: -38px;
  }
  @at-root [dir="ltr"] & {
    margin-left: -35px;
  }
}
.qm-clear-search{ 
  
  margin-top: 12px;
  color: $dark-transparent42;
  @at-root [dir="rtl"] & {
    margin-right: -35px;
  }
  @at-root [dir="ltr"] & {
    margin-left: -35px;
  }
  font-size: 1.4em;
  cursor: pointer;

}

.triangle {
  width: 65px;
  height: 77px;
  position: relative;
  overflow: hidden;
  margin: auto;
  top:-22px;

}
.triangle:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: $dark-transparent82;
  transform: rotate(45deg); /* Prefixes... */
  top: 75px;
  
  // box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.quick-serve-tooltip{
  width: 350px;
    z-index: 30;
    position: absolute;
    margin-left: 12px;
    // margin-top: -87px;
    margin-bottom: 10px;


    @at-root [dir="rtl"] & {
        margin-right: 12px;
        text-align: right;
    }

    &__rec{
      background: $dark-transparent82;
      color: $white;
      font-size: 16px;
      padding: 10px;
      line-height: 24px;
      text-align: center;
      border-radius: 5px;
      margin-top: -22px;

    }
}

button:focus{
  font-weight: 500;
}
.tool-tip-back-drop{
  width: 100vw;
  height: 100vh;  
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  // background: rgba(0, 0, 0, 0.5);
} 

.qm-quick-serve-item{
  display: flex;
  width: 100%;
  padding: 0px 8px;
}

.qm-quick-serve-item:focus {
  background: rgba(0,0,0,0.04);
}

// @media screen and (orientation:portrait) { 
//   .qm-quick-serve {
//   &__content {
//     // width: 476px;
//   }
//   &__header {
//     font-size: 28px;
//     margin: 0px 32px;
//   }
//   }
// }


@media only screen and (max-width: 768px) {
  .qm-quick-serve {
    &__list-container {
      max-height: calc(27.5vh - 9rem);
    }
  }
}


@include qm-xs-lower { 
  .qm-quick-serve {
    &__list-container {
      max-height: calc(27.5vh - 9rem);
    }
    
  &__content {
    width: 476px;
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }
  
}
}


@include qm-xs { 
  .qm-quick-serve {
    &__list-container {
      max-height: calc(27.5vh - 9rem);
    }
    
  &__content {
    width: 476px;
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }
  }
}


@include qm-sm { 
 
  .qm-quick-serve {
    // width: calc(100vw - 608px);
    width: 100%;
    margin-left: auto;
      margin-right: auto;
  &__content {
    width: 80%
   
  }
  &__header {
    font-size: 24px;
    margin: 0px 20px;
  }
  }
} 


@include qm-md { 
  .qm-quick-serve {
    // width: calc(100vw - 852px);
    width: 100%;
    margin-left: auto;
    margin-right: auto;

  &__content {
    width: 80%
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }
}

} 


/* Extra large devices (L display size - 1920px and up) */
@include qm-lg { 
  .qm-quick-serve {
    // width: calc(100vw - 1136px);
    width:100%;
    margin-left: auto;
    margin-right: auto;
  &__content {
    width: 80%
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }

}

}


button:focus{
  i{
  border:  solid #72a2f7 1px;
}
}
.qm-button:focus{
  border:  solid #72a2f7 1px;
}


// IE specific fix for tooltip
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .quick-serve-tooltip{
    margin-left:-203px;
  }
}