<div *ngIf="services.length > 0" class="qm-quick-serve"  dir="{{ userDirection$ | async }}">
    <div class="qm-quick-serve__content">
        <div class="qm-quick-serve__header">{{ 'quick_serve' | translate }}</div>
        <div class="qm-quick-serve__list-container">
                <div class="qm-quick-serve__item" (click)="onServiceSelect(service)" *ngFor="let service of services">
                        <span class="qm-quick-serve__item__label">{{ service.internalName }}</span>
                        <div *ngIf="selectedService !== null && selectedService.id === service.id">
                            <i class="qm-action-btn__icon icon-check qm-quick-serve__icon" aria-hidden="true"></i>
                        </div>
                    </div>
        </div>
        <div class="qm-quick-serve__button-container">
                <button class="qm-quick-serve__button" (click)="onServe()" [disabled]="selectedService === null">{{ 'serve' | translate }}</button>
            </div>
    </div>
</div>
  