@import '../../../../styles/base/_component-manifest.scss';
[dir='rtl'] .qm-quick-serve {
  margin-left: rem($standard-margin);
  
}


.qm-quick-serve {
  display: flex;
  justify-content: center;
  margin: 5em 1em 2em 1em;  
  @at-root [dir='rtl'] {
    margin-left: rem($standard-margin);
  }
  &__content {
    background-color: $white;
    padding-bottom: 10px;
 
    max-height: calc(100vh - 250px);
    border-radius: 4px;
  }
  &__header {
    color: $dark-transparent82;
    line-height: 2em;
    padding-top: 20px;
    padding-bottom: 10px;
    font-weight: 300;
    display: flex;
  }
  svg {
    fill: $primary-text-color;
    display: inline-block;
    width: rem(54px);
    padding-bottom: $standard-padding;
  }
  &__list-container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
    max-height: calc(100vh - 480px);
    -ms-overflow-style: auto;
  }
  &__icon {
    color: $pale-aquamarine;
  }
  &__uncheck-icon {
    color: $dark-transparent12;
  }
  &__item {
    color: black;
    background-color: white;
    text-align: left;
    height: 100%;
    border-radius: 3px;
    // box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.2);  
    width: 100%;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    @at-root [dir='rtl'] & {
      text-align: right;
    }
    &__label {
      width: 88%;
      padding: 1em 0em;
      // line-height: 2.5em;
      font-size: 16px;
      text-align: left;
      margin: 0 15px;
      @at-root [dir='rtl'] & {
        text-align: right;
      }
    }
    
  

  }
  &__item:hover {
    background-color: rgba(0,0,0,0.04);
    cursor: pointer;
  }
  &__button-container {
 
    margin: 0 auto;
   text-align: center;
    position: relative;
    padding: 10px 0;
  
  }
  &__button {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    font: inherit;
    font-size: 100%;
    text-align: center;
    border-radius: 250px;
    color: #fff;
    background-color: var(--app-theme);
    &[disabled] {
      background-color: rgba(0, 0, 0, 0.5);
    }
  }
  
}

.qm-option__help-btn{
  padding: 0 20px;
  z-index: 40;
}

@media(max-width: 800px) {
  .qm-quick-serve {
    &__list-container {
      max-height: calc(27.5vh - 9rem);
    }
  }
}

.qm-quick-serve-search{
  width: 90%;
  margin: auto;
  margin-bottom: 20px;

  &__input{
     padding: 15px;
      width: 100%;
      margin: auto;
      border: 1px solid $dark-transparent12;
      margin-bottom: 5px;
  }
  &__input:focus{
      border: 1px solid $dark-transparent42;
  }
  &__search-container{
      display: flex;
  }

}

.qm-search__icon{

  margin-top: 13px;
  color: $dark-transparent42;
  @at-root [dir="rtl"] & {
    margin-right: -38px;
  }
  @at-root [dir="ltr"] & {
    margin-left: -35px;
  }
}
.qm-clear-search{ 
  
  margin-top: 14px;
  color: $dark-transparent42;
  @at-root [dir="rtl"] & {
    margin-right: -35px;
  }
  @at-root [dir="ltr"] & {
    margin-left: -35px;
  }
  font-size: 1.4em;
  cursor: pointer;

}

.triangle {
  width: 65px;
  height: 77px;
  position: relative;
  overflow: hidden;
  margin: auto;
  top:-22px;

}
.triangle:after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background: $dark-transparent82;
  transform: rotate(45deg); /* Prefixes... */
  top: 75px;
  
  // box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
}

.quick-serve-tooltip{
  width: 350px;
    z-index: 30;
    position: absolute;
    margin-left: 12px;
    // margin-top: -87px;
    margin-bottom: 10px;


    @at-root [dir="rtl"] & {
        margin-right: 12px;
        text-align: right;
    }

    &__rec{
      background: $dark-transparent82;
      color: $white;
      font-size: 16px;
      padding: 10px;
      line-height: 24px;
      text-align: center;
      border-radius: 5px;
      margin-top: -22px;

    }
}

.tool-tip-back-drop{
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 100;
  // background: rgba(0, 0, 0, 0.5);
} 


/* Extra small devices (phones, 768px and down) */
@media only screen and (max-width: 767px) {
  .qm-quick-serve {
    // width: calc(100vw - 500px);
    &__content {
      width: 476px;
    }
    &__header {
      font-size: 28px;
      margin: 0px 32px;
    }
    }
}

@media screen and (orientation:portrait) { 
  .qm-quick-serve {
    // width: calc(100vw - 500px);
  &__content {
    width: 476px;
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }
  }
}

/* Small devices (XS display size -  768px and up) */
@media only screen and (max-width: 767px) {
  .qm-quick-serve {
  width: 467px;
  margin-left: auto;
  margin-right: auto;
  }
  }
  


@media only screen and (min-width: 768px) {
  .qm-quick-serve {
    width: calc(100vw - 500px);
  &__content {
    width: 476px;
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }
  }
}

/* Medium devices (S Display size - 1024px and up) */
@media only screen and (min-width: 1024px) {
  width: calc(100vw - 768px);
  .qm-quick-serve {
  &__content {
    width: 368px;
   
  }
  &__header {
    font-size: 24px;
    margin: 0px 20px;
  }
  }
} 

/* Medium devices (M Display size - 1440px and up) */
@media only screen and (min-width: 1440px) {
  .qm-quick-serve {
    width: calc(100vw - 900px);
  &__content {
    width: 476px;
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }
}

} 

/* Extra large devices (L display size - 1920px and up) */
@media only screen and (min-width: 1920px) {
  .qm-quick-serve {
    width: calc(100vw - 1136px);
  &__content {
    width: 520px;
  }
  &__header {
    font-size: 28px;
    margin: 0px 32px;
  }

}

}

@media screen and (orientation:portrait) {
  .qm-quick-serve {
  width: 467px;
  margin-left: auto;
  margin-right: auto;
  }
}

