<div class="qm-time-filter__items" dir="{{userDirection$ | async }}">
  
  <ng-container *ngIf="timeConvention === 'AMPM'">
    <button class="qm-time-filter__item qm-transparent-btn" [ngClass]="{'qm-time-filter__item--selected': selectedTime.format('YYYY-MM-DD HH:mm') === t.format('YYYY-MM-DD HH:mm')}" (click)="timeSelected(t)" *ngFor="let t of timeCollection" >
      <span class="qm-time-filter__item--time"> {{ t | amDateFormat: 'hh:mm' }}</span>
      <span class="qm-time-filter__item--meridian"> {{ t | amDateFormat: 'A' }}</span>
    </button>
  </ng-container>

  <ng-container  *ngIf="timeConvention === '24'">
    <div class="qm-time-filter__item" [ngClass]="{'qm-time-filter__item--selected': selectedTime.format('YYYY-MM-DD HH:mm') === t.format('YYYY-MM-DD HH:mm')}" (click)="timeSelected(t)" *ngFor="let t of timeCollection" >
        <span class="qm-time-filter__item--time"> {{ t | amDateFormat: 'HH:mm' }}</span>
      </div>
  </ng-container>
</div>