<div class="qm-notes" *ngIf="notesEnabled" [ngClass]="{ 'qm-edit-visit-not-customer': flow=='CREATE_VISIT' && isCustomerSelected==null,'qm-edit-visit-customer': (flow=='CREATE_VISIT' && isCustomerSelected && isCustomerSelected.properties.email && isCustomerSelected.properties.phoneNumber),'qm-edit-visit-without-feild': (flow=='CREATE_VISIT' && isCustomerSelected && ((isCustomerSelected.properties.email && !isCustomerSelected.properties.phoneNumber)||(!isCustomerSelected.properties.email && isCustomerSelected.properties.phoneNumber)))}" dir="{{ userDirection$ | async }}">
  <div class="qm-notes__edit-container">
    <div class="qm-notes-layout">
      <div class="qm-notes__nr-of-character-container" >
        
      </div>
    </div>

    <!-- <p (click)="test()">{{isCustomerSelected|json}}</p> -->

    <div class="qm-notes__textarea" (click)="toggleNotesInput()">
        {{notes}}
    </div>
    <button class="qm-notes-btn js-notes-btn" (click)="toggleNotesInput()">
        <span class="qm-notes-btn__text" [ngClass]="{ 'qm-notes-btn__text--has-text' : hasNotesText() }" [innerHTML]="getButtonText()"></span>
        <i class="qm-notes-btn__icon icon-edit" aria-hidden="true"></i>
        <span class="sr-only">{{ 'button.edit' | translate }}</span>
      </button>
  </div>
</div>
