@import '../../../../styles/base/_component-manifest.scss';

.qm-notes-layout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem($standard-margin / 2);
}

.qm-notes-btn {
  outline: 0;
  &:focus {
    outline: 0;
  }
}

.qm-notes {

  flex: 1 0 auto;
    display: flex;
    width: 97%;
    align-self: flex-end;
    padding-top: rem($standard-padding / 2);
    bottom: 3em;
   
    overflow: hidden;
    display: table-cell;
    vertical-align: bottom;
    width: 100vw;

  &__edit-container {
    width: 100%;
    display: block;
  }

  &__presentation-container {
    width: 100%;
    align-self: flex-end;
  }

  &__textarea {
    display: block;
    width: 100%;
    
    resize: none;
    font-size: 18px;
    color: rgba(0,0,0,0.82);
    padding: rem($standard-padding / 2) rem($standard-padding / 2) 0;

    &[disabled] {
      background: $disabled-background;
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__label {
    font-size: rem(12px);
    color: $dark-transparent62;
    margin-bottom: 0;
  }

  &__nr-of-character-container {
    display: flex;
  }

  &__characters {
    font-size: rem(12px);
    color: $dark-transparent62;
  }
}

.qm-notes-btn {
  position: relative;
  width: 100%;
  color: $dark-transparent82;
  background: transparent;
  border: 0;
  padding: rem($standard-padding / 4 40px $standard-padding / 4 0);
  border-bottom: 1px solid $dark-transparent42;
  cursor: pointer;
  text-align: left;
  word-wrap: break-word;
  height: 2rem;

  @at-root [dir='rtl'] & {
    padding: rem($standard-padding / 4 0 $standard-padding / 4 40px);
    text-align: right;
  }

  &__icon {
    position: absolute;
    font-size: rem(24px);
    top: rem($standard-padding / 4);
    right: 0;
    color: $dark-transparent42;

    @at-root [dir='rtl'] & {
      right: auto;
      left: 0;
    }
  }

  &__text {
    color: $dark-transparent62;

    &--has-text {
      color: $dark-transparent82;
    }
  }

  &:hover,
  &:focus {
    border-color: $dark-transparent82;

    .qm-notes-btn__icon {
      color: $dark-transparent82;
    }
  }
}
@include qm-lg { 
  .qm-notes{
    height: calc(100vh - 739px);
  }
  
}
@include qm-md { 
  .qm-notes{
    height: calc(100vh - 611px);
    
  }
  
}
@include qm-sm { 
  .qm-notes{
    height: calc(100vh - 611px);
    
  }
  
}

.qm-notes-edit-visit-flow{
  @include qm-lg { 
    height: calc(100vh - 585px);
  }
}