@import '../../../../styles/base/_component-manifest.scss';

.qm-side-menu {
    font-family: $tertiary-font-family;
    font-size: $font-medium;
    text-align: left;


    &__content {
        display: flex;
        flex-direction: column;
        font-size: 1.1rem;
    }

    &__heading {
        background-color: $tertiary-color;
        padding: $standard-padding;
        letter-spacing: $extended-letter-spacing;
    }
}