@import '../../../../styles/base/_component-manifest.scss';

.customer-search-component{
    width: 100%;
    margin: 0px 0px 10px 0px;
}
.customer-search-list-container{
    width: 100;
    margin: 10px 0px 0px 0px;
}
.qm-flow-selected-customer{
    background:var(--app-theme);
    color: $white;
    display: flex;
    padding: 0.5rem;
    width: 55%;

}

.qm-clear{   
  display: flex;
  display: inline-block;
  vertical-align: middle;
  margin:10px 10px -10px -25px;
  z-index: 2;
  color: white;
  cursor: pointer;
  @at-root [dir="rtl"] & {
     margin:10px -25px 10px 10px;
    }
  
}

.qm-identify__customer-select-container{
    margin-top:10px;
    display: flex;
    margin-left: 27.6%
}

.qm-input-box{
    &__extend{
        margin-left: auto;
        margin-top: 4rem;
        width: 60%;
        background-color: #e8e8e8;
    }
}

.padding-class{
    width: 70px;
}
