@import '../../../../styles/base/_component-manifest.scss';

.customer-search-component{
    width: 100%;
    margin: 0px 0px 10px 0px;
}
.customer-search-list-container{
    width: 100;
    margin: 10px 0px 0px 0px;
}
.qm-flow-selected-customer{
    background:var(--app-theme);
    color: $white;
    display: flex;
    padding: 0.5rem;
    width: 98%;
}

.qm-clear-customer{   
  display: flex;
  display: inline-block;
  vertical-align: middle;
  margin:10px 10px -10px -25px;
  z-index: 2;
  color: white;
  cursor: pointer;
}

[dir='rtl'] :host {
    .qm-clear-customer{ 
        margin: 10px -25px 10px 10px;
    }
}

.qm-identify__customer-select-container{
    margin-top:10px;
    display: flex;
    justify-content: center;
    width: 62%;
    margin-left: auto;
    margin-right: auto;
}

.qm-input-box{
    &__extend{
        margin-left: auto;
        margin-top: 4rem;
       
    }
}

.padding-class{
    width: 70px;
}
