<div class="qm-pannel-container" [ngStyle]="{'height': !editMode  ? 'calc(100% - 12vh)' : '100%'}">
  <div class="qm-pannel-inner-container" dir="{{ userDirection$ | async }}"> 
    
    <div class="qm-flow-sub-header">
      <div class="qm-flow-sub-header__right">
        <div class="qm-checkbox__container">
          <label for="qm-checkbox" class="qm-checkbox-label">
          <input id="qm-checkbox" class="qm-checkbox" type="checkbox" (change)="onSwitchChange()" [(ngModel)]="isFlowSkip">
            <div class="qm-checkbox__selector">
              <i aria-hidden="true" class="qm-checkbox__selector-icon"></i>
                <div class="qm-checkbox__selector-icon-text">{{ 'label.skip.branch' | translate }}</div>
            </div>
          </label>
          <button  type="button" class="qm-action-btn qm-action-btn--only-icon qm-option__help-btn qm-tooltip-btn">
            <i class="qm-action-btn__icon icon-help" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>
    <br>

  <div class="qm-crossline-header-container" >
    <div class="qm-crossline-header"></div>
    <h2 class="qm-crossline-header-text">{{ 'addCustomer_heading' | translate }}</h2>
    <br>
  </div>
  <div>
    
      <div class="qm-input-box qm-input-box__extend">
        <form class="qm-input-box__container" [formGroup]="customerCreateForm" (keyup.enter)="accept()" autocomplete="off" >
          <div class="qm-input-box__input-section">
            <!-- First Name and Last Name section -->
            <div class="qm-input-box__row">
              <div class="qm-input-box__col-50">
                <div class="qm-input-box__left-side">
                    <div>
                      <label for="firstName" class="qm-input-box__inputbox-name qm-input-box__label-first-label" >{{'first_name'|translate }}</label>
                    </div>
                     <br>
                      <input #firstName class="qm-input-box__input" type="text" name='firstName' formControlName = "firstName"
                      maxlength="50"  [ngClass]="{'invalid': (invalidFirstName && firstName.value=='')}"> 
                     
                      <div *ngIf="firstName.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                          <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" (click)="clearInputFeild('firstName')"></i>
                      </div>      
                </div>
              </div>
              <div class="qm-input-box__col-50">
                  <div>
                    <label for="lastName" class="qm-input-box__inputbox-name qm-input-box__label-first-label" >{{'last_name'|translate }}</label>           
                  </div> 
                    <input class="qm-input-box__input" type="text" name='lastName' formControlName = "lastName"  #lastName  maxlength="50" [ngClass]="{'invalid': (invalidLastName && lastName.value=='')}">
                    <div *ngIf="lastName.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                        <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon"  (click)="clearInputFeild('lastName')"></i>
                    </div> 
              </div>
            </div>

            <!-- Email Section -->
            <div class="qm-input-box__row">
                <label for="email" class="qm-input-box__inputbox-name qm-input-box__label-first-label">{{'email'|translate }}</label>
                <input class="qm-input-box__input" type="text" name='email' formControlName = "email" #email  >
                <div *ngIf="email.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon" (click)="clearInputFeild('email')"></i>
                </div> 
                <div class="qm-form-error-message" *ngIf="customerCreateForm.get('email').invalid"> {{'error.form.email.invalid'|translate}}</div>
            </div>

          <!-- Phone Section  -->
            <div class="qm-input-box__row">
                <div class="qm-input-box__col-50">
                    <div class="qm-input-box__left-side">
                      <label for="phone" class="qm-input-box__inputbox-name qm-input-box__label-first-label">{{'phone'|translate }}</label>
                      <input class="qm-input-box__input" type="tel" inputmode="numeric" name='phone' formControlName = "phone" #phone>
                      <span *ngIf="phone.value.trim()" class="qm-action-btn qm-action-btn--only-icon">
                          <i aria-hidden="true" class="qm-action-btn__icon icon-close qm-close__icon"  (click)="clearInputFeild('phone')"></i>
                      </span> 
                      <div class="qm-form-error-message" *ngIf="customerCreateForm.get('phone').invalid"> {{'error.form.phone.invalid'|translate}}</div>
                    </div>
                </div>
            </div>

          </div>
        </form>
      </div>
  </div>
  </div>
  </div>
<div class="qm-flow-done-bar">
    <div class="qm-flow-done-bar__done-button" (click)="doneButtonClick()" >   {{'banner_done_label' | translate }}</div>
</div>