@import '../../../../styles/base/_component-manifest.scss';


// placeholder styles
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
        font-size: 1.1em;
        font-weight: 100;
        color: $dark-transparent62;
    }
:-ms-input-placeholder { /* Internet Explorer 10-11 */
        font-size: 1.1em;
        font-weight: 100;
        color: $dark-transparent62;
    }
::-ms-input-placeholder { /* Microsoft Edge */
        font-size: 1.1em;
        font-weight: 100;
        color: $dark-transparent62;
    }

.qm-search__icon{
    right: 1.2em;
    color:  $dark-transparent42;
    z-index: 1000;
    position: relative;
}
.qm-close__icon{
    
    color:  $dark-transparent42;
    z-index: 1000;
    position: relative;
    font-size: 1.5em;
}

.qm-dob-close__icon{
    margin: auto;
    height: 100%;
    padding-top: 45px;
    right: auto !important;
    left: auto !important;
    cursor: pointer;
}


.qm-close__icon:hover{
    color: $dark-transparent62;
}

.qm-action-btn--only-icon{
    position: absolute;
    vertical-align: middle;
    margin-top: 14px;
    @at-root [dir="ltr"] & {
        right: 1.2em;
    }
    @at-root [dir="rtl"] & {
        left: 1.2em;
    }
}


/* IE 11 */
@media all and (-ms-high-contrast:none) {
    :host {
        @at-root [dir="ltr"] & {
            text-align: right;
        }
        @at-root [dir="rtl"] & {
            text-align: left;
        }
        }
      
        .qm-action-btn--only-icon{
            
            // margin-top: -5.2em;
        }
  }

  input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.qm-dob-label{
    color: $dark-transparent62;
    font-weight: 500;
}
.qm-form-error-message{
    @at-root [dir="ltr"] & {
        text-align: left;
    }
    @at-root [dir="rtl"] & {
        text-align: right;
    }
}

.qm-dob-container{
    display: flex;
}

.qm-dob-error{
    outline: 2px solid #E50046;
}

.qm-clear-dob{
    height: 100px;
}

.quick-serve-tooltip{
    width: 350px;
      z-index: 30;
      position: absolute;
      margin-left: -60px;
      margin-top: 6px;
      margin-bottom: 10px;
  
  
      @at-root [dir="rtl"] & {
          margin-right: -65px;
          text-align: right;
      }
  
      &__rec{
        background: $dark-transparent82;
        color: $white;
        font-size: 16px;
        padding: 10px;
        line-height: 24px;
        text-align: center;
        border-radius: 5px;
        margin-top: -22px;
  
      }
  }
  
  .tool-tip-back-drop{
    width: 100vw;
    height: 100vh;  
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    // background: rgba(0, 0, 0, 0.5);
  } 
  
  
  .triangle {
    width: 43px;
    height: 77px;
    position: relative;
    overflow: hidden;
    margin: auto;
    top:-22px;
   
    @at-root [dir='ltr'] & {
      left: 11%;
    }
    @at-root [dir='rtl'] & {
      right: 11%;
  }
  }
  .triangle:after {
    content: "";
    position: absolute;
    width: 55px;
    height: 50px;
    background: $dark-transparent82;
    transform: rotate(45deg); /* Prefixes... */
    top: 75px;
    
    // box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
  }
  
  @include qm-sm{
    .quick-serve-tooltip{
        @at-root [dir='ltr'] & {
            margin-left: -104px;
          }
          @at-root [dir='rtl'] & {
            margin-right: -104px;
        }
    }
    .triangle{
        @at-root [dir='ltr'] & {
            left: 24%;
          }
          @at-root [dir='rtl'] & {
            right: 24%;
        }
    }
  }

  @include qm-xs{
    .quick-serve-tooltip{
        @at-root [dir='ltr'] & {
            margin-left: -160px;
          }
          @at-root [dir='rtl'] & {
            margin-right: -160px;
        }
    }
    .triangle{
        @at-root [dir='ltr'] & {
            left: 40%;
          }
          @at-root [dir='rtl'] & {
            right: 40%;
        }
    }
  }

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    .quick-serve-tooltip{
      @at-root [dir='ltr'] & {
        margin-left: -235px !important;
        @include qm-sm{
            margin-left: -280px !important;
        }
        @include qm-xs{
            margin-left: -335px !important;
        }
      }
      @at-root [dir='rtl'] & {
        margin-right: -235px !important;
        @include qm-sm{
            margin-right: -280px !important;
        }
        @include qm-xs{
            margin-right: -335px !important;
        }
    }
    }
  }

  .qm-checkbox-label{
      z-index: 400;
  }
  .qm-checkbox-focused{
    border:  solid #007bff 1px;
  }
  
  .qm-input-group{
      position: relative;
  }
  .ng-select:focus{
    border: 1px solid#72a2f7;
    }