<qm-flow #f>
  <qm-flow-panel #pb [isActive]="true" [isContentVisible]="true" [isHeaderVisible]="true">
    <qm-flow-panel-header (click)="f.panelHeaderClick(pb)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'specify_service' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>{{ 'selected branch'}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
        <qm-select-service (onFlowNext)="setPanelClick()" [flowType]="flowType"></qm-select-service>
    </qm-flow-panel-content>
  </qm-flow-panel>
  <qm-flow-panel *ngIf="!isCustomerFlowHidden" #ps>
    <qm-flow-panel-header (click)="f.panelHeaderClick(ps)" (onFlowExit)="f.onFlowExit()">
      <qm-flow-panel-title>{{ 'identify_customer' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result>{{'test'}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
        <qm-select-branch (onFlowNext)="f.onFlowNext(pa)"></qm-select-branch>
    </qm-flow-panel-content>
  </qm-flow-panel>

  <qm-flow-panel #pa>
      <qm-flow-panel-header (click)="f.panelHeaderClick(ps)" (onFlowExit)="f.onFlowExit()">
        <qm-flow-panel-title>{{ 'issue_ticket' | translate}}</qm-flow-panel-title>
      </qm-flow-panel-header>
    </qm-flow-panel>
</qm-flow>
