<div dir="{{userDirection$ | async}}">
  <div class="qm-visit-list" >
    <div class="qm-visit-list__headers qm-flex-grid">
      <div class="qm-visit-list-header-item qm-col-2 qm-flex-grid" (click)="sortByVisitId()">
        <div class="qm-visit-list-header-item-label qm-first-element-header">{{'ticket' | translate}}</div>
        <button class="qm-transparent-btn"><i class="sort-icon" [ngClass]="{'icon-caret-up': sortByVisitIdAsc !== true, 'icon-caret-down': sortByVisitIdAsc ===  true,'selected-sort-icon':sortingIndicator==='VISITID'  }"></i></button>
      </div>
      <div class="qm-visit-list-header-item qm-col-4 qm-customer-col qm-flex-grid" (click)="sortByCustomer()">
        <div class="qm-visit-list-header-item-label">{{'visit_customer_label' | translate}}</div>
        <button class="qm-transparent-btn"><i class="sort-icon" [ngClass]="{'icon-caret-up': sortByCustomerAsc !== true, 'icon-caret-down': sortByCustomerAsc ===  true,'selected-sort-icon':sortingIndicator==='CUSTOMER'  }"></i></button>
      </div>

      <div class="qm-visit-list-header-item qm-col-4 qm-service-col  qm-flex-grid" (click)="sortByService()">
        <div class="qm-visit-list-header-item-label"> {{ 'visit_service_label' | translate}} </div>
        <button class="qm-transparent-btn"><i class="sort-icon" [ngClass]="{'icon-caret-up': sortByServiceAsc !== true, 'icon-caret-down': sortByServiceAsc ===  true,'selected-sort-icon':sortingIndicator==='SERVICE'  }"></i></button>
      </div>

      <div class="qm-visit-list-header-item qm-col-3 qm-app-time-col qm-flex-grid" (click)="sortByAppTime()">
        <div class="qm-visit-list-header-item-label"> {{ 'visit_appointment_time_label' | translate}} </div>
        <button class="qm-transparent-btn"><i class="sort-icon" [ngClass]="{'icon-caret-up': sortByAppTimeAsc !== true, 'icon-caret-down': sortByAppTimeAsc ===  true,'selected-sort-icon':sortingIndicator==='APPTIME'  }"></i></button>
      </div>


      <div class="qm-visit-list-header-item qm-col-2 qm-wait-time-col qm-flex-grid">
        <div class="qm-visit-list-header-item-label"> {{ 'visit_wait_time_label' | translate}} </div>
      </div>
      <div class="info-icon-container"></div>
    </div>
    
    <div id="qm-visit-container" *ngIf=" visits && !visits.length && visitLoaded" class="qm-visit-list__body" dir="{{userDirection$ | async}}">
      <div class="qm-visit-list-body-row-container" >
        <div>
        <div class="no-visit-message"> 
          {{'empty'|translate}}
          </div>
          </div>
          </div>
    </div>
    <div id="qm-visit-container" class="qm-loader-container" *ngIf="!visitLoaded && visitLoading">
      <span class="qm-spinner"></span>
      <div class="qm-visit-container__loading">
        {{ 'label.visit.loading.text' | translate }}
      </div>
    </div>

    <div id="qm-visit-container" *ngIf="visits && visits.length && (visitLoaded||queueVisitIdLoaded)  " class="qm-visit-list__body"  [ngClass]="{'visit-list-body-collapesed':  isCollapesed==='true','visit-list-body-without-quick-serve':  !isQuickServeEnable}" dir="{{userDirection$ | async}}">
     
      <div class="qm-visit-list-body-row-container"  *ngFor="let visit of visits; index as i">
        <div>
        <div style="display:flex"  id="{{visit.visitId}}-expanded-visit-info"> 
        <div tabindex="0" (click)="selectVisit(i,visit.visitId)" (keydown.enter)="selectVisit(i,visit.visitId)" (keydown.space)="selectVisit(i,visit.visitId)" class="qm-visit-list-body-row" [ngClass]="{'qm-visit-list-body-row-selected':  visits && visitClicked && selectedVisitId === visit.visitId, 'info-selected':infoVisitId === visit.visitId}" >
         <div class="qm-flex-grid  qm-row-text" [ngStyle]="{'height':infoVisitId === visit.visitId ? '0%':'100%'}"> 
          <div class="qm-col-2 qm-body-item qm-visit-list-body-row-caret-view">
            <div class="qm-visit-list-body-row-label qm-first-element " [ngClass]="{'qm-ticket-selected':  visits && visitClicked && selectedVisitId === visit.visitId,'qm-selected-visit-font':  infoVisitId === visit.visitId}"> 
              {{visit.ticketId}} 
            </div>
          </div>
          <div class="qm-col-4 qm-customer-col qm-body-item" [ngClass]="{'qm-selected-visit-font':  infoVisitId === visit.visitId}">{{visit.customerName }}</div>
          <div class="qm-col-4 qm-body-item qm-service-col" [ngClass]="{'qm-display-none':  infoVisitId === visit.visitId}"> {{visit.serviceName }} </div>
          <div class="qm-col-3 qm-body-item qm-app-time-col" [ngClass]="{'qm-display-none':  infoVisitId === visit.visitId}"> {{getAppointmentTime(visit)}}</div>
          <div class="qm-col-2 qm-body-item qm-wait-time-col" [ngClass]="{'qm-display-none':  infoVisitId === visit.visitId}">{{ visit.waitingTimeStr }} <span *ngIf="visit.waitingTimeStr!='-'"> min</span></div>
        </div>
        
        <!-- Extended visit container -->
          <div class="qm-expanded-visit-container" *ngIf="infoVisitId === visit.visitId">  
            <div class="qm-flex-grid" *ngIf="getAppointmentTime(visit)!='-'">
            <i class="icon-clock qm-expanded-visit-container__icon"></i>  <span class="qm-expanded-visit-container__text"> {{getAppointmentTime(visit)}}</span>
            </div>
            <div class="qm-flex-grid">
                <i class="icon-hourglass qm-expanded-visit-container__icon"></i>  <span class="qm-expanded-visit-container__text">{{ visit.waitingTimeStr }} min</span>
            </div>
            <div class="qm-flex-grid">
                <i class="icon-service qm-expanded-visit-container__icon"></i>  <span class="qm-expanded-visit-container__text">{{ visit.serviceName }}</span>
            </div>
          </div>

        </div>
        
        <button class="info-icon-container qm-transparent-btn" (click)="selectedInfoButton(visit.visitId)">
          <i class="icon-info qm-details-icon" *ngIf="infoVisitId !== visit.visitId" ></i>
          <i class="icon-info-solid qm-details-icon" *ngIf="infoVisitId === visit.visitId"></i>
        </button>
        </div>
     
        <!-- Edit visit options -->
        <div *ngIf="visitClicked && selectedVisitId === visit.visitId && this.visitOptionStatus === 'initial'" 
                class="qm-visit-list__options-2" id="{{visit.visitId}}-visitOptionContainer">
          <!-- <div class="triangle-with-shadow"></div> -->
          <div class="qm-visit-list__options-2__rec" id="visit-rec" tabindex="-1">
            <div class="qm-visit-list__options-2__heading">
              <div class="qm-title">
               <span class="qm-visit-options-ticket-id"> {{visit.ticketId}} </span> {{'visit_options'|translate}}
              </div>
              <button class="qm-icon qm-transparent-btn" id="qm-close-btn" (click)=" closeVisitOptions()">
                <i class="icon-close" ></i>
              </button>

            </div>
            <div class="qm-visit-list__options__container">

              <span *ngIf="canTransferQ" class="visit-tray-option visit-transfer-queue-btn" (click)="transferToQ(visit)">
                <button class="content qm-transparent-btn" >
                  <span class="icon">
                    <i class="icon-queue"></i>
                  </span>
                  <span class="label">
                    {{'transfer_visit_queue_header_simple' | translate}}
                  </span>
                </button>
              </span>
              <span *ngIf="canTransferStaff" class="visit-tray-option visit-transfer-staff-btn">

                <button class="content qm-transparent-btn" (click)="transferToStaffPool(visit)">
                  <span class="icon">
                    <i class="icon-customer-solid"></i>
                  </span>
                  <span class="label">
                    {{'transfer_visit_user_pool_header_simple' | translate}}
                  </span>
                </button>
              </span>
              <span *ngIf="canTransferSP" class="visit-tray-option visit-transfer-sp-btn">
                <button class="content qm-transparent-btn" (click)="transferToSPfPool(visit)">
                  <span class="icon">
                    <i class="icon-screen"></i>
                  </span>
                  <span class="label">
                    {{'transfer_visit_sp_pool_header_simple' | translate}}
                  </span>
                </button>
              </span>

              <div style="display:flex;width: 66%;margin: auto;">
                <span tabindex="0" *ngIf="canDelete" class="visit-tray-option-bottom visit-delete-btn" (click)="deleteVisit(i,$event)"
                (keydown.space)="deleteVisit(i,$event)" (keydown.enter)="deleteVisit(i,$event)" >
                  <span class="bottom-icon-container">
                    <span class="icon"> <i class="icon-delete delete-icon"></i></span>
                    <span class="content">{{'remove' | translate}}</span>
                  </span>
                </span>
                <span tabindex="0" *ngIf="canCherryPick" class="visit-tray-option-bottom  visit-cherry-pick-btn" (click)="cherryPickVisit(i,$event)" 
                [ngStyle]="{'cursor': dsOrOutcomeExists && canCherryPick ? '' : 'pointer'}" (keydown.space)="cherryPickVisit(i,$event)" (keydown.enter)="cherryPickVisit(i,$event)">
                  <span class="bottom-icon-container">
                    <span class="icon" [ngStyle]="{'color': dsOrOutcomeExists && canCherryPick ? '#bdbdbd' : '#E50046'}"> 
                      <i *ngIf="userDirection === 'ltr'" class="icon-check" ></i>
                      <i *ngIf="userDirection === 'rtl'" class="icon-check-rtl" ></i>
                    </span>
                    <span class="content" [ngStyle]="{'color': dsOrOutcomeExists && canCherryPick ? '#bdbdbd' : '#E50046'}"> {{'serve'|
                      translate}}
                    </span>
                  </span>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
        <!-- second options -->
        <div class="qm-visit-list__options-2" *ngIf="visitClicked && selectedVisitId === visit.visitId && (visitOptionStatus === 'staff' || visitOptionStatus === 'cp' || visitOptionStatus === 'tq')">
          <!-- <div class="triangle-with-shadow"></div> -->
          <div class="qm-visit-list__options-2__rec">
            <div class="qm-visit-list__options-2__heading">
              <div class="qm-title">
                <button class="qm-transparent-btn">
                <i *ngIf="userDirection === 'ltr'" class="icon-caret-left qm-icon_back" (click) = "backToQueueOptionsButton()"></i>
                <i *ngIf="userDirection === 'rtl'" class="icon-caret-right qm-icon_back" (click) = "backToQueueOptionsButton()"></i>
                </button>
                <span class="qm-visit-options-ticket-id"> {{visit.ticketId}} </span> 
                <span *ngIf ="visitOptionStatus === 'staff'">{{'staff_member'|translate}} </span>
                <span *ngIf ="visitOptionStatus === 'cp'">{{'counter_pool'|translate}} </span>
                <span *ngIf ="visitOptionStatus === 'tq'">{{'queue_transfer'|translate}} </span>
              </div>
              <button class="qm-icon qm-transparent-btn"  (click)="closeVisitOptions()">
                <i class="icon-close"></i>
              </button>
            </div>
            <qm-transfer-to-staff-pool *ngIf ="this.visitOptionStatus === 'staff'"></qm-transfer-to-staff-pool>
            <qm-transfer-to-service-pool *ngIf ="this.visitOptionStatus === 'cp'"></qm-transfer-to-service-pool>
            <qm-trasfer-to-queue *ngIf ="this.visitOptionStatus === 'tq'"></qm-trasfer-to-queue>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>	