@import "../../../../styles/base/_component-manifest.scss";
.qm-identify-visit-search {
    width: 100%;
    &__input {
        padding: 8px;
        width: 50%;
        margin: auto;
        margin-bottom: 5px;
    }
    &__search-container {
        margin-left: 25%;
    }
    &__or-text {
        padding: 0px 10px
    }
}

.qm-qr-code-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    display: inline-block;
 
}

:host {

    .sort-icon {
        margin-left: 0.4rem;
        cursor: pointer;
    }
    font-size: rem(14px);
}

.qm-visit-list {
    margin: rem($standard-margin * 1.5) rem($standard-margin*0.5) 0 rem($standard-margin*0.5);
  
    &__headers {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3rem;
        margin-right: 2rem;
        margin-left: 2rem;
        i {
            font-size: 1.2rem;
            padding-right: rem(8px);
            @at-root [dir="rtl"] & {
                margin-left: 0.2rem;
            }
        }
    }
    &-header-item {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 0;
        text-transform: uppercase;
        &-label {
            @include add-text-ellipsis;
            width: inherit;
        }
    }

    &-body-row-container {
        display: flex;
        flex-direction: column;    
        width: 100%;

        &-shadow {
            z-index: 10;
            box-shadow :1px 0px 15px 6px grey;
        }
    }

    &-body-row {
        background-color: white;
        color: black;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3rem;
        border-bottom: 1px solid #e9e9e9;
        &-caret-view {
            display: flex;
         padding-left: 10px;
         justify-content: center;
         
        }


        &-label {
            padding-left: 5px;
            @include add-text-ellipsis;
            width: inherit;
        }
    }
    background-color: $wating-list-background;
}

[dir='rtl'] :host {
    .qm-visit-list {
        i {
            margin-left: 0.25rem;
        }
    }
}

.qm-clear-search {
    margin: 0px 10px 0px -25px;
    position: relative;
    z-index: 2;
    color: black;
    @at-root [dir="rtl"] {
        .qm-clear-search {
            margin: 0px -25px 0px 10px;
        }
    }
}
.qm-visit-list__body {
    max-height: calc(100vh - 165px);
    overflow: auto;
    display: flex;
    flex-direction: column;
}



.qm-visit-list__options {
    display: flex;
    flex-direction: row;

    &__container {
        display: flex;
        flex-direction: row;
        width: 100%;
        background: white;
        padding: 0 2em;
        text-align: center;
        justify-content: center;

   

        .visit-transfer-queue-btn svg,
        .visit-transfer-sp-btn svg,
        .visit-transfer-staff-btn svg {
            width: 60px !important;
        }
        .visit-cherry-pick-btn svg,
        .visit-delete-btn svg {
            width: 30px !important;
        }
    }

    .visit-tray-option {
        display: flex;
        flex-direction: column;
        width: 19%;
        text-align: center;
        margin-top: 15px;
        align-items: center;
        justify-content: center;
        height:90px;
        margin-bottom: 15px;
        .label {
            padding: 15px 10px;
            color: black;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 12px;
            @include add-text-ellipsis ;
        }
    }
   
}
.inner-box {
    padding: 8px;
}
.no-visits-message {
    letter-spacing: 0;
    text-align: center;
    padding-top: 5em;
    color: #3e3d3d;
}


.no-visits-message .text-deco {
    font-weight: 500 !important;
    border-bottom: 1px solid #3e3d3d;
    padding-bottom: 6px;
    cursor: pointer;
}

.no-visits-message .text-deco:active {
    color: #565555 !important;
}
.disabled-true-btn-color {
    fill: #bdbdbd !important;
}