@import "../../../../styles/base/_component-manifest.scss";
.qm-identify-visit-search {
    width: 100%;
    &__input {
        padding: 8px;
        width: 50%;
        margin: auto;
        margin-bottom: 5px;
    }
    &__search-container {
        margin-left: 25%;
    }
    &__or-text {
        padding: 0px 10px
    }
}

.qm-qr-code-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    display: inline-block;
 
}

:host {
    .sort-icon {
        margin-left: 0.4rem;
        cursor: pointer;
    }
    font-size: rem(14px);
    overflow: auto;
}

.qm-visit-list {
    margin: rem($standard-margin * 1.5) rem($standard-margin*0.5) 0 rem($standard-margin*0.5);
    color: $dark-transparent62;
    padding: 10px;
  
    &__headers {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3rem;
        i {
            font-size: 1.2rem;
            padding-right: rem(8px);
            @at-root [dir="rtl"] & {
                margin-left: 0.2rem;
            }
        }
    }
    &-header-item {
        display: flex;
        justify-content: left;
        // align-items: center;
        min-width: 0;
        &-label {
            @include add-text-ellipsis;
            width: inherit;
        }
    }

    &-body-row-container {
        // width: 100%;
        position: relative;
    }

    &-body-row {
        background-color: white;
        color: black;
        align-items: center;
        min-height: 4rem;
        margin: 3px 0px;
        border: 1px solid #D5D5D5;
        box-shadow: 0 0 4px 0 $dark-transparent12;
        &-caret-view {
            display: flex;        
        }
 

        &-label {
            padding-left: 5px;
            @include add-text-ellipsis;
            width: inherit;
        }
    }
    &-body-row:hover{
        background-color:rgba(0,0,0,0.04);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.04);
        border: 1px solid rgba(0,0,0,0.12);
        cursor: pointer;
    }
    &-body-row-selected{
        background-color:rgba(0,0,0,0.04);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.04);
        border: 1px solid rgba(0,0,0,0.12);
        cursor: pointer;
    }
}

[dir='rtl'] :host {
    .qm-visit-list {
        i {
            margin-left: 0.25rem;
        }
    }
}

.qm-clear-search {
    margin: 0px 10px 0px -25px;
    position: relative;
    z-index: 2;
    color: black;
    @at-root [dir="rtl"] & {
        .qm-clear-search {
            margin: 0px -25px 0px 10px;
        }
    }
}
.qm-visit-list__body {
    max-height: calc(100vh - 165px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 455px);
}



.qm-visit-list__options {
   
    width: 450px;
    z-index: 1000;
    position: absolute;
    margin-left: 12px;
    margin-top: -87px;
    margin-bottom: 10px;

    @at-root [dir="rtl"] & {
        margin-right: 12px;
        text-align: right;
    }
    

    &__heading{
        font-weight: 500;
        padding: 20px;
        font-size: 1.4em;
        color: #929596;
        background-color: white;
        display: flex;
        .qm-title{
            flex:10;
            display: flex;
            align-items: center;
        }
        .qm-icon{
            flex: 1;
            text-align: center;
        }
        .icon-close{
            cursor: pointer;
            color: $primary-pink;
            font-weight: 800;
        }
    }

    &__rec{
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.34);
        background: white;
    }

    
    .triangle-with-shadow {
        width: 100px;
        height: 77px;
        position: relative;
        overflow: hidden;
        // box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
      }
      .triangle-with-shadow:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: white;
        transform: rotate(45deg); /* Prefixes... */
        top: 75px;
        left: 7px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
      }



    &__container {
        width: 100%;
        background: white;
        padding: 0 2em;
        text-align: center;
        justify-content: center;
        
        .visit-delete-btn {
            cursor: pointer;
        }
    }

    .visit-tray-option {
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-pink;
        border-radius: 5px;
        width: 73%;
        margin: auto;
        margin-bottom: 15px;
      
        .content {
            padding: 0 10px;
            color: $primary-pink;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 1.3em;
            display: flex;
            cursor: pointer;
          
        }
        .icon{
            flex:1;
            text-align: right;
            font-size: 2.2em;
            padding: 0px 10px;
        }
        .label{
            flex: 8;
            text-align: left; 
            @include add-text-ellipsis ;
            margin-top: 15px;

            @at-root [dir="rtl"] & {
                text-align: right;
            }            

        }
    }
    .visit-tray-option-bottom{
        display: flex;
        flex-direction: column;
        width: 73%;
        margin: auto;
        margin-bottom: 15px;
      
        .content {
            padding: 0 10px;
            color: $primary-pink;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 1.3em;
            display: block;
            text-align: center;
           
        }
        .icon{
            flex:1;
            font-size: 2.2em;
            padding: 0px 10px;
            color: $primary-pink; 
        }
        .label{
            flex: 10;
            @include add-text-ellipsis ;
            margin-top: 15px;
        }
     
    }
   
}
.inner-box {
    padding: 8px;
}
.no-visits-message {
    letter-spacing: 0;
    text-align: center;
    padding-top: 5em;
    color: #3e3d3d;
}


.no-visits-message .text-deco {
    font-weight: 500 !important;
    border-bottom: 1px solid #3e3d3d;
    padding-bottom: 6px;
    cursor: pointer;
}

.no-visits-message .text-deco:active {
    color: #565555 !important;
}
.disabled-true-btn-color {
    fill: #bdbdbd !important;
}

.qm-first-element-header{
    margin-left: 15px;
    @at-root [dir="rtl"] & {
        margin-right: 15px;
    }
}

.qm-first-element{
    margin-left: 15px;
    color:$pale-aquamarine;
    font-weight: bold;
    @at-root [dir="rtl"] & {
        margin-right: 15px;
    }
}

.qm-icon_back{
    color: $primary-pink;
    cursor: pointer;
    }

.qm-body-item{
    @at-root [dir="rtl"] {
        text-align: right;
    }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .visit-tray-option{
        .label{
            padding: 0px 10px;
        }
    }   
}

