@import "../../../../styles/base/_component-manifest.scss";
.qm-identify-visit-search {
    width: 100%;
    &__input {
        padding: 8px;
        width: 50%;
        margin: auto;
        margin-bottom: 5px;
    }
    &__search-container {
        margin-left: 25%;
    }
    &__or-text {
        padding: 0px 10px
    }
}

.qm-qr-code-icon {
    width: 40px;
    height: 40px;
    position: fixed;
    display: inline-block;
}

:host {
    .sort-icon {
        margin-left: 0.4rem;
        cursor: pointer;
        color: $dark-transparent12;
    }
    font-size: rem(14px);
    overflow: auto;
    .selected-sort-icon{
        color: $dark-transparent62;
      }
}



.qm-visit-list {
    color: $dark-transparent62;
    &__headers {
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 3rem;
        font-size: 12px;
        i {
            font-size: 1.2rem;
            padding-right: rem(8px);
            @at-root [dir="rtl"] & {
                margin-left: 0.2rem;
            }
        }
    }
    &-header-item {
        display: flex;
        justify-content: left;
        cursor: pointer;
        font-weight: 500;
        min-width: 0;
        &-label {
            @include add-text-ellipsis;
            width: inherit;
        }
    }

    &-body-row-container {
        // width: 100%;
        position: relative;
    }

    &-body-row {
        background-color: white;
        color: black;
        align-items: center;
        box-shadow: 0 0 4px 0 $dark-transparent12;
        width: 100%;
        height: 100%;
        &-caret-view {
            display: flex;
            // height: 100%;        
        }
        &-label {
            padding-left: 5px;
            @include add-text-ellipsis;
            width: inherit;
        }
    }
    &-body-row:hover{
        background-color:rgba(0,0,0,0.04);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.04);
        // border: 1px solid rgba(0,0,0,0.12);
        cursor: pointer;
        
    }
    &-body-row-selected{
        background-color:rgba(0,0,0,0.04);
        box-shadow: 0 4px 4px 0 rgba(0,0,0,0.04);
        border: 1px solid rgba(0,0,0,0.12);
        cursor: pointer;
    }
}

[dir='rtl'] :host {
    .qm-visit-list {
        i {
            margin-left: 0.25rem;
        }
    }
}

.qm-clear-search {
    margin: 0px 10px 0px -25px;
    position: relative;
    z-index: 2;
    color: black;
    @at-root [dir="rtl"] & {
        .qm-clear-search {
            margin: 0px -25px 0px 10px;
        }
    }
}
.qm-clear-search:hover {
    color: $dark-transparent62;
}

.qm-visit-list__body {
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.qm-col-4{
    flex: 4;
    margin:auto 0;
}
.qm-col-3{
    flex: 3;
    margin:auto 0;
}
.qm-col-2{
    flex: 2;
    margin:auto 0;
}

.qm-visit-list__options {
    margin: rem($standard-margin*0.5);
    width: 504x;
    z-index: 1000;
    position: absolute;
    margin-left: 12px;
    // margin-top: -21px;
    top:30px;
    margin-bottom: 50px;
    
    @at-root [dir="rtl"] & {
        margin-right: 12px;
        text-align: right;
    }
    

    &__heading{
        font-weight: 500;
        padding: 20px;
        font-size: 21px;
        color: #929596;
        border-radius: 4px;
        background-color: white;
        display: flex;
        .qm-title{
            flex:10;
            display: flex;
            align-items: center;
            font-weight: 500;
        }
        .qm-icon{
            flex: 1;
            text-align: center;
        }
        .icon-close{
            cursor: pointer;
            color: $primary-pink;
            font-weight: 800;
        }
      
    }

    &__rec{
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.34);
        background: white;
      
    }

    
    .triangle-with-shadow {
        width: 100px;
        height: 16px;
        position: relative;
        overflow: hidden;
        // box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
      }
      .triangle-with-shadow:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: white;
        transform: rotate(45deg); /* Prefixes... */
        top: 12px;
        left: 7px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
      }



    &__container {
        width: 100%;
        background: white;
        padding: 0 2em;
        text-align: center;
        justify-content: center;
        
        .visit-delete-btn {
            cursor: pointer;
        }
    }

    .visit-tray-option {
        display: flex;
        flex-direction: column;
        border: 1px solid $primary-pink;
        border-radius: 5px;
        width: 73%;
        margin: auto;
        margin-bottom: 15px;
      
        .content {
            padding: 0 10px;
            color: $primary-pink;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 18px;
            display: flex;
            cursor: pointer;
            height: 44px;
          
        }
        .icon{
            flex:1;
            text-align: right;
            font-size: 1.8em;
            padding: 0px 10px;
        }
        .label{
            flex: 8;
            text-align: left; 
            @include add-text-ellipsis;
            max-width: 260px;
            margin-top: 8px;

            @at-root [dir="rtl"] & {
                text-align: right;
            }
        }
    }
 
    .visit-tray-option-bottom{
        display: flex;
        flex-direction: column;
        width: 73%;
        margin: auto;
        margin-bottom: 15px;
      
        .content {
            padding: 0 10px;
            color: $primary-pink;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 1.3em;
            display: block;
            text-align: center;
           
        }
        .icon{
            flex:1;
            font-size: 1.8em;
            padding: 0px 10px;
            color: $primary-pink; 
        }
        .label{
            flex: 10;
            @include add-text-ellipsis ;
            margin-top: 8px;
        }
     
    }
   
}
.visit-tray-option-bottom:focus{
    border:  solid #007bff 1px;
}
.visit-tray-option-bottom:active,
.visit-tray-option-bottom:hover{
    border: none;
}

.visit-tray-option-bottom:active{
    .delete-icon,
    .icon-check,
    .content{
        color: $dark-transparent82 !important;
        }
}

.qm-visit-list__options-2 {
    margin: rem($standard-margin*0.5);
    width: 852px;
    z-index: 1000;
    position: fixed;
    top: 50%;
    height: 478px;
    transform: translateY(-63%);

    @at-root [dir="rtl"] & {
        margin-right: 12px;
        text-align: right;
    }
    

    &__heading{
        border-radius: 4px;
        font-weight: 500;
        padding: 20px;
        font-size: 21px;
        color: #929596;
        background-color: white;
        display: flex;
        .qm-title{
            flex:10;
            display: flex;
            align-items: center;
            font-weight: 500
        }
        .qm-icon{
            flex: 1;
            text-align: center;
        }
        .icon-close{
            cursor: pointer;
            color: $primary-pink;
            font-weight: 800;
        }
        .icon-close:active,.icon-close:hover{
            color: $dark-transparent82;
        }
    }

    &__rec{
        box-shadow: 0 0 8px 0 rgba(0,0,0,0.34);
        background: white;
        height: 478px;
        width: 504px;
        margin-left: auto;
        margin-right: auto;
        border-radius: 4px;
    }

    
    .triangle-with-shadow {
        width: 100px;
        height: 77px;
        position: relative;
        overflow: hidden;
        // box-shadow: 0 16px 10px -17px rgba(0, 0, 0, 0.5);
      }
      .triangle-with-shadow:after {
        content: "";
        position: absolute;
        width: 50px;
        height: 50px;
        background: white;
        transform: rotate(45deg); /* Prefixes... */
        top: 75px;
        left: 7px;
        box-shadow: -1px -1px 10px -2px rgba(0, 0, 0, 0.5);
      }



    &__container {
        width: 100%;
        background: white;
        padding: 0 2em;
        text-align: center;
        justify-content: center;
        
        .visit-delete-btn {
            cursor: pointer;
        }
    }
    .visit-tray-option:hover{
        
        .content {
        font-weight: 500;
    }}

    .visit-tray-option:active{
        border: 1px solid $dark-transparent82;
        .content{
            color: $dark-transparent82;

        }
    }

    .visit-tray-option {
        display: flex;
        //flex-direction: column;
        border: 1px solid $primary-pink;
        border-radius: 5px;
        width: 73%;
        margin: 33px auto;
        justify-content: center;
   
      
        .content {
            padding: 0 10px;
            color: $primary-pink;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 18px;
            display: flex;
            cursor: pointer;
            height: 44px;
            @include qm-sm{
                font-size: 16px;    
            }
          
        }
        .icon{
            text-align: right;
            font-size: 1.8em;
            padding: 0 10px 0 0 ;
        }
        .label{
            text-align: left; 
            @include add-text-ellipsis ;
            margin-top: 8px;

            @at-root [dir="rtl"] & {
                text-align: right;
            }            

        }
    }
    .visit-tray-option-bottom:hover{
        .content {
            font-weight: 500;
        }
    }
    .visit-tray-option-bottom{
        display: flex;
        flex-direction: column;
        width: 73%;
        margin: 23px auto;

      
        .content {
            padding: 0 10px;
            color: $primary-pink;
            letter-spacing: 0px;
            font-weight: 300;
            font-size: 18px;
            display: block;
            text-align: center;
            @include qm-sm{
                font-size: 16px;
            }
           
        }
        .icon{
            flex:1;
            font-size: 1.8em;
            padding: 0px 10px;
            color: $primary-pink; 
        }
        .label{
            flex: 10;
            @include add-text-ellipsis ;
            margin-top: 8px;
        }
     
    }
   
}



.qm-visit-options-ticket-id{
    color: $dark-transparent82;
   
    @at-root [dir="ltr"] & {
        margin-right: 20px;
    }            
    
    @at-root [dir="rtl"] & {
        margin-left: 20px;
    }            
}
.inner-box {
    padding: 8px;
}
.no-visit-message{
  background-color: white;
  padding: 18px;
  width: 100%;
  text-align: center;
  color: $dark-transparent62;
  font-weight: 500;
}

.disabled-true-btn-color {
    fill: #bdbdbd !important;
}

.qm-first-element-header{
    margin-left: 15px;
    font-weight: 500;

    @at-root [dir="rtl"] & {
        margin-right: 15px;
    }
}

.qm-first-element{
    margin-left: 15px;
    color:$pale-aquamarine;
    font-weight: bold;
    @at-root [dir="rtl"] & {
        margin-right: 15px;
    }
}

.qm-ticket-selected{
    color: $dark-transparent82;
    // text-decoration: underline;
    font-weight: bold;
}
.qm-icon_back{
    color: $primary-pink;
    cursor: pointer;
    }

.qm-body-item{
    font-size: 18px;
    @at-root [dir="rtl"] {
        text-align: right;
    }
}
.info-icon-container{
    width: 50px;
}

.bottom-icon-container{
    width: 100%;
}

.qm-details-icon{
    font-size: 2.2em;
    display: block;
    vertical-align: middle;
    align-self: center;
    text-align: center;
    align-items: center;
    color: $dark-transparent42;
    cursor: pointer;
}

.qm-expanded-visit-container{
    padding:16px 22px;
    text-align: left;


    @at-root [dir="rtl"] & {
       text-align: right;
    }
    &__icon{
        font-size: 2em;
        display: block;
        vertical-align: middle;
        align-self: center;
        text-align: center;
        align-items: center;
        color: $dark-transparent82;
        margin-top: 9px;
        cursor: pointer;
        }
    &__text{
        margin-top:9px;
        font-size: 18px;
    }
}


@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .visit-tray-option{
        .label{
            padding: 0px 10px;
        }
    }   
}


.qm-row-text{
 margin: auto 0;
 height: 100%;
 align-items: center;
}
.qm-selected-visit-font{
    font-size: 21px;
}

@include qm-xs-lower {
    .qm-visit-list {
        &-body-row {
            min-height: 56px;
            margin: 4px 0px;
            
        }
    }
    .qm-visit-list__body {
        max-height: calc(100vh - 165px);
        min-height: calc(100vh - 892px);
        // height: 10px;
    }
    .qm-row-text{
        min-height: 56px;
        font-size: 16px;
    }
    
    
}


.qm-display-none{
    @include qm-xs {
        display: none;
    }
    @include qm-sm {
        display: none;
    }
}

@include qm-xs {
    .qm-visit-list {
        padding: 0px 24px;
        &-body-row {
            min-height: 56px;
            margin: 4px 0px;
            
        }
    }
    .qm-visit-list__body {
        max-height: calc(100vh - 843px);
        min-height: calc(100vh - 892px);
        // height: 10px;
    }
    .qm-service-col{
        display: none;
    }
    .qm-visit-list__options-2 {
        
    } 
    .qm-row-text{
        min-height: 56px;
        font-size: 16px;
    }  
    .qm-visit-list__options-2 {
        width: 100%;
        margin-left:-38px;
        margin-right:-38px;

    }   
}



@include qm-sm {
    .qm-visit-list {
        padding: 0px 24px;
        &-body-row {
            min-height: 56px;
            margin: 4px 0px;
            
        }
    }
    .qm-body-item{
        font-size: 16px;
    }
    .qm-service-col{
        display: none;
    }
    .qm-visit-list__body {
        max-height: calc(100vh - 435px);
        min-height: calc(100vh - 485px)
        // height: 10px;
    }
    .qm-visit-list__options-2 {
        width:608px;
        margin-left:-24px;
        margin-right:-24px;
        
    }
    .qm-row-text{
        min-height: 56px;
        font-size: 16px;
        // border: 1px solid #D5D5D5;
    }
}




@include qm-md {
    .qm-visit-list {
        padding: 0px 32px;
        &-body-row {
            min-height: 48px;
            margin: 2px 0px;
            
        }
    }
    .qm-row-text{
        min-height: 48px;
        font-size: 16px;
    }
    .qm-details-icon{
        display: none;
    }
    .info-icon-container{
        display: none;
    }
    .qm-visit-list__body {
        max-height: calc(100vh - 451px);
        min-height: calc(100vh - 485px);
        // height: 10px;
    }
    .qm-visit-list__options-2 {
        margin-left:-32px;
        margin-right:-32px;
        width: 852px;
    }   
 
}


@include qm-lg {
    .qm-visit-list {
        padding: 0px 38px;
        &-body-row {
            min-height: 48px;
            margin: 2px 0px;
            
        }
    }
    .qm-row-text{
        min-height: 56px;
        font-size: 16px;
    }
    .qm-details-icon{
        display: none;
    }
    .info-icon-container{
        display: none;
    }
    .qm-visit-list__body {
        max-height: calc(100vh - 466px);
        min-height: calc(100vh - 520px);
        // height: 10px;
    }
    .qm-visit-list__options-2 {
        width: 1136px;
        margin-left:-38px;
        margin-right:-38px;

    }   
}

.visit-list-body-collapesed{
    @include qm-xs {
        max-height: calc(100vh - 594px);
        min-height: calc(100vh - 594px);
        margin-bottom: 28px;
    }
    @include qm-xs-lower {
        max-height: calc(100vh - 594px);
        min-height: calc(100vh - 692px);
        margin-bottom: 28px;
        }
}

.visit-list-body-without-quick-serve{
    @include qm-xs {
    max-height: calc(100vh - 165px);
    min-height: calc(100vh - 459px);
    }
    @include qm-xs-lower {
    max-height: calc(100vh - 165px);
    min-height: calc(100vh - 459px);
}
}

.info-selected{
    border: 1px solid rgba(0,0,0,0.12);
}

.qm-loader-container {
    display:flex;
    justify-content: center;
    align-items: center;
}

button:focus{
    // border:  solid #007bff 1px;
}
.qm-visit-list-body-row:focus{
    border:  solid #007bff 1px;
}
.info-icon-container:focus{
    outline: none;
    i{
        border:  solid #007bff 1px;
    }
    
}
