<div class="qm-flow-sub-header">

  <div class="qm-identify-visit-search" dir="{{ userDirection$ | async }}">
    <div class="qm-identify-visit-search__search-container">
    <input class="qm-identify-visit-search__input" type="search" placeholder="{{ 'visit_search_placeholder' | translate }}" id="visitSearch" name="q" [(ngModel)]="searchText" #visitSearch  (keyup.enter)="keyDownFunction(visitSearch.value.trim())" autocomplete="off"> 
    <i *ngIf="visitSearch.value.trim()" (click)="visitSearch.value = ''" class="icon-close qm-clear-search" aria-hidden="true"></i>
    <span class="qm-identify-visit-search__or-text"> or_la</span>
    <div class="qm-qr-code-icon"></div>
    </div>
  </div>

</div>


<div class="qm-queue-list__container">
    <div class="qm-queue-list">
        <div class="qm-queue-list__headers qm-flex-grid">
          <div class="qm-queue-list-header-item qm-col qm-flex-grid" (click)="onSortClickbyQueue()">
            <div>
              <i class="icon-queue" aria-hidden="true"></i>
            </div>
            <div class="qm-queue-list-header-item-label">{{'queue_view_queue_label' | translate}}</div>
            <div><i  *ngIf="sortedBy =='Queue' && queueCollection.length>1" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
          </div>
          <div class="qm-queue-list-header-item qm-col qm-flex-grid" (click)="onSortClickbyWaitingCustomers()" >
            <div>
              <i class="icon-customer-solid" aria-hidden="true"></i>
            </div>
            <div class="qm-queue-list-header-item-label">{{'queue_view_waiting_customers_label' | translate}}</div>
            <div><i *ngIf="sortedBy =='WaitingCustomers' && queueCollection.length>1" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
          </div>

          <div class="qm-queue-list-header-item qm-col qm-flex-grid"  (click)="onSortClickbyMaxWaitTime()">
              <div>
                <i class="icon-customer-solid" aria-hidden="true"></i>
              </div>
              <div class="qm-queue-list-header-item-label"> {{ 'queue_view_max_wait_time_label' | translate}} </div>
              <div><i  *ngIf="sortedBy =='MaxWaitTime' && queueCollection.length>1" class="sort-icon" [ngClass]="{'icon-caret-up': sortAscending === true, 'icon-caret-down': sortAscending !==  true }"></i></div>
          </div>
          <div class="qm-queue-list-header-item qm-col qm-flex-grid" >
              <div>
                  <i class="icon-clock-solid" aria-hidden="true"></i>
              </div>
              <div class="qm-queue-list-header-item-label"> {{ 'queue_view_estimated_wait_time_label' | translate}} </div>
              <div></div>
          </div>
        
        </div>
      
        <div class="qm-queue-list__body">
          <div class="qm-flex-grid qm-queue-list-body-row" *ngFor="let q of queueCollection" (click)="selectQueue(q)">
              <div class="qm-col qm-queue-list-body-row-label">{{q.queue}}</div>
              <div class="qm-col">{{q.customers }}</div>
              <div class="qm-col max-wait-time-container">
                <div><i class="icon-alert-star max-wait-time" [ngClass]="{'gray-indicator': queueIndicator.isGrayIndicator(q), 'red-indicator': queueIndicator.isRedIndicator(q), 'yellow-indicator': queueIndicator.isYellowIndicator(q)}"></i></div>
                <div> {{q.max_w_time }}</div>
              </div>
              <div class="qm-col">{{ q.esnpmt_w_time || '-' }}</div>
          </div>
        </div>
      </div>
      

</div>