<qm-flow #fa>
  <qm-flow-panel #qu [isHeaderVisible]="true" [isActive]="true" [isContentVisible]="true"> 
      <qm-flow-panel-header (click)="fa.panelHeaderClick(qu); headerClick();" (onFlowExit)="fa.onFlowExit()">
      <qm-flow-panel-title>{{ 'queues' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result *ngIf="selectedQueue">{{selectedQueue?.queue}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-identify-queue dir="{{ userDirection$ | async }}" (onFlowNext)="fa.onFlowNext(iv)"></qm-identify-queue>
    </qm-flow-panel-content>
  </qm-flow-panel>

 
  <!-- <qm-flow-panel #iv>
    <qm-flow-panel-header (click)="fa.panelHeaderClick(ia); branchHeaderClick();" (onFlowExit)="fa.onFlowExit()">
      <qm-flow-panel-title>{{ 'identify_visit' | translate}}</qm-flow-panel-title>
      <qm-flow-panel-result *ngIf="selectedCustomer">{{selectedCustomer?.firstName + ' ' + selectedCustomer?.lastName}}</qm-flow-panel-result>
    </qm-flow-panel-header>
    <qm-flow-panel-content>
      <qm-edit-visit-list dir="{{ userDirection$ | async }}" (onFlowNext)="fa.onFlowNext(iv)"></qm-edit-visit-list>
    </qm-flow-panel-content>
  </qm-flow-panel>  
</qm-flow> -->

<qm-flow-panel #iv>
  <qm-flow-panel-header (click)="fa.panelHeaderClick(ia); branchHeaderClick();" (onFlowExit)="fa.onFlowExit()">
    <qm-flow-panel-title>{{ 'transfer_visit_queue_header' | translate}}</qm-flow-panel-title>
  </qm-flow-panel-header>
  <qm-flow-panel-content>
    <qm-trasfer-to-queue dir="{{ userDirection$ | async }}" ></qm-trasfer-to-queue>
  </qm-flow-panel-content>
</qm-flow-panel>  
</qm-flow>
