<qm-flow #fa>
      <qm-flow-panel #qu [isHeaderVisible]="true" [isActive]="queueFlowActive " [isContentVisible]="queueFlowActive"> 
          <qm-flow-panel-header (click)="fa.panelHeaderClick(qu); queueHeaderClick();" (onFlowExit)="fa.onFlowExit()">
          <qm-flow-panel-title>{{ 'queues_section_header_label' | translate}}</qm-flow-panel-title>
          <qm-flow-panel-result *ngIf="selectedQueue">{{selectedQueue?.queue}}</qm-flow-panel-result>
        </qm-flow-panel-header>
        <qm-flow-panel-content>
          <qm-identify-queue class="qm-content" [isVisible]="qu.isContentVisible" dir="{{ userDirection$ | async }}"  (onFlowNext)="fa.onFlowNext(iv); showVisitFlow()"></qm-identify-queue>
        </qm-flow-panel-content>
      </qm-flow-panel>

 
      <qm-flow-panel #iv  [isHeaderVisible]="visitFlowActive" [isActive]="visitFlowActive" [isContentVisible]="visitFlowActive" >
        <qm-flow-panel-header  (click)="fa.panelHeaderClick(iv); visitHeaderClick(); " (onFlowExit)="fa.onFlowExit()">
          <qm-flow-panel-title>{{ 'identify_visit' | translate}}</qm-flow-panel-title>
          <qm-flow-panel-result *ngIf="HeaderSelectedVisit">{{HeaderSelectedVisit.ticketId}}</qm-flow-panel-result>
        </qm-flow-panel-header>
        <qm-flow-panel-content>
          <qm-edit-visit-list class="qm-content" dir="{{ userDirection$ | async }}" (PreviousFlow)="goBack(); fa.onFlowNext(qu)" (NextFlow)="NextFlow($event)"  (onFlowNext)="fa.onFlowNext(t)"></qm-edit-visit-list>
        </qm-flow-panel-content>
      </qm-flow-panel>  


      <qm-flow-panel #t>
        <qm-flow-panel-header (click)="fa.panelHeaderClick(t); " (onFlowExit)="fa.onFlowExit()">
          <qm-flow-panel-title  *ngIf="currentFlow=='tq'">{{ 'transfer_visit_queue_header' | translate}}</qm-flow-panel-title>
          <qm-flow-panel-title *ngIf="currentFlow=='tspp'">{{ 'transfer_visit_sp_pool_header' | translate}}</qm-flow-panel-title>
          <qm-flow-panel-title *ngIf="currentFlow=='tsp'">{{ 'transfer_visit_user_pool_header' | translate}}</qm-flow-panel-title>
        </qm-flow-panel-header>
        <qm-flow-panel-content>
          <qm-trasfer-to-queue class="qm-content" *ngIf="currentFlow=='tq'" dir="{{ userDirection$ | async }}" ></qm-trasfer-to-queue>
          <qm-transfer-to-service-pool class="qm-content" *ngIf="currentFlow=='tspp'" dir="{{ userDirection$ | async }}" ></qm-transfer-to-service-pool>
          <qm-transfer-to-staff-pool class="qm-content"  *ngIf="currentFlow == 'tsp'" dir="{{ userDirection$ | async }}" ></qm-transfer-to-staff-pool>
        </qm-flow-panel-content>
      </qm-flow-panel>  

</qm-flow>
