<qm-tabber>
  <div
    class="qm-page-root qm-profile "
    dir="{{userDirection$ | async}}"
    (click)="closeDropDown(bdd, sdd)"
  >
    <qm-page-header></qm-page-header>
    <div class="qm-profile-content">
        <button id="qm-close-button" tabindex="5" class="qm-tab qm-transparent-btn qm-action-btn qm-modal-close"  (click)="onCancel()">
            <i aria-hidden="true" class="icon-close"></i>
            <span class="sr-only">{{ 'button.close' | translate }}</span>
          </button>
      <h1 class="qm-profile-content__title" tabindex="-1" id='qm-profile-page-title'>
        {{ "label.select.profile.settings" | translate }}
      </h1>
      <div class="qm-dropdown-heading">
        {{ "label.profile.branch" | translate }}
      </div>
      <qm-drop-down
        class="qm-branch-dd"
        #bdd
        (onExpand)="collapseSiblingDropDowns(sdd)"
        [searchPlaceHolder]="'label.branch.search'"
        [caption]="selectedBranch?.name"
        itemType="branch"
        [isItemSelected]="selectedBranch?.id > -1"
        [items]="branches"
        (itemClick)="onBranchSelect($event)"
        labelProperty="name"
      ></qm-drop-down>
      <div class="qm-dropdown-heading">
        {{ "label.profile.service" | translate }}
      </div>
      <qm-drop-down
        #sdd
        (onExpand)="collapseSiblingDropDowns(bdd)"
        [searchPlaceHolder]="'placeholder.profile.servicepoint'"
        [caption]="selectedServicePoint?.name"
        itemType="service"
        [isItemSelected]="selectedServicePoint?.id > -1"
        (itemClick)="onServicePointSelect($event)"
        [items]="servicePoints"
        labelProperty="name"
      ></qm-drop-down>

      <div class="qm-error-message" *ngIf="errorMessage" role="alert"> {{ errorMessage }}</div>

      <div class="qm-use-as-default" [ngClass]="{'qm-checkbox-focused':skipBranchFocus}">
        <!--
          input type="checkbox" class="qm-use-as-default__checkbox" [(ngModel)]="isEnableUseDefault"/
        -->
        <label for="qm-checkbox" class="qm-checkbox-label">
            <div class="qm-checkbox__selector">
              <input id="qm-skip-step" class="styled-checkbox qm-tab" type="checkbox"
                [(ngModel)]="isEnableUseDefault" (focus)="skipButtonHover = true;skipBranchFocus=true"
                (focusout)="skipButtonHover = false;skipBranchFocus=false"
                [disabled]=" selectedBranch.id==-1 || selectedServicePoint.id==-1">
              <label for="qm-skip-step" (mouseenter)="skipButtonHover = true"
                (mouseleave)="skipButtonHover = false" (mousedown)="mousePressed = true"
                (mouseup)="mousePressed = false"
                class="qm-checkbox__selector-icon-text">{{ 'label.skip_next_time' | translate }}</label>
              <div aria-hidden="true" *ngIf="skipButtonHover || mousePressed"
                [ngClass]="{ 'checkbox-backdrop-unchecked': !isEnableUseDefault}" class="qm-check-box-background">
              </div>
            </div>
          </label>

      </div>

      <div class="qm-profile-button-container">
        <button tabindex="3"
          class="qm-tab qm-profile-cancel qm-btn--secondary btn-light-active-action :active btn-plain qm-tab"
          (click)="onCancel()"
        >
          {{ "label.cancel" | translate }}
      </button>
        <button tabindex="4"
          class="qm-tab qm-profile-ok qm-btn--primary btn-light-active-action :active"
          (click)="onConfirmProfile()"
        >
          {{ "button.profile.apply" | translate }}
      </button>
      </div>

      <!-- temp -->
      <!--
        <hr>
        <p (click)="goToCustomer()"> customers</p>
        <hr>
      -->
      <div class="qm-privacy-policy" *ngIf="privacyPolicyUrl">
        <div (click)="showPrivacyPolicyUrl()">
          {{ "privacy_policy" | translate }}
        </div>
      </div>
    </div>
  </div>
</qm-tabber>
