@import '../../../../styles/base/_component-manifest.scss';
.qm-profile {
  
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  @include qm-background;
  &-cancel {
    cursor: pointer;
  }
  &-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: rem(154px) auto 0 auto;
    border-radius: 4px;
    background-color: $white;
    color: $dark-transparent82;
    padding: 2rem;
    width: 30%;
    &__title {
      margin-bottom: 2rem;
      font-size: 28px;
      letter-spacing: -0.2px;
      font-weight: 300;     
      text-align: left;
      @include add-text-ellipsis;

      @at-root [dir='rtl'] & {
        text-align: right;
      }
    }
  }
  .qm-dropdown {
    width: 100%;
    margin: 0.5rem 0;
    position: relative;

    &-heading {
      font-size: 14px;
      color: $dark-transparent62;
      width: 100%;
    }

    &-button {
      width: 100%;
      margin: 0;
      min-height: 3rem;
      border: 1px solid $drop-down-border-color;
      background: $white;
      border-radius: .25rem;
      display: flex;
      align-items: center;
      display: flex;
      padding: 1rem;
      cursor: pointer;
      &--label {
        flex: 1;
        text-align: left;
      }
    }
    &__content {
      position: absolute;
      background-color: $light-gray3;
      text-align: left;
      min-width: 10rem;
      box-shadow: 0 0.5rem 1rem 0 $drop-down-box-shadow-color;
      width: 100%;
      margin-top: -.2em;
      z-index: 1000;
      a {
        color: $drop-down-item-color;
        padding: 0.75rem 1rem;
        display: block;
        width: 100%;
        text-decoration: none;
      }
    }
  }
  .qm-use-as-default {
    width: 100%;
    margin-top: 1rem;
    display: inline-flex;
    &__checkbox {
      display: inline-block;
      width: 20px;
      height: 20px;
      vertical-align: -webkit-baseline-middle;
      padding-right: $standard-padding;
      margin-right: 0.7rem;

    }
  }
  .qm-privacy-policy {
    position: fixed;
    bottom: 1rem;
    font-size: $font-small;
    color: $primary-text-color;
    div:hover {
      cursor: pointer;
      text-decoration: underline;
    }
  }

  .qm-checkbox__selector-icon-text {
    font-size: 18px;
    color: $dark-transparent82;
    font-weight: 300;
    padding-left: 0.5rem;
  }
}

.qm-profile-button-container {
  display: flex;
  width: 100%;
  @at-root [dir='ltr'] & {
    justify-content: flex-end;
  }
}

.qm-profile-ok , .qm-profile-cancel  {
  margin-top: 1rem;
  border: $border-thin solid;
  line-height: 2.6rem;
  font-size: 18px;
  border-radius: 6px;
  text-align: center;
  cursor: pointer;
  @include add-text-ellipsis;
  width: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  font-weight: 300;
}

.qm-branch-dd {
  margin-bottom: 2rem;
}

.qm-dropdown-heading {
  text-align: left;

  @at-root [dir='rtl'] & {
    text-align: right;
  }
}

.qm-profile-cancel {
  margin-right: 1.5rem;
  @at-root [dir='rtl'] & {
    margin-left: 1.5rem;
    margin-right: auto;
  }
}

[dir="rtl"] {
  .qm-use-as-default__checkbox {
    margin-left: 0.7rem;
  }
}

@media screen and (max-width: 800px) {
  .qm-profile {
    &-content {
      margin-top: 154px;
      width: 70%;
    }
  }
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

.qm-profile {
    &-content {
      width: 50%;
    }
  }
}

.qm-error-message {
  width: 100%;
  color: #E50046;
  font-size: 14px;
  text-align: left;
  @at-root [dir='rtl'] & {
    text-align: right;
  }
}