// Generic colors
$midnight-blue: #1a1c34;
$late-midnight-blue: rgba(26, 28, 51, 0.4);
$medium-blue: #2c364f;
$pale-blue: #334366;
$qmatic-bordeaux: rgb(169, 2, 58);
$danger-red: rgb(228, 0, 70);
$primary-pink:#E50046;

$pale-aquamarine: #03996C;
$light-gray1: #f4f4f4;
$light-gray2: #dedede;
$light-gray3: #f9f9f9;
$light-gray4: #f1f1f1;
$light-gray5: rgb(217, 217, 217);
$light-gray6: rgb(232, 232, 232);
$light-gray7:#e8e8e8;
$light-gray8: #d6d6d6;
$light-gray9: #C0C0C0;
$light-gray10: #fafafa;
$medium-gray: rgb(86, 86, 86);
$charcoal: #2b2b2b;
$soft-gray: #e0e0e0;
$d-gray: #D8D8D8;
$white: #FFFFFF;
$light-transparent75: rgba(255, 255, 255, 0.75);
$light-transparent50: rgba(255, 255, 255, 0.5);
$light-transparent42: rgba(255, 255, 255, 0.42);
$light-transparent12: rgba(255, 255, 255, 0.12);

$primary-text-color: $white;
$black: #000000;
$dark-transparent20: rgba(0, 0, 0, 0.20);
$dark-transparent82: rgba(0, 0, 0, 0.82);
$dark-transparent72: rgba(0, 0, 0, 0.72);
$dark-transparent62: rgba(0, 0, 0, 0.62);
$dark-transparent42: rgba(0, 0, 0, 0.42);
$dark-transparent44: rgba(0, 0, 0, 0.44);
$dark-transparent22: rgba(0, 0, 0, 0.22);
$dark-transparent12: rgba(0, 0, 0, 0.12);
$dark-transparent04: rgba(0, 0, 0, 0.04);
$dark-transparent02: rgba(0, 0, 0, 0.02);

$dark-gray: rgb(103, 103, 103);
$background-gradient-stop1: #32405C;
$background-gradient-stop2: #40526E;
$background-gradient-stop3: #374561;
$background-gradient-stop4: #394561;
$background-gradient-stop5: #484766;
$light-aquamarine: rgb(209, 237, 228);
$lighter-aquamarine: rgba(209, 237, 228, 0.3);
$toggle-unchecked-background: #C7C7C7;
$standard-border-color: $dark-transparent12;
// Application colors
$primary-color:$midnight-blue;
$secondary-color: $pale-aquamarine;
$tertiary-color: $qmatic-bordeaux;
$primary-background-color:$midnight-blue;
$standard-box-shadow: 0 2px 4px 0 $dark-transparent42;
$heavy-box-shadow: 0 5px 8px 0 $dark-transparent42;
// Header
$header-background-color: $primary-color;
$header-text-color: $white;
$header-border-color: rgb(169, 2, 58);
//Header branchName
$header-branch-name-color: #8C8D99;
//header Service Point name Color
$header-service-point-name-color: #8C8D99;
//aheader Edit Button
$header-edit-link-color: #C5C6CB;
$secondary-hover: rgba(3,153,108,0.04);
// Main
$dark-background-gradient: linear-gradient(254.96deg, $background-gradient-stop1 0%, $background-gradient-stop2 34.9%, $background-gradient-stop3 62.87%, $background-gradient-stop4 77.12%, $background-gradient-stop5 100%);
// Dashboard
$tab-background-color: $white;
$dashboard-body-box-shadow: $standard-box-shadow;
// Footer
$footer-background-color: $tertiary-color;
$footer-text-color: $light-transparent50;
// Buttons
$button-disabled-color: $dark-transparent42;
$button-disabled-border-color: #949494;
$primary-button-background: $primary-pink;
$primary-button-text-color: $white;
$primary-button-border-color: $primary-pink;
$primary-button-active-color: $dark-transparent82;
$secondary-button-background: $white;
$secondary-button-text-color: $qmatic-bordeaux;
$secondary-button-border-color: $qmatic-bordeaux;
$secondary-button-active-color: $dark-transparent82;
$primary-action-button-color: $qmatic-bordeaux;
$primary-action-button-active-color: $dark-transparent82;
$primary-action-button-disabled-color: $dark-transparent42;
$customer-count-btn-background-color: $white;
$primary-label-color: $dark-transparent82;
$secondary-label-color: $dark-transparent42;

//Check boxes
$checkbox-color: $pale-aquamarine;

// Booking
$list-item-selected-color: $light-aquamarine;
$list-item-hover-color: $dark-transparent04;
// Toasts
$toast-success-background-color: $secondary-color;
$toast-error-background-color: $primary-color;
$toast-info-background-color: $primary-color;
$toast-text-color: $white;
// Print
$print-border-color: $d-gray;
// Textfields
$disabled-background: $dark-transparent04;
$errorinput-border: $qmatic-bordeaux;
//drop downs
$drop-down-border-color: $medium-gray;
$drop-down-box-shadow-color: $dark-transparent20;
$drop-down-item-color: $black;
//summary view
$wating-list-background: $late-midnight-blue;


$queue-indicator-red: $danger-red;
$queue-indicator-yellow: rgb(255, 228, 91);
//modal
$modal-text-color: $black;
$modal-secondary-button-background: #8e8e8e;

$queue-indicator-red: $danger-red;
$queue-indicator-yellow: rgb(255, 228, 91);

$queue-indicator-red: $danger-red;
$queue-indicator-yellow: rgb(255, 228, 91);
$app-theme: var(--app-theme);
$header-inactive: $dark-gray;
$flow-background : $light-gray10;

$numeric-button-control: $light-gray6;

// Calendar colors
$calendar-background: $white;
$calendar-today-background: #e3f2ff;

// tool tip colors
$tooltip-color: $dark-transparent42;

$search-bar-background: $white;
$seach-bar-text-color: $black;

//reskin 
$hover-background-main: $dark-transparent04;
$icon-color-default:  $dark-transparent42;
$background-default: $light-gray10;
$timeslot-background: #f5f5f5;

// appointment list 
$listitem-border-color : #d5d5d5;

// time filter
$timefilter-header : #929596





