@font-face {

  font-family: Montserrat-Light;

  src: url("./assets/fonts/Montserrat-Light.eot?#iefix")
      format("embedded-opentype"),
    url(./assets/fonts/Montserrat-Light.otf) format("truetype");
}

@font-face {
  font-family: Montserrat-Regular;
  src: url(./assets/fonts/Montserrat-Regular.otf) format("truetype");
}

@font-face {
  font-family: Montserrat-SemiBold;
  src: url(./assets/fonts/Montserrat-SemiBold.otf) format("truetype");
}

@font-face {
  font-family: Montserrat-UltraLight;
  src: url(./assets/fonts/Montserrat-UltraLight.otf) format("truetype");
}

@font-face {
  font-family: OpenSans-CondBold;
  src: url(./assets/fonts/OpenSans-CondBold.ttf) format("truetype");
}

@font-face {
  font-family: OpenSans-CondLight;
  src: local("OpenSans CondLight"), local("OpenSans-CondLight"),
    url("./assets/fonts/OpenSans-CondLight.ttf") format("truetype");
  /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

@font-face {
  font-family: "OpenSans-CondLight";
  src: url("./assets/fonts/OpenSans-CondLight.eot?") format("eot"),
    url("./assets/fonts/OpenSans-CondLight.woff") format("woff"),
    url("./assets/fonts/OpenSans-CondLight.ttf") format("truetype"),
    url("./assets/fonts/OpenSans-CondLight.svg#OpenSans-CondensedLight")
      format("svg");
  font-weight: normal;
  font-style: normal;
}
