@import "../svgs/manifest";
$primary-font-family: "Roboto", sans-serif;
$primary-font-light: "Roboto-Light", sans-serif;
$secondary-font-semi-bold: "Montserrat-SemiBold";
$secondary-font-regular: "Montserrat-Regular";
$secondary-font-light: "Montserrat-Light";
$tertiary-font-family: "OpenSans-CondLight";
$standard-border-radius: 4px;
$extended-letter-spacing: 1px;
$header-letter-spacing: 2px;
$extended-letter-spacing-2: 2px;
$font-family: "Roboto", sans-serif;
$base-unit: 16px;

$button-font-size: 18px;

$border-thick: 2px;
$border-thin: 1px;
// Standard padding and margin
$standard-padding: 16px;
$standard-margin: 16px;

$standard-icon-size: 34px;

//animations
$standard-animation-duration: 0.5s;

$global-header-height: 56px;
$global-footer-height: 40px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-small: 0.8rem;
$font-medium: 0.9rem;

// home page
$home-menu-height: 6.5rem;

// Z-indexes
$z-index: (
  toastContainer: 150,
  modal: 200
);

$grid-columns: 12 !default;
$grid-gutter-width: 16px !default;
// Breakpoints
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 900px,
  //1025px, //992px

    xl: 1200px
) !default;

// Breakpoints
$qm-device-breakpoints: (
  xs-width: 768px,
  sm-width: 1024px,
  md-width: 1440px,
  lg-width: 1920px
) !default;


$qm-height-breakpoints: (
  xs-height: 650px,
  sm-height: 1024px,
  md-height: 1440px,
  lg-height: 1920px
) !default;

$appointment-identify-searchbar-width: 55%;
// search input
$standard-item-height: 56px;
$large-search-input-height: $standard-item-height;
$standar-line-height: 24px;
$done-area-height: 75px;

//table heights
$lg-md-row-height: 48px;
$sm-xs-row-height: 56px;


//Identify appointment - XS
$xs-timebox-width : 476px;

// Reschedule appointment
$reschedule-container-width-sm : 970px;
$reschedule-container-width-md : 1220px;

$modal-close-font-size: 1.6rem;