$primary-font-family: sans-serif;
$secondary-font-semi-bold: 'Montserrat-SemiBold';
$secondary-font-light: 'Montserrat-Light';
$tertiary-font-family: 'OpenSans-CondLight';
$extended-letter-spacing: 1px;


$standard-padding: 10px;
$border-thick: 2px;
// Standard padding and margin
$standard-padding: 16px;
$standard-margin: 16px;

$global-header-height: 56px;
$global-footer-height: 40px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-small: 0.8rem;
$font-medium: 0.9rem;

// Z-indexes
$z-index: (
  toastContainer: 150,
  modal: 200,
);