@import '../svgs/manifest';
$primary-font-family: 'Roboto', sans-serif;
$secondary-font-semi-bold: 'Montserrat-SemiBold';
$secondary-font-regular: 'Montserrat-Regular';
$secondary-font-light: 'Montserrat-Light';
$tertiary-font-family: 'OpenSans-CondLight';
$extended-letter-spacing: 1px;
$header-letter-spacing: 2px;
$extended-letter-spacing-2: 2px;
$font-family: 'Roboto', sans-serif;
$base-unit: 16px;


$standard-padding: 10px;
$border-thick: 2px;
// Standard padding and margin
$standard-padding: 16px;
$standard-margin: 16px;

$standard-icon-size: 34px;

//animations
$standard-animation-duration: 0.5s;

$global-header-height: 56px;
$global-footer-height: 40px;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;

$font-small: 0.8rem;
$font-medium: 0.9rem;


// home page
$home-menu-height: 7.5rem;

// Z-indexes
$z-index: (
  toastContainer: 150,
  modal: 200,
);

$grid-columns:                12 !default;
$grid-gutter-width:           16px !default;

// Breakpoints
$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 900px, //1025px, //992px
    xl: 1200px
) !default;


$appointment-identify-searchbar-width: 55%;

//search input
$large-search-input-height: 56px;
